<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="h5">Male</div>
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Single </label>
            <input
                [(ngModel)]="data.single_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Co-Habiting/Live-in </label>
            <input
                [(ngModel)]="data.live_in_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Widow/er </label>
            <input
                [(ngModel)]="data.widow_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Divorced/Separated </label>
            <input
                [(ngModel)]="data.separated_male"
                type="number"
                class="form-control"
            />
        </div>

        <div class="mt-5 col-md-12">
            <div class="h5">Female</div>
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Single </label>
            <input
                [(ngModel)]="data.single_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Co-Habiting/Live-in </label>
            <input
                [(ngModel)]="data.live_in_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Widow/er </label>
            <input
                [(ngModel)]="data.widow_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="mt-4 col-md-3">
            <label for="">Divorced/Separated </label>
            <input
                [(ngModel)]="data.separated_female"
                type="number"
                class="form-control"
            />
        </div>
    </div>

    <hr />
    <div class="mr-5 d-flex aic jcc">
        <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
            <span *ngIf="!isLoading"
                ><i class="mr-1 ti-check"></i>Update this Percentage
                Distribution of PMOC Applicants by Civil Status</span
            >
            <Loader *ngIf="isLoading"></Loader>
        </button>
    </div>
</div>
