<div class="card-body">
    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-12">
            <div class="h5">Males</div>
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Single </label>
            <input
                [(ngModel)]="data.single_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Co-Habiting/Live-in </label>
            <input
                [(ngModel)]="data.live_in_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Widow/er </label>
            <input
                [(ngModel)]="data.widow_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Divorced/Separated </label>
            <input
                [(ngModel)]="data.separated_male"
                type="number"
                class="form-control"
            />
        </div>

        <div class="col-md-12 mt-5">
            <div class="h5">Females</div>
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Single </label>
            <input
                [(ngModel)]="data.single_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Co-Habiting/Live-in </label>
            <input
                [(ngModel)]="data.live_in_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Widow/er </label>
            <input
                [(ngModel)]="data.widow_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Divorced/Separated </label>
            <input
                [(ngModel)]="data.separated_female"
                type="number"
                class="form-control"
            />
        </div>
    </div>

    <hr />
    <div class="d-flex aic jcc mr-5">
        <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
            <span *ngIf="!isLoading"
                ><i class="ti-check mr-1"></i>Update this Percentage
                Distribution of PMC Applicants by Civil Status</span
            >
            <Loader *ngIf="isLoading"></Loader>
        </button>
    </div>
</div>
