<div class="row">
    <div class="col-md-12">
        <button (click)="trigger()" class="btn btn-sm btn-dark">
            <i class="mr-1 ti-plus"></i> Add an image
        </button>
        <input
            (change)="readURL($event)"
            type="file"
            style="display: none"
            multiple
            accept="image/*"
            id="file"
        />
    </div>
</div>
<div class="mt-3 row">
    <div
        class="col-sm-3"
        *ngFor="let slide of sliders; let i = index; trackBy: trackByFn"
    >
        <div *ngIf="isSuperAdmin" class="relative">
            <button
                (click)="deleteImage(slide.id)"
                class="btn-minus btn btn-sm btn-light"
                style="opacity: 0.7"
            >
                <i class="ti-minus"></i>
            </button>
        </div>
        <img [src]="slide.photo.uri" alt="" />
    </div>
    <div
        class="col-sm-3"
        *ngFor="let slide of photos; let i = index; trackBy: trackByFn"
    >
        <div class="relative">
            <button
                (click)="deleteTemporaryImage(i)"
                class="btn-minus btn btn-sm btn-light"
                style="opacity: 0.7"
            >
                <i class="ti-minus"></i>
            </button>
        </div>
        <img [src]="slide" alt="" />
    </div>
</div>

<hr />
<div class="mr-5 d-flex aic jcc">
    <button
        (click)="saveImages()"
        [disabled]="isLoading"
        class="btn btn-success"
    >
        <span *ngIf="!isLoading"
            ><i class="mr-1 ti-check"></i>Save added images</span
        >
        <Loader *ngIf="isLoading"></Loader>
    </button>
</div>
