<div class="row">
    <div class="col-md-12">
        <button class="btn btn-sm btn-dark"><i class="ti-plus mr-1"></i> Add an image</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
        <button (click)="deleteImage()" class="btn-minus btn btn-sm btn-light" style="opacity: 0.7">
			<i class="ti-minus"></i>
		</button>
        <img src="../../../../assets/ipop/home/1.jpg" alt="" />
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="saveImages()" class="btn btn-success"><i class="ti-check mr-1"></i> Save added images</button>
</div>