<button class="btn btn-dark">
	<i class="ti-pencil-alt"></i>
	Add MPC-FDC
</button>

<ul class="nav nav-tabs mT-50">
    <li class="nav-item">
        <a class="nav-link text-muted active"> <i class="ti-direction-alt"></i> Province </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> Municipality </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> Barangay </a>
    </li>
</ul>
<br />

<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><i class="ti-ticket c-red-500"></i></th>
                    <td>Mark</td>
                    <td>Konoha</td>
                    <td>
                        <button class="btn btn-sm btn-primary mR-10">View</button>
                        <button class="btn btn-sm btn-dark mR-10">Edit</button>
                        <button class="btn btn-sm btn-outline-dark">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex">
                    <span> 1 MPC-FDC of BAROTAC NUEVO </span>
                    <div class="ml-auto">
                        <button class="btn btn-sm btn-dark mR-10">MPC FDC Team</button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Services Offered</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><i class="ti-id-badge c-orange-500"></i></th>
                            <td>Mark</td>
                            <td>Konoha</td>
                            <td>
                                <button class="btn btn-sm btn-primary mR-10">View MPC Images</button>
                                <button class="btn btn-sm btn-dark mR-10">View Personnel Incharge</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 mT-50">
        <div class="card">
            <div class="card-header bg-light">
                <button class="btn btn-dark">Edit Technical Notes</button>
            </div>
        </div>
    </div>
</div>