<ng-template #addMPCFDCData>
    <AddMPCFDCData></AddMPCFDCData>
</ng-template>

<ng-template #addMPCFDCTeam>
    <AddMPCFDCTeam></AddMPCFDCTeam>
</ng-template>

<ng-template #addMPCFDCImages>
    <AddMPCFDCImages [data]="currenData"></AddMPCFDCImages>
</ng-template>

<ng-template #addMPCFDCPersonnelIncharge>
    <AddMPCFDCPersonnelIncharge></AddMPCFDCPersonnelIncharge>
</ng-template>

<ng-template #viewMPCFDCImages>
    <ViewMPCFDCImages></ViewMPCFDCImages>
</ng-template>

<ng-template #viewMPCFDCTeam>
    <ViewMPCFDCTeam></ViewMPCFDCTeam>
</ng-template>

<ng-template #viewMPCFDCPersonnelIncharge>
    <ViewMPCFDCPersonnelIncharge></ViewMPCFDCPersonnelIncharge>
</ng-template>

<ng-template #customizeTechnicalNotes>
    <CustomizeTechnicalNotes type="MPCFDC"></CustomizeTechnicalNotes>
</ng-template>

<div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1; margin-bottom: -2rem">
    <Modal size="lg" title="Add MPC-FDC Data" btnTitle="Add MPC-FDC Data" btnClass="btn btn-sm btn-dark mr-2" [template]="addMPCFDCData" icon="ti-plus"></Modal>
</div>

<div class="row">
    <div class="col-md-4">
        <label TeenCenter>District</label>
        <select class="form-control">
			<option selected disabled>Choose...</option>
			<option *ngFor="let district of districts">{{ district }}</option>
		</select>
    </div>
    <div class="col-md-4">
        <label>Municipality </label>
        <select class="form-control">
			<option selected disabled>Choose...</option>
			<option *ngFor="let municipality of municipalities">{{ municipality.name }}</option>
		</select>
    </div>
    <div class="col-md-4 mb-1" style="align-self: flex-end">
        <button (click)="getMPCFDC()" class="btn btn-outline-dark pl-3 pr-3 btn-sm"><i class="ti-lock"></i> Lock</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Services</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unit of MPCFDCs">
                        <td>
                            <h1 class="ti-home text-danger"></h1>
                        </td>
                        <td>{{ unit.name }}</td>
                        <td>{{ unit.services }}</td>
                        <td>
                            <DropDown [buttons]="dropdown"></DropDown>
                            <ng-template #dropdown>
                                <Modal (click)="currenData = unit" size="lg" title="MPC Images" btnTitle="MPC Images" btnClass="dropdown-item" [template]="addMPCFDCImages"></Modal>

                                <Modal size="lg" title="View Personnel Incharge" btnTitle="View Personnel Incharge" btnClass="dropdown-item" [template]="viewMPCFDCPersonnelIncharge"></Modal>

                                <Modal size="lg" title="Add Personnel Incharge" btnTitle="Add Personnel Incharge" btnClass="dropdown-item" [template]="addMPCFDCPersonnelIncharge"></Modal>

                                <Modal size="lg" title="View MPC FDC Team" btnTitle="View MPC FDC Team" btnClass="dropdown-item" [template]="viewMPCFDCTeam"></Modal>

                                <Modal size="lg" title="Add MPC FDC Team" btnTitle="Add MPC FDC Team" btnClass="dropdown-item" [template]="addMPCFDCTeam"></Modal>

                                <button (click)="remove(unit.id)" class="dropdown-item">Remove</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12 mT-50">
        <div class="card">
            <div class="card-header bg-white d-flex aic">
                <div class="card-title h5 mr-auto mt-2">Technical Notes</div>
                <Modal size="lg" title="Customize Technical Notes" btnTitle="Customize technical notes" btnClass="btn btn-sm btn-dark" [template]="customizeTechnicalNotes" icon="ti-notepad"></Modal>
            </div>
            <div class="card-body">
                <TechnicalNotes type="MPCFDC"></TechnicalNotes>
            </div>
        </div>
    </div>
</div>