<ng-template #addMPCFDCData>
    <AddMPCFDCData></AddMPCFDCData>
</ng-template>

<ng-template #addMPCFDCTeam>
    <AddMPCFDCTeam></AddMPCFDCTeam>
</ng-template>

<ng-template #addMPCFDCImages>
    <AddMPCFDCImages [data]="currenData"></AddMPCFDCImages>
</ng-template>

<ng-template #addMPCFDCPersonnelIncharge>
    <AddMPCFDCPersonnelIncharge [mpcfdc_id]="mpcfdc_id"></AddMPCFDCPersonnelIncharge>
</ng-template>

<ng-template #viewMPCFDCImages>
    <ViewMPCFDCImages></ViewMPCFDCImages>
</ng-template>

<ng-template #viewMPCFDCTeam>
    <ViewMPCFDCTeam></ViewMPCFDCTeam>
</ng-template>

<ng-template #viewMPCFDCPersonnelIncharge>
    <ViewMPCFDCPersonnelIncharge [mpcfdc_id]="mpcfdc_id"></ViewMPCFDCPersonnelIncharge>
</ng-template>

<ng-template #customizeTechnicalNotes>
    <CustomizeTechnicalNotes type="MPCFDC"></CustomizeTechnicalNotes>
</ng-template>

<div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
    <Modal size="lg" title="Add MPC-FDC Data" btnTitle="Add MPC-FDC Data" btnClass="btn btn-sm btn-dark mr-2" [template]="addMPCFDCData" icon="ti-plus"></Modal>

    <Modal size="lg" title="Add MPC FDC Team" btnTitle="Add MPC FDC Team" btnClass="btn btn-sm btn-primary mr-2" [template]="addMPCFDCTeam"></Modal>
    <Modal size="lg" title="View MPC FDC Team" btnTitle="View MPC FDC Team" btnClass="btn btn-sm btn-outline-primary mr-2" [template]="viewMPCFDCTeam"></Modal>
</div>

<div class="row">
    <div class="col-md-4">
        <label TeenCenter>District</label>
        <select [(ngModel)]="locations.district" class="form-control">
			<option selected disabled>Choose...</option>
			<option *ngFor="let district of districts">{{ district }}</option>
		</select>
    </div>
    <div class="col-md-4">
        <label>Municipality </label>
        <select [(ngModel)]="locations.municipality" class="form-control">
			<option>Choose...</option>
			<option *ngFor="let municipality of municipalities">
				{{ municipality.name }}
			</option>
		</select>
    </div>
    <div class="col-md-4 mb-1" style="align-self: flex-end">
        <button (click)="getMPCFDC()" class="btn btn-outline-dark pl-3 pr-3 btn-sm">
			<i class="ti-lock"></i> Lock
		</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Services</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let unit of MPCFDCs">
                        <td>
                            <h1 class="ti-home text-danger h5"></h1>
                        </td>
                        <td>{{ unit.name }}</td>
                        <td>{{ unit.services }}</td>
                        <td>
                            <DropDown [buttons]="dropdown"></DropDown>
                            <ng-template #dropdown>
                                <Modal (click)="currenData = unit" size="lg" title="New Images" btnTitle="New Images" btnClass="dropdown-item" [template]="addMPCFDCImages"></Modal>

                                <Modal (click)="transformImages(unit.files)" size="lg" title="View Images" btnTitle="View Images" btnClass="dropdown-item" [template]="imageViewer"></Modal>

                                <Modal (click)="mpcfdc_id = unit.id" size="lg" title="Add Personnel Incharge" btnTitle="Add Personnel Incharge" btnClass="dropdown-item" [template]="addMPCFDCPersonnelIncharge"></Modal>

                                <Modal (click)="mpcfdc_id = unit.id" size="lg" title="View Personnel Incharge" btnTitle="View Personnel Incharge" btnClass="dropdown-item" [template]="viewMPCFDCPersonnelIncharge"></Modal>

                                <button (click)="remove(unit.id)" class="dropdown-item">
									Remove
								</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12 mT-50">
        <div class="card">
            <div class="card-header bg-white d-flex aic">
                <div class="card-title h5 mr-auto mt-2">Technical Notes</div>
                <Modal size="lg" title="Customize Technical Notes" btnTitle="Customize technical notes" btnClass="btn btn-sm btn-dark" [template]="customizeTechnicalNotes" icon="ti-notepad"></Modal>
            </div>
            <div class="card-body">
                <TechnicalNotes type="MPCFDC"></TechnicalNotes>
            </div>
        </div>
    </div>
</div>

<ng-template #imageViewer>
    <ImageViewer [images]="currentImages"></ImageViewer>
</ng-template>