<button class="btn btn-dark">
	<i class="ti-pencil-alt"></i>
	Add a File(s)
</button>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>File Name</th>
            <th>Created Last</th>
            <th>Updated Last</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <i class="ti-files c-blue-900"></i>
            </th>
            <td>Mark</td>
            <td>11/14/1994</td>
            <td>11/14/1994</td>
            <td>
                <button class="btn btn-dark mR-10">Edit</button>
                <button class="btn btn-outline-dark">Delete</button>
            </td>
        </tr>
    </tbody>
</table>