<div class="bg-light">
    <ng-template #addBirthData>
        <AddBirthData></AddBirthData>
    </ng-template>

    <ng-template #customizeBirthData>
        <CustomizeBirthData [data]="localData"></CustomizeBirthData>
    </ng-template>

    <ng-template #customizeIllegitimate>
        <CustomizeIllegitimate></CustomizeIllegitimate>
    </ng-template>

    <ng-template #customizeTeenage>
        <CustomizeTeenage></CustomizeTeenage>
    </ng-template>

    <ng-template #customizeMonthChart>
        <CustomizeMonthChart [location]="location"></CustomizeMonthChart>
    </ng-template>

    <ng-template #customizeTechnicalNotes>
        <CustomizeTechnicalNotes></CustomizeTechnicalNotes>
    </ng-template>

    <ng-template #viewOfficials>
        <ViewOfficials></ViewOfficials>
    </ng-template>

    <ng-template #addOfficials>
        <AddOfficials></AddOfficials>
    </ng-template>

    <div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
        <Modal size="lg" title="Add a Birth Data" btnTitle="Add birth data" btnClass="btn btn-sm btn-dark mr-2" [template]="addBirthData" icon="ti-plus"></Modal>

        <Modal size="lg" title="Add Officials" btnTitle="Add an official" btnClass="btn btn-sm btn-danger mr-2" [template]="addOfficials" icon="ti-plus"></Modal>

        <Modal size="lg" title="View  Officials" btnTitle="View officials" btnClass="btn btn-sm btn-outline-danger" [template]="viewOfficials" icon="ti-pin"></Modal>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <div class="p-20 bg-white border">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Total Crude Birth Rate <span class="c-grey-500 fw-400">(Province)</span></h6>
                </div>
                <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                        <div class="peer peer-greed">
                            <div class="progress mt-1 w-75">
                                <div class="progress-bar bgc-green-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="summaries.crude_birth_rate + '%'"></div>
                            </div>
                        </div>
                        <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{
								summaries.crude_birth_rate | number
							}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-20 bg-white border">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Total Fertility Rate <span class="c-grey-500 fw-400">(Province)</span></h6>
                </div>
                <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                        <div class="peer peer-greed">
                            <div class="progress mt-1 w-75">
                                <div class="progress-bar bgc-green-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="summaries.general_fertility_rate + '%'"></div>
                            </div>
                        </div>
                        <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{
								summaries.general_fertility_rate | number
							}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="p-20 bg-white border">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Total Live Births <span class="c-grey-500 fw-400">(Province)</span></h6>
                </div>
                <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                        <div class="peer peer-greed">
                            <div class="progress mt-1 w-75">
                                <div class="progress-bar bgc-green-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="summaries.total_live_births + '%'"></div>
                            </div>
                        </div>
                        <div class="peer">
                            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{
								summaries.total_live_births | number
							}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-8 m-0">
            <div class="card">
                <div class="card-header bg-white d-flex">
                    <div class="h5 mr-auto">Birth Statistics</div>
                    <Modal size="lg" title="Customize Statistical Birth Data" btnTitle="Customize statistical data" btnClass="btn btn-sm btn-dark mr-2" [template]="customizeMonthChart" icon="ti-pencil-alt"></Modal>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas baseChart [colors]="statisticalChart.colors" [datasets]="statisticalChart.datasets" [labels]="statisticalChart.labels" [options]="statisticalChart.options" [legend]="statisticalChart.legend" chartType="bar">
						</canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="layers col-md-4 m-0">
            <div class="layer w-100">
                <div class="card">
                    <div class="card-header bg-white d-flex">
                        <div class="h5 mr-auto">Local Birth Data</div>
                        <div class="ml-auto" *ngIf="localData.id != null">
                            <DropDown [buttons]="Illegitimate"></DropDown>
                            <ng-template #Illegitimate>
                                <Modal size="lg" title="Customize Birth Data" btnTitle="Customize birth data" btnClass="dropdown-item" [template]="customizeBirthData"></Modal>
                            </ng-template>
                        </div>
                    </div>
                    <div class="layer w-100 card-body">
                        <small class="fw-600 c-grey-700">Crude Birth Rate </small>
                        <span class="pull-right c-grey-600 fsz-sm">{{ localData?.crude_birth_rate || 0 | number }}%</span
						>
						<div class="progress mT-10">
							<div
								class="progress-bar bgc-green-500"
								role="progressbar"
								aria-valuenow="50"
								aria-valuemin="0"
								aria-valuemax="100"
								[style.width]="localData?.crude_birth_rate + '%'"
							></div>
						</div>
						<div class="layer w-100 mT-15">
							<small class="fw-600 c-grey-700">Fertility Rate </small>
							<span class="pull-right c-grey-600 fsz-sm"
								>{{ localData?.general_fertility_rate || 0 | number }}%</span
							>
							<div class="progress mT-10">
								<div
									class="progress-bar bgc-green-500"
									role="progressbar"
									aria-valuenow="50"
									aria-valuemin="0"
									aria-valuemax="100"
									[style.width]="localData?.general_fertility_rate + '%'"
								></div>
							</div>
							<div class="layer w-100 mT-15">
								<small class="fw-600 c-grey-700">Live Births </small>
								<span class="pull-right c-grey-600 fsz-sm"
									>{{ localData?.total_live_births || 0 | number }}%</span
								>
								<div class="progress mT-10">
									<div
										class="progress-bar bgc-green-500"
										role="progressbar"
										aria-valuenow="50"
										aria-valuemin="0"
										aria-valuemax="100"
										[style.width]="localData?.total_live_births + '%'"
									></div>
								</div>
							</div>
							<div class="layer w-100 mT-15">
								<small class="fw-600 c-grey-700">Total Population</small>
								<h5 class="mB-5 text-primary">
									<i class="ti-user mr-2"></i>{{ summaries.total | number }}
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mT-50">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-white d-flex">
						<div class="h5 mr-auto">Incidence of Teenage Births</div>
						<div class="ml-auto">
							<DropDown [buttons]="Teenage"></DropDown>
							<ng-template #Teenage>
								<Modal
									size="lg"
									title="Customize Incidence of Teenage Birth Chart"
									btnTitle="Customize incidence of teenage birth chart"
									btnClass="dropdown-item"
									[template]="customizeTeenage"
								></Modal>
							</ng-template>
						</div>
					</div>
					<div class="card-body">
						<canvas
							baseChart
							[datasets]="teenageChart.datasets"
							[labels]="teenageChart.labels"
							[options]="teenageChart.options"
							[legend]="teenageChart.legend"
							chartType="line"
						>
						</canvas>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-white d-flex">
						<div class="h5 mr-auto">Incidence of Illegitimate Births</div>
						<div class="ml-auto">
							<DropDown [buttons]="Illegitimate"></DropDown>
							<ng-template #Illegitimate>
								<Modal
									size="lg"
									title="Customize Incidence of Illigetimate Birth Chart"
									btnTitle="Customize incidence of Illigetimate birth chart"
									btnClass="dropdown-item"
									[template]="customizeIllegitimate"
								></Modal>
							</ng-template>
						</div>
					</div>
					<div class="card-body">
						<canvas
							baseChart
							[datasets]="incidenceChart.datasets"
							[labels]="incidenceChart.labels"
							[options]="incidenceChart.options"
							[legend]="incidenceChart.legend"
							chartType="line"
						>
						</canvas>
					</div>
				</div>
			</div>
			<div class="col-md-12 mt-1">
				<div class="alert alert-danger">
					Note: Incidence of Illegitimate and Teenage Charts should be filled up to avoid process leaks.
				</div>
			</div>
			<div class="col-md-12 mt-2">
				<div class="card">
					<div class="card-header bg-white d-flex aic">
						<div class="card-title h5 mr-auto mt-2">Technical Notes</div>

						<Modal
							size="lg"
							title="Customize Technical Notes"
							btnTitle="Customize technical notes"
							btnClass="btn btn-sm btn-dark"
							[template]="customizeTechnicalNotes"
							icon="ti-notepad"
						></Modal>
					</div>
					<div class="card-body">
						<TechnicalNotes></TechnicalNotes>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>