<div class="bg-light">
    <ng-template #addBirthData>
        <AddBirthData></AddBirthData>
    </ng-template>

    <ng-template #customizeBirthData>
        <CustomizeBirthData [data]="localData"></CustomizeBirthData>
    </ng-template>

    <ng-template #customizeIllegitimate>
        <CustomizeIllegitimate></CustomizeIllegitimate>
    </ng-template>

    <ng-template #customizeTeenage>
        <CustomizeTeenage></CustomizeTeenage>
    </ng-template>

    <ng-template #customizeMonthChart>
        <CustomizeMonthChart type="Birth" [location]="location"></CustomizeMonthChart>
    </ng-template>

    <ng-template #customizeTechnicalNotes>
        <CustomizeTechnicalNotes type="Birth"></CustomizeTechnicalNotes>
    </ng-template>

    <ng-template #viewOfficials>
        <ViewOfficials></ViewOfficials>
    </ng-template>

    <ng-template #addOfficials>
        <AddOfficials></AddOfficials>
    </ng-template>

    <div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
        <Modal size="lg" title="Add a Birth Data" btnTitle="Add birth data" btnClass="btn btn-sm btn-dark mr-2" [template]="addBirthData" icon="ti-plus"></Modal>

        <Modal size="lg" title="Add Officials" btnTitle="Add an official" btnClass="btn btn-sm btn-danger mr-2" [template]="addOfficials" icon="ti-plus"></Modal>

        <Modal size="lg" title="View  Officials" btnTitle="View officials" btnClass="btn btn-sm btn-outline-danger" [template]="viewOfficials" icon="ti-pin"></Modal>
    </div>

    <div class="row mt-1 mb-2">
        <div class="col-md-2 col-md-offset-1 mt-3">
            <Summary title="Total Population" icon="ti-user" spanClass="bgc-blue-50 c-blue-500" [value]="summaries?.summary?.total_population"></Summary>
        </div>
        <div class="col-md-2 mt-3">
            <Summary title="Total Live Births" icon="ti-pulse" spanClass="bgc-green-50 c-green-500" [value]="summaries?.summary?.total_live_births"></Summary>
        </div>

        <div class="col-md-2 mt-3">
            <Summary title="Crude Birth Rate" icon="ti-pulse" spanClass="bgc-green-50 c-green-500" [value]="summaries?.summary?.crude_birth_rate"></Summary>
        </div>

        <div class="col-md-3 mt-3">
            <SummaryWithPercent title="Teenage Births" icon="ti-pulse" spanClass="bgc-orange-50 c-orange-500" progressClass="bgc-orange-500 " [value]="summaries?.summary?.teenage" [percentValue]="
					getPercentage(
						summaries?.teenage?.value || 0,
						summaries?.summary?.total_live_births || 0
					)
				"></SummaryWithPercent>
        </div>

        <div class="col-md-3 mt-3">
            <SummaryWithPercent title="Illegitimate Births" icon="ti-pulse" spanClass="bgc-red-50 c-red-500" progressClass="bgc-red-500 " [value]="summaries?.summary?.illegitimate" [percentValue]="
					getPercentage(
						summaries?.illegitimate?.value || 0,
						summaries?.summary?.total_live_births || 0
					)
				"></SummaryWithPercent>
        </div>
    </div>

    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <PyramidChart-and-AgeGroup [location]="location" type="Birth" pyramidtitle="Birth Pyramid" ageGroupTitle="Births by Age Group and Sex" [colors]="['#3DB98D', '#73B436']" ageGroupColor="#73B436"></PyramidChart-and-AgeGroup>

    <div class="row mt-3">
        <div class="col-md-8 m-0" [ngClass]="{ 'col-md-12': location.municipality === null }">
            <div class="card">
                <div class="card-header bg-white d-flex">
                    <div class="h5 mr-auto">Birth Statistics</div>
                    <Modal size="lg" title="Customize Statistical Birth Data" btnTitle="Customize statistical data" btnClass="btn btn-sm btn-dark mr-2" [template]="customizeMonthChart" icon="ti-pencil-alt"></Modal>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas baseChart [colors]="statisticalChart.colors" [datasets]="statisticalChart.datasets" [labels]="statisticalChart.labels" [options]="statisticalChart.options" [legend]="statisticalChart.legend" chartType="bar">
						</canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="layers col-md-4 m-0" *ngIf="location.municipality != null">
            <div class="layer w-100">
                <div class="card">
                    <div class="card-header bg-white d-flex">
                        <div class="h5 mr-auto">Local Birth Data</div>
                        <div class="ml-auto">
                            <DropDown [buttons]="Illegitimate"></DropDown>
                            <ng-template #Illegitimate>
                                <Modal size="lg" title="Customize Birth Data" btnTitle="Customize birth data" btnClass="dropdown-item" [template]="customizeBirthData"></Modal>
                            </ng-template>
                        </div>
                    </div>
                    <div class="layer w-100 card-body">
                        <div>
                            <small class="fw-Birth c-grey-700">Crude Birth Rate</small
							>
							<h5 class="mB-5 text-primary">
								<i class="ti-user mr-2"></i>
								{{ localData?.crude_birth_rate || 0 | number }}
							</h5>
						</div>
						<div class="layer w-100 mT-15">
							<div>
								<small class="fw-600 c-grey-700"
									>General Fertility Rate</small
								>
								<h5 class="mB-5 c-green-500">
									<i class="ti-user mr-2"></i>
									{{
										localData?.general_fertility_rate || 0
											| number
									}}
								</h5>
							</div>

							<div class="layer w-100 mT-15">
								<small class="fw-600 c-grey-700"
									>Teenage Births</small
								>
								<h5 class="mB-5 c-orange-500">
									<i class="ti-user mr-2"></i>
									{{
										localData?.teenage_births || 0 | number
									}}
								</h5>
							</div>

							<div class="layer w-100 mT-15">
								<small class="fw-600 c-grey-700"
									>Illegitmate Births</small
								>
								<h5 class="mB-5 c-red-500">
									<i class="ti-user mr-2"></i>
									{{
										localData?.illegitimate_births || 0
											| number
									}}
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mT-50">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-white d-flex">
						<div class="h5 mr-auto">
							Incidence of Teenage Births
						</div>
						<div class="ml-auto">
							<DropDown [buttons]="Teenage"></DropDown>
							<ng-template #Teenage>
								<Modal
									size="lg"
									title="Customize Incidence of Teenage Birth Chart"
									btnTitle="Customize incidence of teenage birth chart"
									btnClass="dropdown-item"
									[template]="customizeTeenage"
								></Modal>
							</ng-template>
						</div>
					</div>
					<div class="card-body">
						<canvas
							baseChart
							[datasets]="teenageChart.datasets"
							[labels]="teenageChart.labels"
							[options]="teenageChart.options"
							[legend]="teenageChart.legend"
							chartType="bar"
						>
						</canvas>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-white d-flex">
						<div class="h5 mr-auto">
							Incidence of Illegitimate Births
						</div>
						<div class="ml-auto">
							<DropDown [buttons]="Illegitimate"></DropDown>
							<ng-template #Illegitimate>
								<Modal
									size="lg"
									title="Customize Incidence of Illigetimate Birth Chart"
									btnTitle="Customize incidence of Illigetimate birth chart"
									btnClass="dropdown-item"
									[template]="customizeIllegitimate"
								></Modal>
							</ng-template>
						</div>
					</div>
					<div class="card-body">
						<canvas
							baseChart
							[datasets]="incidenceChart.datasets"
							[labels]="incidenceChart.labels"
							[options]="incidenceChart.options"
							[legend]="incidenceChart.legend"
							chartType="bar"
						>
						</canvas>
					</div>
				</div>
			</div>
			<div class="col-md-12 mt-1">
				<div class="alert alert-primary">
					Note: All Data inputted here will reflect on the summary at
					the top depending on the year chosen
				</div>
			</div>

			<div class="col-md-12 mt-4">
				<ByMunicipalityTable
					title="Births by Municipality"
					headerClass="bgc-green-300"
					[headers]="birthsByMunicipalityHeaders"
					[body]="birthsByMunicipality"
				></ByMunicipalityTable>
			</div>

			<div class="col-md-12 mt-2">
				<div class="card">
					<div class="card-header bg-white d-flex aic">
						<div class="card-title h5 mr-auto mt-2">
							Technical Notes
						</div>

						<Modal
							size="lg"
							title="Customize Technical Notes"
							btnTitle="Customize technical notes"
							btnClass="btn btn-sm btn-dark"
							[template]="customizeTechnicalNotes"
							icon="ti-notepad"
						></Modal>
					</div>
					<div class="card-body">
						<TechnicalNotes type="Birth"></TechnicalNotes>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>