<div class="row">
    <div class="col-md-12">
        <button class="btn btn-sm btn-dark">
            <i class="mr-1 ti-plus"></i> Add an image
        </button>
    </div>
</div>
<div class="row">
    <div
        class="col-md-3"
        *ngFor="let item of [1, 2, 3, 4, 5, 6]; trackBy: trackByFn"
    >
        <button
            (click)="deleteImage()"
            class="btn-minus btn btn-sm btn-dark"
            style="opacity: 0.7"
        >
            <i class="ti-minus"></i>
        </button>
        <img src="/assets/ipop/home/1.jpg" alt="" />
    </div>
</div>

<hr />
<div class="mr-5 d-flex aic jcc">
    <button (click)="saveImages()" class="btn btn-success">
        <i class="mr-1 ti-check"></i> Save added images
    </button>
</div>
