<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-muted active"> <i class="ti-direction-alt"></i> Province </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> Municipality </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> Barangay </a>
    </li>
</ul>
<br />

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-light">
                <button class="btn btn-dark">Number of Couple Chart</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header bg-light">
                <button class="btn btn-dark">Edit MPCFDC</button>
            </div>
            <div class="layer w-100 card-body">
                <h5 class="mB-5">200</h5>
                <small class="fw-600 c-grey-700">Edit Number of Sessions Conducted <span class="c-grey-500 fw-400">(Barotac Nuevo)</span></small
				>
				<span class="pull-right c-grey-600 fsz-sm">80%</span>
				<div class="progress mT-10">
					<div
						class="progress-bar bgc-blue-500"
						role="progressbar"
						aria-valuenow="50"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: 80%"
					></div>
				</div>
				<div class="layer w-100 mT-15">
					<h5 class="mB-5">200</h5>
					<small class="fw-600 c-grey-700"
						>Number of Couples Orriented <span class="c-grey-500 fw-400">(Barotac Nuevo)</span></small
					>
					<span class="pull-right c-grey-600 fsz-sm">40%</span>
					<div class="progress mT-10">
						<div
							class="progress-bar bgc-light-green-500"
							role="progressbar"
							aria-valuenow="50"
							aria-valuemin="0"
							aria-valuemax="100"
							style="width: 40%"
						></div>
					</div>
				</div>
				<div class="layer w-100 mT-15">
					<h5 class="mB-5">200</h5>
					<small class="fw-600 c-grey-700"
						>Number of Individual Interview <span class="c-grey-500 fw-400">(Barotac Nuevo)</span></small
					>
					<span class="pull-right c-grey-600 fsz-sm">90%</span>
					<div class="progress mT-10">
						<div
							class="progress-bar bgc-orange-500"
							role="progressbar"
							aria-valuenow="50"
							aria-valuemin="0"
							aria-valuemax="100"
							style="width: 90%"
						></div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit MPC Team</button>
			</div>
			<div class="layer w-100 card-body"></div>
		</div>
	</div>
</div>

<div class="row mT-50">
	<div class="col-md-6 mT-50">
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit PMC Couple Applicants by Age Group</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 mT-50">
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit PMC Applicants by Employment Status and Sex</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 mT-50">
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit Knowledge on Family Planning among PMC Applicants</button>
			</div>
		</div>
	</div>

	<div class="col-md-6 mT-50">
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit Percentage Distribution of PMC Applicants by Civil Status</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 mT-50">
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit PMC Applicants by Average Monthly Income and Sex</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 mT-50">
		<div class="card">
			<div class="card-header bg-light">
				<button class="btn btn-dark">Edit Technical Notes</button>
			</div>
		</div>
	</div>
</div>