<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <button (click)="trigger()" class="btn btn-sm btn-dark">
                <i class="mr-1 ti-plus"></i> Add an image
            </button>
            <input
                (change)="readURL($event)"
                type="file"
                style="display: none"
                multiple
                accept="image/*"
                id="file"
            />
        </div>
    </div>
    <br />
    <div class="row">
        <div
            class="col-md-3"
            *ngFor="let slide of photos; let i = index; trackBy: trackByFn"
        >
            <button
                (click)="deleteTemporaryImage(i)"
                class="btn-minus btn btn-sm btn-light"
                style="opacity: 0.7"
            >
                <i class="ti-minus"></i>
            </button>
            <img [src]="slide" alt="" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label for="">Article Title</label>
        <input [(ngModel)]="article.title" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Body</label>
        <textarea
            autosize
            [(ngModel)]="article.body"
            type="text"
            class="form-control"
        ></textarea>
    </div>
</div>

<hr />
<div class="mr-5 d-flex aic jcc">
    <button
        (click)="saveAritcle()"
        [disabled]="isLoading"
        class="btn btn-success"
    >
        <span *ngIf="!isLoading"
            ><i class="mr-1 ti-check"></i>Add this article</span
        >
        <Loader *ngIf="isLoading"></Loader>
    </button>
</div>
