<ng-template #addPersonnelDirectory>
    <AddPersonnelDirectory></AddPersonnelDirectory>
</ng-template>

<div class="card">
    <div class="card-header bg-light">
        <h5 class="m-0 card-title d-flex">
            <span class="t-text-3xl" style="align-self: center"
                >Personnel Directory</span
            >
            <span *ngIf="!isUser" class="ml-auto">
                <DropDown [buttons]="dropdown"></DropDown>
                <ng-template #dropdown>
                    <Modal
                        size="lg"
                        title="Add a Personnel in the Directory"
                        btnTitle="	Add personnel"
                        btnClass="dropdown-item"
                        [template]="addPersonnelDirectory"
                    ></Modal>
                </ng-template>
            </span>
        </h5>
    </div>

    <div class="card-body">
        <div>
            <table
                class="table responsive"
                [ngClass]="{'table-responsive': innerWidth < 1139}"
            >
                <thead>
                    <th>Name</th>
                    <th>Division</th>
                    <th>Position</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let user of ppo; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-900"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of ad; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-600"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of trd; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-400"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{
                                    user.type | to_trd_substitute | uppercase
                                }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of fod1; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-900"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of fod2; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-700"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of fod3; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of fod4; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-300"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of fod5; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-200"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of apvw; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-orange-50 c-orange-500"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of bod; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500"
                                ><i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of bspo1; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-900"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of bspo2; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-700"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of bspo3; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of bspo4; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td>
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-300"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>

                    <tr *ngFor="let user of bspo5; trackBy: trackByFn">
                        <td>{{ user.name }}</td>
                        <td class="text-left">
                            <span
                                class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-200"
                            >
                                <i class="mr-2 ti-user"></i
                                >{{ user.type }}</span
                            >
                        </td>
                        <td>{{ user.position }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button
                                (click)="remove(user.id)"
                                *ngIf="!isUser"
                                class="btn btn-sm btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
