<div class="card-body">
    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-3 mt-4">
            <label for="">January</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">February</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">March</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">April</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">May</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">June</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">July</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">August</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">September</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">October</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">November</label>
            <input type="text" class="form-control" />
        </div>

        <div class="col-md-3 mt-4">
            <label for="">December</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" class="btn btn-success"><i class="ti-check mr-1"></i> Save this Statistical Data</button>
</div>