<div class="card-body">
    <div class="form-group">
        <label for="">Title</label>
        <input [(ngModel)]="data.title" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Body</label>
        <textarea autosize [(ngModel)]="data.body" type="text" class="form-control"></textarea>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"
			><i class="ti-check mr-1"></i> Add this technical Note</span
		>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>