<div class="row">
    <div class="col-md-12">
        <button (click)="trigger()" class="btn btn-sm btn-dark"><i class="ti-plus mr-1"></i> New Image(s)</button>
        <input (change)="readURL($event)" type="file" style="display: none" multiple accept="image/*" id="file" />
    </div>
</div>
<div class="row">
    <div class="col-md-3" *ngFor="let image of data.files; let i = index">
        <img [src]="image.file.uri" alt="" />
    </div>
    <div class="col-md-3" *ngFor="let slide of photos; let i = index">
        <button (click)="deleteTemporaryImage(i)" class="btn-minus btn btn-sm btn-light" style="opacity: 0.7">
			<i class="ti-minus"></i>
		</button>
        <img [src]="slide" alt="" />
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="saveImages()" class="btn btn-success"><i class="ti-check mr-1"></i> Save added images</button>
</div>