<ng-template #viewAdmin>
    <ViewAdmin [admin]="currentAdmin"></ViewAdmin>
</ng-template>

<div class="card">
    <div class="card-body">
        <table class="table mT-30">
            <thead class="table-dark">
                <tr>
                    <th><i class="ti-user"></i></th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">District</th>
                    <th scope="col">Municipality</th>
                    <th scope="col">Barangay</th>
                    <th scope="col">Date Registered</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admin of admins">
                    <td>
                        <img [src]="
								admin.profile_picture?.uri ||
								'/assets/avatars/face-7.jpg'
							" alt="" />
                    </td>
                    <td>{{ admin.fullname }}</td>
                    <td>{{ admin.roles[0]?.name || 'N/A' }}</td>
                    <td *ngIf="admin.iterations === 5">
                        <span class="
								small
								d-ib
								lh-0
								va-m
								fw-600
								bdrs-10em
								pX-10
								pY-10
								bgc-red-50
								c-red-500
							">
							Blocked
						</span>
                    </td>
                    <td *ngIf="admin.iterations !== 5">
                        <span class="
								small
								d-ib
								lh-0
								va-m
								fw-600
								bdrs-10em
								pX-10
								pY-10
								bgc-green-50
								c-green-500
							">
							Active
						</span>
                    </td>
                    <td>{{ admin.district }}</td>
                    <td>{{ admin.municipality }}</td>
                    <td>{{ admin.barangay }}</td>
                    <td>{{ admin.created_at | date: 'MMMM dd, yyyy - ha' }}</td>
                    <td>
                        <Modal (click)="currentAdmin = admin" size="xl" title="View Admin" btnTitle="View admin" btnClass="btn btn-sm btn-outline-info mr-2" [template]="viewAdmin" icon="ti-eye"></Modal>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>