<div *ngIf="location$ | async" class="row">
    <div *ngIf="showPyramid" class="col-md-6">
        <div class="card">
            <div class="bg-white card-header">
                <div class="card-title d-flex aic">
                    <span class="h4">{{ pyramidTitle }}</span>
                    <div *ngIf="!isUser" class="ml-auto">
                        <DropDown [buttons]="Pyramid"></DropDown>
                        <ng-template #Pyramid>
                            <Modal
                                size="lg"
                                title="Customize a Population Pyramid"
                                btnTitle="Customize a population pyramid"
                                btnClass="dropdown-item"
                                [template]="customizePyramid"
                            ></Modal>
                        </ng-template>
                    </div>
                </div>
                <hr />
                <div class="card-body">
                    <NoDataComponent [data]="ageDistribution"></NoDataComponent>
                    <div
                        @fadeOut
                        class="w-100"
                        @slideInRight
                        style="height: 60vh"
                        id="population-pyramid"
                        *ngIf="ageDistribution.length !== 0 && hasPyramid"
                    ></div>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="{'col-md-6': showPyramid, 'col-md-12': !showPyramid}">
        <div class="card">
            <div class="bg-white card-header d-flex aic">
                <div class="card-title d-flex aic">
                    <span class="mr-auto h4">{{ ageGroupTitle }}</span>
                    <div *ngIf="!isUser" class="ml-auto">
                        <DropDown [buttons]="Pyramid"></DropDown>
                        <ng-template #Pyramid>
                            <Modal
                                size="lg"
                                [title]="
                                    'Customize ' + ageGroupTitle | titlecase
                                "
                                [btnTitle]="
                                    'Customize ' + ageGroupTitle | titlecase
                                "
                                btnClass="dropdown-item"
                                [template]="customizePyramid"
                            ></Modal>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <NoDataComponent
                    [data]="populationByAgeGroupAndSex"
                ></NoDataComponent>

                <table
                    *ngIf="
                        populationByAgeGroupAndSex.length !== 0 && hasPyramid
                    "
                    class="table table-striped"
                    responsiveTable
                >
                    <thead
                        class="text-white"
                        [style.background]="ageGroupColor"
                    >
                        <tr>
                            <th
                                class="border ppbm"
                                style="
                                    text-align: left !important;
                                    padding-left: 0.5rem;
                                "
                            >
                                Age Group
                            </th>
                            <th class="border ppbm">Male</th>
                            <th class="border ppbm">%</th>
                            <th class="border ppbm">Female</th>
                            <th class="border ppbm">%</th>
                            <th class="border ppbm">Total</th>
                            <th class="border ppbm">%</th>
                        </tr>
                    </thead>
                    <tbody [@listAnimation]="populationByAgeGroupAndSex.length">
                        <tr
                            *ngFor="
                                let item of populationByAgeGroupAndSex
                                    | sort_age_group
                                    | check_if_marriage : type;
                                trackBy: trackByFn
                            "
                        >
                            <td
                                class="border ppbm"
                                style="
                                    text-align: left !important;
                                    padding-left: 0.5rem;
                                "
                            >
                                {{
                                    item.ageGroup === '20-24' &&
                                    type === 'Marriage'
                                        ? '18-24'
                                        : item.ageGroup
                                }}
                            </td>
                            <td class="border ppbm">
                                {{ item.male | number }}
                            </td>
                            <td class="border ppbm">
                                {{ item.percent_male | number : '1.2-2' }}
                            </td>
                            <td class="border ppbm">
                                {{ item.female | number }}
                            </td>
                            <td class="border ppbm">
                                {{ item.percent_female | number : '1.2-2' }}
                            </td>
                            <td class="border ppbm">
                                {{ item.total | number }}
                            </td>
                            <td class="border ppbm">
                                {{ item.percent_total | number : '1.2-2' }}
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="border ppbm fw-900"
                                style="
                                    text-align: left !important;
                                    padding-left: 0.5rem;
                                "
                            >
                                {{ populationByAgeGroupAndSexTotal.ageGroup }}
                            </td>
                            <td class="border ppbm fw-900">
                                {{
                                    populationByAgeGroupAndSexTotal.male
                                        | number
                                }}
                            </td>
                            <td class="border ppbm fw-900">
                                {{
                                    populationByAgeGroupAndSexTotal.percent_male
                                        | number : '1.2-2'
                                }}
                            </td>
                            <td class="border ppbm fw-900">
                                {{
                                    populationByAgeGroupAndSexTotal.female
                                        | number
                                }}
                            </td>
                            <td class="border ppbm fw-900">
                                {{
                                    populationByAgeGroupAndSexTotal.percent_female
                                        | number : '1.2-2'
                                }}
                            </td>
                            <td class="border ppbm fw-900">
                                {{
                                    populationByAgeGroupAndSexTotal.total
                                        | number
                                }}
                            </td>
                            <td class="border ppbm fw-900">
                                {{
                                    populationByAgeGroupAndSexTotal.percent_total
                                        | number : '1.2-2'
                                }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <Spinner></Spinner>
            </div>
        </div>
    </div>
</div>

<ng-template #customizePyramid>
    <CustomizePyramid [type]="type"></CustomizePyramid>
</ng-template>
