<div class="card">
    <div class="text-white card-header bgc-blue-900">
        <h5 class="m-0 text-center card-title t-text-3xl">
            Vision Mission & Goals
        </h5>
    </div>
    <div @slideInBottom class="card-body">
        <div class="grid t-gap-x-10 t-grid-cols-2">
            <div>
                <div class="card">
                    <div class="card-body t-text-center">
                        <div class="card-body">
                            <h5
                                class="card-title t-text-4xl t-font-black t-uppercase"
                            >
                                Vision
                            </h5>
                            <p
                                class="text-lg md:t-px-20 t-max-w-screen-md t-mx-auto"
                            >
                                By 2025, the Provincial Population Office (PPO),
                                as the implementing arm for the Philippine
                                Population and Development Program in the
                                Province of Iloilo, will be dynamic, reliable,
                                people-centered, technology-driven and
                                culturally-sensitive population information
                                resource agency in Region VI.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="card">
                    <div class="card-body t-text-center">
                        <div class="card-body">
                            <h5
                                class="card-title t-text-4xl t-font-black t-uppercase"
                            >
                                Mission
                            </h5>
                            <p
                                class="text-lg md:t-px-20 t-max-w-screen-md t-mx-auto"
                            >
                                To provide technical assistance and information
                                needs to the Local Government Units LGUs),
                                partner agencies and stakeholders in carrying
                                out measures relative to the integration of
                                population and development, through the
                                generation and utilization of reliable and
                                updated data, and Implementation of population
                                development programs and projects to uplift the
                                quality of life of the ilonggo population.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full mt-5 t-max-w-screen-md t-mx-auto">
            <h5
                class="card-title t-text-4xl t-font-black t-uppercase t-text-center"
            >
                Goals
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="">
                            <p>
                                1. To generate and maintain an efficient and
                                reliable data bank responsive to the data and
                                information needs of the population development
                                programs of the Province of Iloilo;
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <p>
                                2. To provide updated data and information to
                                support program operations and development
                                planning of LGUs, partner agencies and other
                                stakeholders;
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <p>
                                3. To undertake educational projects that
                                promotes people’s participation empowerment
                                towards total human development in the context
                                of our cultural heritage;
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="">
                            <p>
                                4. To apply new technologies and processes that
                                will effect more efficient and effective data
                                generation, processing and management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
