<div class="card">
    <div class="card-header bg-light">
        <h5 class="m-0 card-title text-center">Vision</h5>
    </div>
    <div class="card-body">
        <p class="text-center">
            "By 2020, the Provincial Population Office (PPO), as the implementing arm of the Philippine Population Management Program in the Province of Iloilo, will be dynamic, reliable, people-centered, and culturally-sensitive population information resource agency
            in Region VI ".
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header bg-light">
        <h5 class="m-0 card-title text-center">Mission</h5>
    </div>
    <div class="card-body">
        <p class="text-center">
            "To provide technical assistance and information needs to the Local Government Units (LGUs), partner agencies and stakeholders in carrying out measures relative to the integration of population and development, through the generation and utilization of
            reliable and updated data, and implementation of population management programs and projects to uplift the quality of life of the Ilonggo population ".
        </p>
    </div>
</div>

<div class="card">
    <div class="card-header bg-light">
        <h5 class="m-0 card-title text-center">Goals</h5>
    </div>
    <div class="card-body">
        <ol type="1" style="padding: 0 20vw">
            <li>
                To generate and maintain an efficient and reliable data bank responsive to the data and information needs of the population development programs of the Province of Iloilo;
            </li>
            <li>
                To provide updated data and information to support program operations and development planning of LGUs, partner agencies and other stakeholders;
            </li>
            <li>
                To undertake educational projects that promotes people’s participation empowerment towards total human development in the context of our cultural heritage;
            </li>
            <li>
                To apply new technologies and processes that will effect more efficient and effective data generation, processing and management.
            </li>
        </ol>
    </div>
</div>