<div class="card">
    <div class="text-white card-header bgc-blue-900">
        <h5 class="m-0 text-center card-title">Vision Mission & Goals</h5>
    </div>
    <div @slideInBottom class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img
                            style="max-width: 60%"
                            class="card-img-top"
                            src="/assets/ipop/vmg/3.svg"
                            alt=""
                        />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Vision</h5>
                            <p>
                                "By 2020, the Provincial Population Office
                                (PPO), as the implementing arm of the Philippine
                                Population Management Program in the Province of
                                Iloilo, will be dynamic, reliable,
                                people-centered, and culturally-sensitive
                                population information resource agency in Region
                                VI ".
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img
                            style="max-width: 40%"
                            class="card-img-top"
                            src="/assets/ipop/vmg/2.svg"
                            alt=""
                        />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Mission</h5>
                            <p>
                                "To provide technical assistance and information
                                needs to the Local Government Units (LGUs),
                                partner agencies and stakeholders in carrying
                                out measures relative to the integration of
                                population and development, through the
                                generation and utilization of reliable and
                                updated data, and implementation of population
                                management programs and projects to uplift the
                                quality of life of the Ilonggo population ".
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 card">
            <div class="text-white card-header bgc-blue-900">
                <h5 class="m-0 text-center card-title">Goals</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <br />
                            <div class="p-5 d-flex aic jcc">
                                <img
                                    style="max-width: 40%"
                                    class="card-img-top"
                                    src="/assets/ipop/mandate/4.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <p>
                                        To generate and maintain an efficient
                                        and reliable data bank responsive to the
                                        data and information needs of the
                                        population development programs of the
                                        Province of Iloilo;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <br />
                            <div class="p-5 d-flex aic jcc">
                                <img
                                    style="max-width: 40%"
                                    class="card-img-top"
                                    src="/assets/ipop/mandate/3.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <p>
                                        To provide updated data and information
                                        to support program operations and
                                        development planning of LGUs, partner
                                        agencies and other stakeholders;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <br />
                            <div class="p-5 d-flex aic jcc">
                                <img
                                    style="max-width: 40%"
                                    class="card-img-top"
                                    src="/assets/ipop/mandate/5.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <p>
                                        To undertake educational projects that
                                        promotes people’s participation
                                        empowerment towards total human
                                        development in the context of our
                                        cultural heritage;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <br />
                            <div class="p-5 d-flex aic jcc">
                                <img
                                    style="max-width: 40%"
                                    class="card-img-top"
                                    src="/assets/ipop/mandate/2.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-body">
                                <div class="card-body">
                                    <p>
                                        To apply new technologies and processes
                                        that will effect more efficient and
                                        effective data generation, processing
                                        and management.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
