<div class="card-body">
    <img [src]="image" alt="" />
    <input (change)="readURL($event)" accept="image/*" type="file" class="hidden" />
    <div class="row">
        <div class="col-md-12 mt-4">
            <label for="">Name</label>
            <input [(ngModel)]="data.name" type="text" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4">
            <label for="">Position</label>
            <input [(ngModel)]="data.position" type="text" class="form-control" />
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"
			><i class="ti-check mr-1"></i> Add Personnel</span
		>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>