<div class="card-body">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a role="button" (click)="changeTab('males')" class="nav-link text-muted" [class.active]="tabs.males">
                <i class="ti-user"></i> {{ !single ? 'Males' : 'Data' }}
            </a>
        </li>
        <li *ngIf="!single" class="nav-item">
            <a role="button" (click)="changeTab('females')" class="nav-link text-muted" [class.active]="tabs.females">
                <i class="ti-user"></i> Females
            </a>
        </li>
        <li class="nav-item"></li>
    </ul>
    <br />
    <div class="row" *ngIf="tabs.males">
        <div class="form-group col-md-3">
            <label for="January">January</label>
            <input [(ngModel)]="data['males'].January" type="number" class="form-control" id="January" />
        </div>
        <div class="form-group col-md-3">
            <label for="February">February</label>
            <input [(ngModel)]="data['males'].February" type="number" class="form-control" id="February" />
        </div>
        <div class="form-group col-md-3">
            <label for="March">March</label>
            <input [(ngModel)]="data['males'].March" type="number" class="form-control" id="March" />
        </div>
        <div class="form-group col-md-3">
            <label for="April">April</label>
            <input [(ngModel)]="data['males'].April" type="number" class="form-control" id="April" />
        </div>
        <div class="form-group col-md-3">
            <label for="May">May</label>
            <input [(ngModel)]="data['males'].May" type="number" class="form-control" id="May" />
        </div>
        <div class="form-group col-md-3">
            <label for="June">June</label>
            <input [(ngModel)]="data['males'].June" type="number" class="form-control" id="June" />
        </div>
        <div class="form-group col-md-3">
            <label for="July">July</label>
            <input [(ngModel)]="data['males'].July" type="number" class="form-control" id="July" />
        </div>
        <div class="form-group col-md-3">
            <label for="August">August</label>
            <input [(ngModel)]="data['males'].August" type="number" class="form-control" id="August" />
        </div>
        <div class="form-group col-md-3">
            <label for="September">September</label>
            <input [(ngModel)]="data['males'].September" type="number" class="form-control" id="September" />
        </div>
        <div class="form-group col-md-3">
            <label for="October">October</label>
            <input [(ngModel)]="data['males'].October" type="number" class="form-control" id="October" />
        </div>
        <div class="form-group col-md-3">
            <label for="November">November</label>
            <input [(ngModel)]="data['males'].November" type="number" class="form-control" id="November" />
        </div>
        <div class="form-group col-md-3">
            <label for="December">December</label>
            <input [(ngModel)]="data['males'].December" type="number" class="form-control" id="December" />
        </div>
    </div>
    <div class="row" *ngIf="tabs.females">
        <div class="form-group col-md-3">
            <label for="January">January</label>
            <input [(ngModel)]="data['females'].January" type="number" class="form-control" id="January" />
        </div>
        <div class="form-group col-md-3">
            <label for="February">February</label>
            <input [(ngModel)]="data['females'].February" type="number" class="form-control" id="February" />
        </div>
        <div class="form-group col-md-3">
            <label for="March">March</label>
            <input [(ngModel)]="data['females'].March" type="number" class="form-control" id="March" />
        </div>
        <div class="form-group col-md-3">
            <label for="April">April</label>
            <input [(ngModel)]="data['females'].April" type="number" class="form-control" id="April" />
        </div>
        <div class="form-group col-md-3">
            <label for="May">May</label>
            <input [(ngModel)]="data['females'].May" type="number" class="form-control" id="May" />
        </div>
        <div class="form-group col-md-3">
            <label for="June">June</label>
            <input [(ngModel)]="data['females'].June" type="number" class="form-control" id="June" />
        </div>
        <div class="form-group col-md-3">
            <label for="July">July</label>
            <input [(ngModel)]="data['females'].July" type="number" class="form-control" id="July" />
        </div>
        <div class="form-group col-md-3">
            <label for="August">August</label>
            <input [(ngModel)]="data['females'].August" type="number" class="form-control" id="August" />
        </div>
        <div class="form-group col-md-3">
            <label for="September">September</label>
            <input [(ngModel)]="data['females'].September" type="number" class="form-control" id="September" />
        </div>
        <div class="form-group col-md-3">
            <label for="October">October</label>
            <input [(ngModel)]="data['females'].October" type="number" class="form-control" id="October" />
        </div>
        <div class="form-group col-md-3">
            <label for="November">November</label>
            <input [(ngModel)]="data['females'].November" type="number" class="form-control" id="November" />
        </div>
        <div class="form-group col-md-3">
            <label for="December">December</label>
            <input [(ngModel)]="data['females'].December" type="number" class="form-control" id="December" />
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"><i class="ti-check mr-1"></i>Save</span>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>