<span>{{ data.title }}</span>
<span class="fw-400 c-blue-900 h4">
	<span class="mr-2" *ngIf="data.barangay !== null">
		{{ data.barangay }}
	</span>
<span class="mr-2" *ngIf="data.municipality !== null">
		{{ data.municipality }}
	</span>
<span class="mr-2" *ngIf="data.barangay === null && data.municipality === null">
		Province
	</span>
<span class="mr-2">
		{{ data.year }}
	</span>
</span>
<br />
<div class="col-md-offset-1 mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Total Population" icon="ti-user" spanClass="bgc-blue-50 c-blue-500" [value]="data.total_population"></SummaryComponent>
</div>
<div class="mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Total Live Births" icon="ti-pulse" spanClass="bgc-green-50 c-green-500" [value]="data.total_live_births"></SummaryComponent>
</div>

<div class="mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Crude Birth Rate" icon="ti-pulse" spanClass="bgc-green-50 c-green-500" [value]="data.crude_birth_rate"></SummaryComponent>
</div>