<div class="card">
    <div
        [style.background]="headerClass"
        class="text-white card-header d-flex aic"
    >
        <div class="mt-2 mr-auto card-title h4">
            {{ title }}
        </div>
    </div>
    <div class="card-body">
        <NoDataComponent [data]="body"></NoDataComponent>
        <Spinner></Spinner>
        <table
            *ngIf="body.length !== 0"
            class="table table-striped"
            [ngClass]="{'table-responsive': innerWidth < 1139}"
        >
            <thead>
                <tr>
                    <td *ngFor="let header of headers; trackBy: trackByFn">
                        {{ header }}
                    </td>
                    <td *ngIf="!isUser"></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of body; trackBy: trackByFn">
                    <td *ngFor="let key of keys; trackBy: trackByFn">
                        {{ item | arrayToValues: key }}
                    </td>
                    <td *ngIf="!isUser && isSuperAdmin">
                        <DropDown [buttons]="dd"></DropDown>
                        <ng-template #dd>
                            <button
                                class="dropdown-item"
                                (click)="deleteData(item.id)"
                            >
                                Remove
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
