<div class="card">
    <div class="card-header bg-light">
        <h5 class="m-0 card-title text-center">Core Values</h5>
    </div>
    <div class="card-body">
        <p>
            We the constituents of the <span>Provincial Population Office (PPO)</span> , commit ourselves to the following core values and endeavours to LIVE <span>IT</span> :
        </p>
        <br />
        <p>
            <span>Love of Service </span>– Love of fellowmen expressed through service beyond self is the over-arching principle that guides all other actions and endeavours.
        </p>

        <p>
            <span>Innovation</span> – We believe that the creation of new ideas ad initiative in the context of our cultural heritage, is the noblest response to the challenge of change in our communities.
        </p>

        <p>
            <span>Vigor</span> and Enthusiasm will be our most profound expression of our commitment to our vision, mission, and goals.
        </p>
        <p>
            <span>Excellence</span> – Our efforts and actions will be guided by the highest standards of quality and excellence.
        </p>
        <p>
            <span>Integrity</span> – We uphold the principle of truth and honesty, realizing that in our dealings, we are accountable to each other and to our clients, partners, and stakeholders.
        </p>

        <p><span>Team Work</span> – Given our diverse talent and skills, we will work together to achieve PPO goals.</p>
    </div>
</div>