<div class="card">
    <div class="card-header bg-primary text-white">
        <h5 class="m-0 card-title text-center">Core Values</h5>
    </div>
    <div class="card-body">
        <p class="text-center">
            We the constituents of the
            <span>Provincial Population Office (PPO)</span> , commit ourselves to the following core values and endeavours to
            <span class="text-info"> LIVE IT</span> :
        </p>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img style="max-width: 40%" class="card-img-top" src="../../../../assets/ipop/corevalues/1.svg" alt="" />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Love of Service</h5>
                            <p>
                                Love of fellowmen expressed through service beyond self is the over-arching principle that guides all other actions and endeavours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img style="max-width: 60%" class="card-img-top" src="../../../../assets/ipop/corevalues/6.svg" alt="" />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Innovation</h5>
                            <p>
                                We believe that the creation of new ideas ad initiative in the context of our cultural heritage, is the noblest response to the challenge of change in our communities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img style="max-width: 70%" class="card-img-top" src="../../../../assets/ipop/corevalues/2.svg" alt="" />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Vigor and Enthusiasm</h5>
                            <p>
                                will be our most profound expression of our commitment to our vision, mission, and goals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img style="max-width: 60%" class="card-img-top" src="../../../../assets/ipop/corevalues/5.svg" alt="" />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Excellence</h5>
                            <p>
                                Our efforts and actions will be guided by the highest standards of quality and excellence.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img style="max-width: 35%" class="card-img-top" src="../../../../assets/ipop/corevalues/4.svg" alt="" />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Integrity</h5>
                            <p>
                                We uphold the principle of truth and honesty, realizing that in our dealings, we are accountable to each other and to our clients, partners, and stakeholders.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <br />
                    <div class="p-5 d-flex aic jcc">
                        <img style="max-width: 60%" class="card-img-top" src="../../../../assets/ipop/corevalues/3.svg" alt="" />
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">Team Work</h5>
                            <p>
                                Given our diverse talent and skills, we will work together to achieve PPO goals
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>