.footer-component {
    width: 105%;
    padding: 10px;
    background-color: #04759d;
    display: flex;
    z-index: 9;
    opacity: 0.9;
    backdrop-filter: blur(70px);
    transform: translate(-40px);
}

.items {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    i,
    svg {
        fill: white;
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    .footer-component {
        display: inline-flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 20px 15vw;
        width: 120% !important;
        padding-right: 0;
    }
    .items {
        margin-right: 40px;
    }
    .icon {
        margin-right: 20px;
    }
}