<div class="card-body">
    <div class="form-group">
        <label for="">Choose Type of Official</label>
        <select (change)="reset()" [(ngModel)]="type" type="text" class="form-control">
			<option *ngFor="let type of types">{{ type }}</option>
		</select>
    </div>
    <div *ngIf="type === 'Municipal Official' || type === 'Barangay Official'" class="form-group">
        <label for="">Choose a Municipality</label>
        <select (change)="getBarangays($event)" class="custom-select" id="municipality" required>
			<option>Choose...</option>
			<option
				*ngFor="let municipality of municipalities"
				[value]="municipality.code"
			>
				{{ municipality.name | titlecase }}
			</option>
		</select>
    </div>
    <div *ngIf="type === 'Barangay Official'" class="form-group">
        <label for="">Choose a Barangay</label>
        <select [(ngModel)]="data.barangay" class="custom-select" id="barangay" required>
			<option value="">Choose...</option>
			<option *ngFor="let barangay of barangays">
				{{ barangay.name }}
			</option>
		</select>
    </div>
    <div class="form-group">
        <label for="">Name of the Official</label>
        <input [(ngModel)]="data.name" type="text" class="form-control" />
    </div>
    <div class="form-group" *ngIf="type !== 'Sanguniang Panlalawigan Member'">
        <label for="">Position</label>
        <input [(ngModel)]="data.position" type="text" class="form-control" />
    </div>
</div>

<hr />

<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"
			><i class="ti-check mr-1"></i> Add this Official</span
		>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>