<div class="bg-light">
    <ng-template #addMigrationData>
        <AddMigrationData></AddMigrationData>
    </ng-template>

    <ng-template #addLocalMigrationData>
        <AddLocalMigrationData [data]="localData"></AddLocalMigrationData>
    </ng-template>

    <ng-template #customizeMonthChart>
        <CustomizeMonthChart type="Migration" [location]="location"></CustomizeMonthChart>
    </ng-template>

    <ng-template #customizeMigrationChart>
        <CustomizeMigrationChart></CustomizeMigrationChart>
    </ng-template>

    <ng-template #customizeTechnicalNotes>
        <CustomizeTechnicalNotes type="Migration"></CustomizeTechnicalNotes>
    </ng-template>

    <ng-template #viewOfficials>
        <ViewOfficials></ViewOfficials>
    </ng-template>

    <ng-template #addOfficials>
        <AddOfficials></AddOfficials>
    </ng-template>

    <div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
        <Modal size="lg" title="Add a Migration Data" btnTitle="Add Migration data" btnClass="btn btn-sm btn-dark mr-2" [template]="addMigrationData" icon="ti-plus"></Modal>

        <Modal size="lg" title="Add Officials" btnTitle="Add an official" btnClass="btn btn-sm btn-danger mr-2" [template]="addOfficials" icon="ti-plus"></Modal>

        <Modal size="lg" title="View  Officials" btnTitle="View officials" btnClass="btn btn-sm btn-outline-danger" [template]="viewOfficials" icon="ti-pin"></Modal>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-4">
            <div class="p-20 bg-white border">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1">
                        Total In Migration
                        <span class="c-grey-500 fw-400">(Province)</span>
                    </h6>
                </div>
                <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                        <div class="peer peer-greed">
                            <div class="progress mt-1 w-75">
                                <div class="progress-bar bgc-green-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="
										summaries.total_in_migrations + '%'
									"></div>
                            </div>
                        </div>
                        <div class="peer">
                            <span class="
									d-ib
									lh-0
									va-m
									fw-600
									bdrs-10em
									pX-15
									pY-15
									bgc-green-50
									c-green-500
								">{{ summaries.total_in_migrations }}%</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="p-20 bg-white border">
				<div class="layer w-100 mB-10">
					<h6 class="lh-1">
						Total Out Migration
						<span class="c-grey-500 fw-400">(Province)</span>
                            </h6>
                        </div>
                        <div class="layer w-100">
                            <div class="peers ai-sb fxw-nw">
                                <div class="peer peer-greed">
                                    <div class="progress mt-1 w-75">
                                        <div class="progress-bar bgc-red-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="
										summaries.total_out_migrations + '%'
									"></div>
                                    </div>
                                </div>
                                <div class="peer">
                                    <span class="
									d-ib
									lh-0
									va-m
									fw-600
									bdrs-10em
									pX-15
									pY-15
									bgc-red-50
									c-red-500
								">{{ summaries.total_out_migrations }}%</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="p-20 bg-white border">
				<div class="layer w-100 mB-10">
					<h6 class="lh-1">
						Net Migration
						<span class="c-grey-500 fw-400">(Province)</span>
                                    </h6>
                                </div>
                                <div class="layer w-100">
                                    <div class="peers ai-sb fxw-nw">
                                        <div class="peer peer-greed">
                                            <div class="progress mt-1 w-75">
                                                <div class="progress-bar bgc-orange-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="
										summaries.net_migrations + '%'
									"></div>
                                            </div>
                                        </div>
                                        <div class="peer">
                                            <span class="
									d-ib
									lh-0
									va-m
									fw-600
									bdrs-10em
									pX-15
									pY-15
									bgc-blue-50
									c-blue-500
								">{{ summaries.net_migrations }}%</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<AddressPicker (onEmit)="fetch($event)"></AddressPicker>

	<div class="row">
		<div class="col-md-8 m-0">
			<div class="card">
				<div class="card-header bg-white d-flex">
					<div class="h5 mr-auto">Migration Statistics</div>
					<DropDown [buttons]="DeathStatistics"></DropDown>
					<ng-template #DeathStatistics>
						<Modal
							size="lg"
							title="Customize Migration  Data"
							btnTitle="Customize statistical data"
							btnClass="dropdown-item"
							[template]="customizeMonthChart"
						></Modal>
					</ng-template>
				</div>
				<div class="card-body">
					<div class="chart">
						<canvas
							baseChart
							[colors]="statisticalChart.colors"
							[datasets]="statisticalChart.datasets"
							[labels]="statisticalChart.labels"
							[options]="statisticalChart.options"
							[legend]="statisticalChart.legend"
							chartType="bar"
						>
						</canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="layers col-md-4">
			<div class="layer w-100">
				<div class="card">
					<div class="card-header bg-white d-flex">
						<div class="h5 mr-auto">Local Migration Data</div>
						<div class="ml-auto" *ngIf="localData.id != null">
							<DropDown [buttons]="MigrationData"></DropDown>
							<ng-template #MigrationData>
								<Modal
									size="lg"
									title="Customize Local Migration  Data"
									btnTitle="Customize local migration data"
									btnClass="dropdown-item"
									[template]="addLocalMigrationData"
								></Modal>
							</ng-template>
						</div>
					</div>
					<div class="layer w-100 card-body">
						<small class="fw-600 c-grey-700">In Migrations </small>
						<span class="pull-right c-grey-600 fsz-sm"
							>{{
								localData?.total_in_migrations || 0 | number
							}}%</span
						>
						<div class="progress mT-10">
							<div
								class="progress-bar bgc-green-500"
								style="height: 30px"
								role="progressbar"
								aria-valuenow="50"
								aria-valuemin="0"
								aria-valuemax="100"
								[style.width]="
									localData?.total_in_migrations + '%'
								"
							></div>
						</div>
						<div class="layer w-100 mT-15">
							<small class="fw-600 c-grey-700"
								>Out Migrations
							</small>
							<span class="pull-right c-grey-600 fsz-sm"
								>{{
									localData?.total_out_migrations || 0
										| number
								}}%</span
							>
							<div class="progress mT-10">
								<div
									class="progress-bar bgc-orange-500"
									style="height: 30px"
									role="progressbar"
									aria-valuenow="50"
									aria-valuemin="0"
									aria-valuemax="100"
									[style.width]="
										localData?.total_out_migrations + '%'
									"
								></div>
							</div>
						</div>
						<div class="layer w-100 mT-15">
							<small class="fw-600 c-grey-700"
								>Net Migrations
							</small>
							<span class="pull-right c-grey-600 fsz-sm"
								>{{
									localData?.net_migrations || 0 | number
								}}%</span
							>
							<div class="progress mT-10">
								<div
									class="progress-bar bgc-orange-500"
									style="height: 30px"
									role="progressbar"
									aria-valuenow="50"
									aria-valuemin="0"
									aria-valuemax="100"
									[style.width]="
										localData?.net_migrations + '%'
									"
								></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mT-50">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header bg-white d-flex aic">
					<div class="card-title h5 mr-auto mt-2">
						Migration Chart
					</div>
				</div>
				<div class="card-body">
					<canvas
						baseChart
						[datasets]="migrationChart.datasets"
						[labels]="migrationChart.labels"
						[options]="migrationChart.options"
						[legend]="migrationChart.legend"
						chartType="bar"
					>
					</canvas>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-header bg-white d-flex aic">
					<div class="card-title h5 mr-auto mt-2">
						Technical Notes
					</div>
					<Modal
						size="lg"
						title="Customize Technical Notes"
						btnTitle="Customize technical notes"
						btnClass="btn btn-sm btn-dark"
						[template]="customizeTechnicalNotes"
						icon="ti-notepad"
					></Modal>
				</div>
				<div class="card-body">
					<TechnicalNotes type="MIgration"></TechnicalNotes>
				</div>
			</div>
		</div>
	</div>
</div>