<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <button (click)="trigger()" class="btn btn-sm btn-dark">
				<i class="ti-plus mr-1"></i> Add an image
			</button>
            <input (change)="readURL($event)" type="file" style="display: none" multiple accept="image/*" id="file" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3" *ngFor="let slide of photos; let i = index">
            <button (click)="deleteTemporaryImage(i)" class="btn-minus btn btn-sm btn-light" style="opacity: 0.7">
				<i class="ti-minus"></i>
			</button>
            <img [src]="slide" alt="" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label for="">Award Title</label>
        <input [(ngModel)]="award.title" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Link to award</label>
        <textarea autosize [(ngModel)]="award.url" type="text" class="form-control"></textarea>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"
			><i class="ti-check mr-1"></i> Add this award</span
		>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>