<ng-template #addServices>
    <AddServices [service_id]="serviceOffered.id"></AddServices>
</ng-template>

<div class="card">
    <div class="bg-white card-header">
        <h5 class="m-0 text-center card-title d-flex">
            <span class="t-text-3xl" style="align-self: center">{{
                serviceOffered.title
            }}</span>
            <span *ngIf="!isUser" class="ml-auto">
                <DropDown [buttons]="dropdown"></DropDown>
                <ng-template #dropdown>
                    <Modal
                        size="lg"
                        [title]="'Add a service for ' + serviceOffered.title"
                        btnTitle="Add services"
                        btnClass="dropdown-item"
                        [template]="addServices"
                    ></Modal>
                </ng-template>
            </span>
        </h5>
    </div>
    <div [@listAnimation]="serviceOffered.offers.length" class="card-body">
        <div
            class="mb-2 bl br card"
            *ngFor="let service of serviceOffered.offers; trackBy: trackByFn"
        >
            <div class="bg-white card-body d-flex aic">
                <div class="flex t-flex-col t-items-center t-justify-center">
                    <div
                        class="m-0 h5 card-title t-text-text-brand t-flex t-items-center"
                    >
                        <i class="ti-check t-mr-3"></i> {{ service.title }}
                    </div>

                    <div class="pl-4 m-0 t-ml-3 text-muted t-translate-x-1">
                        Created :
                        {{
                            service.created_at | date: 'MMMM dd, yyy - hh:mm a'
                        }}
                    </div>
                </div>

                <div *ngIf="isSuperAdmin" class="ml-auto">
                    <DropDown [buttons]="dropdown"></DropDown>

                    <ng-template #dropdown>
                        <button
                            (click)="removeService(service.id)"
                            class="dropdown-item"
                        >
                            Remove services
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
