<div class="w-100">
    <small class="fw-600 c-grey-700">{{ title }}</small>
    <span class="pull-right t-text-2xl" [class]="color">
        {{ value || 0 | number }}
    </span>
    <div class="progress mT-10">
        <div
            class="progress-bar"
            [class]="progressColor"
            style="height: 30px"
            role="progressbar"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"
            [style.width]="percentValue + '%'"
        ></div>
    </div>
</div>
