<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <label TeenCenter>District</label>
            <select [(ngModel)]="data.district" class="form-control">
				<option selected disabled>Choose...</option>
				<option *ngFor="let district of districts">{{ district }}</option>
			</select>
        </div>
        <div class="col-md-6">
            <label>Municipality </label>
            <select [(ngModel)]="data.municipality" class="form-control">
				<option selected disabled>Choose...</option>
				<option *ngFor="let municipality of municipalities">{{ municipality.name }}</option>
			</select>
        </div>
        <div class="col-md-12 mt-4">
            <label TeenCenter>Name</label>
            <textarea [(ngModel)]="data.name" type="text" class="form-control"></textarea>
        </div>
        <div class="col-md-12 mt-4">
            <label TeenCenter>Services Offered</label>
            <textarea autosize [(ngModel)]="data.services" class="form-control"></textarea>
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"><i class="ti-check mr-1"></i> Add this MPC-FDC Data</span>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>