<div class="card tex-center" style="width: 50vw">
    <table class="table">
        <tbody>
            <tr>
                <td>{{ data.name || 'N/A' }}</td>
                <td>
                    <span class="
							d-ib
							lh-0
							va-m
							fw-600
							bdrs-10em
							pX-15
							pY-15
							bgc-blue-50
							c-blue-900
						">
						<i class="ti-user mr-2"></i>{{ data.type }}</span
					>
				</td>
				<td>{{ data.position || 'N/A' }}</td>
				<td>{{ data.phone || 'N/A' }}</td>
				<td>{{ data.email || 'N/A' }}</td>
			</tr>
		</tbody>
	</table>
</div>