<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="h5">Males</div>
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Student </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Employed </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Unemployed </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-12 mt-5">
            <div class="h5">Females</div>
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Student </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Employed </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Unemployed </label>
            <input type="text" class="form-control" />
        </div>
    </div>

    <hr />
    <div class="d-flex aic jcc mr-5">
        <button (click)="save()" class="btn btn-success">
			<i class="ti-check mr-1"></i> Update this PMC Applicants by Employment Status and Sex
		</button>
    </div>
</div>