<div class="card-body">
    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-12">
            <div class="h5">Male</div>
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Student </label>
            <input
                [(ngModel)]="data.student_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Employed </label>
            <input
                [(ngModel)]="data.employed_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Unemployed </label>
            <input
                [(ngModel)]="data.not_employed_male"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-12 mt-5">
            <div class="h5">Female</div>
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Student </label>
            <input
                [(ngModel)]="data.student_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Employed </label>
            <input
                [(ngModel)]="data.employed_female"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Unemployed </label>
            <input
                [(ngModel)]="data.not_employed_female"
                type="number"
                class="form-control"
            />
        </div>
    </div>

    <hr />
    <div class="d-flex aic jcc mr-5">
        <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
            <span *ngIf="!isLoading"
                ><i class="ti-check mr-1"></i> Add this PMC Applicants by
                Employment Status and Sex</span
            >
            <Loader *ngIf="isLoading"></Loader>
        </button>
    </div>
</div>
