<div class="card mt-5 pt-5">
    <div class="card-body mt-5 pt-5">
        <table class="table mT-30">
            <thead class="table-dark">
                <tr>
                    <th><i class="ti-user"></i></th>
                    <th scope="col">Fullname</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Latitutde</th>
                    <th scope="col">Longititude</th>
                    <th scope="col">Device</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Date of Activity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                    <td>
                        <img src="../../../assets/avatars/face-7.jpg" alt="" />
                    </td>
                    <td>Jamel Eid Yassin</td>
                    <td>192.168.200.01</td>
                    <td>10.34243</td>
                    <td>10.34243</td>
                    <td>Mobile</td>
                    <td>Created a User</td>
                    <td>11/14/1994</td>
                    <td>
                        <button class="btn btn-sm btn-info">View coordinates in google maps</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>