<div class="row">
    <div class="col-md-6">
        <div class="p-20">
            <div class="layer w-100 mB-10">
                <h6 class="lh-1">Total Deaths <span class="c-grey-500 fw-400">(Province)</span></h6>
            </div>
            <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                    <div class="peer">
                        <span class="h3 d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">-7%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="p-20">
            <div class="layer w-100 mB-10">
                <h6 class="lh-1">Crude Death Rate <span class="c-grey-500 fw-400">(Province)</span></h6>
            </div>
            <div class="layer w-100">
                <div class="peers ai-sb fxw-nw">
                    <div class="peer">
                        <span class="h3 d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">-7%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-muted active"> <i class="ti-direction-alt"></i> Province </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> Municipality </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> Barangay </a>
    </li>
</ul>
<br />

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-light">
                <button class="btn btn-dark">Edit Chart Data</button>
            </div>
        </div>
    </div>
    <div class="layers col-md-3">
        <div class="layer w-100">
            <div class="card">
                <div class="card-header bg-light">
                    <button class="btn btn-dark">Edit Death Data</button>
                </div>
            </div>
            <div class="layer w-100 card-body">
                <h5 class="mB-5">200</h5>
                <small class="fw-600 c-grey-700">Crude Death Rate <span class="c-grey-500 fw-400">(Barotac Nuevo)</span></small
				>
				<span class="pull-right c-grey-600 fsz-sm">80%</span>
				<div class="progress mT-10">
					<div
						class="progress-bar bgc-blue-500"
						role="progressbar"
						aria-valuenow="50"
						aria-valuemin="0"
						aria-valuemax="100"
						style="width: 80%"
					></div>
				</div>
				<div class="layer w-100 mT-15">
					<h5 class="mB-5">200</h5>
					<small class="fw-600 c-grey-700"
						>Total Deaths <span class="c-grey-500 fw-400">(Barotac Nuevo)</span></small
					>
					<span class="pull-right c-grey-600 fsz-sm">40%</span>
					<div class="progress mT-10">
						<div
							class="progress-bar bgc-light-green-500"
							role="progressbar"
							aria-valuenow="50"
							aria-valuemin="0"
							aria-valuemax="100"
							style="width: 40%"
						></div>
					</div>
				</div>
				<div class="layer w-100 mT-15">
					<h5 class="mB-5">150</h5>
					<small class="fw-600 c-grey-700">Total Population</small>
                <span class="pull-right c-grey-600 fsz-sm">90%</span>
                <div class="progress mT-10">
                    <div class="progress-bar bgc-purple-500" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row mT-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-light">
                <button class="btn btn-dark">Edit Incidence of Crude Death Chart</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-light">
                <button class="btn btn-dark">Edit Technical Notes</button>
            </div>
        </div>
    </div>
</div>