<!-- News  -->
<!-- <pre style="color: gray">
    {{ data | json }}
</pre> -->
<Articles *ngIf="type === 'App\\Models\\Article'" [data]="data"></Articles>
<SliderImages *ngIf="type === 'App\\Models\\Slider'" [data]="data"></SliderImages>
<QuikLinkApproval *ngIf="type === 'App\\Models\\QuickLinks'" [data]="data"></QuikLinkApproval>

<!-- Population  -->
<Top-Population *ngIf="type === 'App\\Models\\TopPopulation'" [data]="data"></Top-Population>
<PopulationProfile *ngIf="type === 'App\\Models\\Statistics\\Profile'" [data]="data"></PopulationProfile>

<!-- About  -->
<Award *ngIf="type === 'App\\Models\\CMS\\Award'" [data]="data"></Award>
<OrganizationalChart *ngIf="type === 'App\\Models\\CMS\\Chart'" [data]="data"></OrganizationalChart>
<ApprovalsPersonnelDirectory *ngIf="type === 'App\\Models\\PersonnelDirectory'" [data]="data"></ApprovalsPersonnelDirectory>

<!-- Program Areas  -->
<ProgramAreas *ngIf="type === 'App\\Models\\CMS\\Activity'" [data]="data"></ProgramAreas>

<!-- Services  -->
<Services *ngIf="false" [data]="data"></Services>
<ServicesOffered *ngIf="type === 'App\\Models\\CMS\\ServiceOffer'" [data]="data"></ServicesOffered>

<!-- Demographics  -->
<IncidenceChart *ngIf="false" [data]="data"></IncidenceChart>
<MonthChart *ngIf="false" [data]="data"></MonthChart>

<!-- Births   -->
<BirthStatistics *ngIf="type === 'App\\Models\\Statistics\\BirthStatistic'" [data]="data"></BirthStatistics>
<Teenage-Incidence-Graph *ngIf="false" [data]="data"></Teenage-Incidence-Graph>

<!-- Deaths   -->
<DeathStatistics *ngIf="false" [data]="data"></DeathStatistics>

<!-- Migrations   -->
<MigrationStatistic *ngIf="false" [data]="data"></MigrationStatistic>

<!-- Marriages   -->

<!-- RPFP  -->
<MPC-FDC *ngIf="type === 'App\\Models\\MPCFDC'" [data]="data"></MPC-FDC>
<PMOC *ngIf="false" [data]="data"></PMOC>

<!-- TeenCenters   -->
<TeenCenter *ngIf="false" [data]="data"></TeenCenter>

<!-- Others   -->
<Technical-Notes *ngIf="type === 'App\\Models\\TechnicalNotes'" [data]="data"></Technical-Notes>

<!-- Officials   -->
<ProvincialOfficials *ngIf="false" [data]="data"></ProvincialOfficials>
<SP-Member *ngIf="false" [data]="data"></SP-Member>
<MunicipalOfficials *ngIf="false" [data]="data"></MunicipalOfficials>

<MPC-FDC-Personnel *ngIf="false" [data]="data"></MPC-FDC-Personnel>
<MPC-FDC-Team *ngIf="false" [data]="data"></MPC-FDC-Team>
<PMOC-Team *ngIf="false" [data]="data"></PMOC-Team>

<Teen-Center-Focal-Persons *ngIf="false" [data]="data"></Teen-Center-Focal-Persons>
<Teen-Center-Personnel-Incharge *ngIf="false" [data]="data"></Teen-Center-Personnel-Incharge>
<Teen-Center-AHYD-Team *ngIf="false" [data]="data"></Teen-Center-AHYD-Team>
<AHYD-Team *ngIf="false" [data]="data"></AHYD-Team>
<PersonnelIncharge *ngIf="false" [data]="data"></PersonnelIncharge>