<!-- News  -->
<Articles *ngIf="false"></Articles>
<SliderImages *ngIf="false"></SliderImages>

<!-- Population  -->
<Top-Population *ngIf="false"></Top-Population>
<PopulationProfile *ngIf="false"></PopulationProfile>
<PopulationPyramid *ngIf="false"></PopulationPyramid>

<!-- About  -->
<Award *ngIf="false"></Award>
<OrganizationalChart *ngIf="false"></OrganizationalChart>

<!-- Program Areas  -->
<ProgramAreas *ngIf="false"></ProgramAreas>

<!-- Services  -->
<Services *ngIf="false"></Services>
<ServicesOffered *ngIf="false"></ServicesOffered>

<!-- Demographics  -->
<IncidenceChart *ngIf="false"></IncidenceChart>
<MonthChart *ngIf="false"></MonthChart>

<!-- Births   -->
<BirthStatistics *ngIf="false"></BirthStatistics>
<Teenage-Incidence-Graph *ngIf="false"></Teenage-Incidence-Graph>

<!-- Deaths   -->
<DeathStatistics *ngIf="true"></DeathStatistics>

<!-- Migrations   -->
<MigrationRate *ngIf="false"></MigrationRate>
<MigrationStatistic *ngIf="false"></MigrationStatistic>

<!-- Marriages   -->

<!-- RPFP  -->
<MPC-FDC *ngIf="false"></MPC-FDC>
<PMOC *ngIf="false"></PMOC>

<!-- TeenCenters   -->
<TeenCenter *ngIf="false"></TeenCenter>

<!-- Others   -->
<Technical-Notes *ngIf="false"></Technical-Notes>

<!-- Officials   -->
<ProvincialOfficials *ngIf="false"></ProvincialOfficials>
<SP-Member *ngIf="false"></SP-Member>
<MunicipalOfficials *ngIf="false"></MunicipalOfficials>

<MPC-FDC-Personnel *ngIf="false"></MPC-FDC-Personnel>
<MPC-FDC-Team *ngIf="false"></MPC-FDC-Team>
<PMOC-Team *ngIf="false"></PMOC-Team>

<Teen-Center-Focal-Persons *ngIf="false"></Teen-Center-Focal-Persons>
<Teen-Center-Personnel-Incharge *ngIf="false"></Teen-Center-Personnel-Incharge>
<Teen-Center-AHYD-Team *ngIf="false"></Teen-Center-AHYD-Team>
<AHYD-Team *ngIf="false"></AHYD-Team>
<PersonnelIncharge *ngIf="false"></PersonnelIncharge>