<div class="card">
    <div class="card-header bg-white">
        <h5 class="m-0 card-title text-center d-flex">
            <span style="align-self: center">{{ serviceOffered.title }}</span>
        </h5>
    </div>
    <div class="card-body">
        <div class="bl br card mb-2">
            <div class="card-body bg-white d-flex aic">
                <div>
                    <div class="h5 m-0 card-title c-blue-300 dw"><i class="ti-microphone"></i> {{ data.title }}</div>
                    <span class="m-0 text-muted pl-4">Created : {{ data.created_at | date: 'MMMM dd, yyy - hh:mm a' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>