<p class="h5"></p>
<div class="card-body">
    <table class="table mt-5">
        <thead class="table-white">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="ti-user"></i></td>
                <td>{{ data.name }}</td>
                <td>Sanguniang Panlalawigan Member</td>
            </tr>
        </tbody>
    </table>
</div>