<table class="table mT-30">
    <thead class="table-white">
        <tr>
            <th></th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of AHYDTeam">
            <th><i class="ti-user h4"></i></th>
            <td>{{ person.name }}</td>
            <td>{{ person.position }}</td>
            <td>
                <button (click)="remove(person.id)" class="btn btn-sm btn-outline-danger">
					Remove
				</button>
            </td>
        </tr>
    </tbody>
</table>