<ng-template class="t-m-auto" #content let-modal>
    <div class="modal-header t-bg-bg-brand t-flex t-items-center">
        <div class="t-text-xl t-mt-2 t-text-white t-px-5">
            {{ title }}
        </div>

        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true"
                ><i class="ti-close t-text-white t-mr-3"></i
            ></span>
        </button>
    </div>

    <div class="modal-body t-px-5 t-py-10">
        <ng-template #name [ngTemplateOutlet]="template"> </ng-template>
    </div>
</ng-template>

<button
    matRipple
    [class]="btnClass"
    (click)="open(content)"
    matRippleColor="rgba(150, 150, 150,.05)"
>
    <i [class]="icon"></i>
    {{ btnTitle }}
</button>
