<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="text-center h4">{{ title | titlecase }}</h4>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true"><i class="ti-close"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <ng-template #name [ngTemplateOutlet]="template"> </ng-template>
    </div>
</ng-template>

<button
    matRipple
    [class]="btnClass"
    (click)="open(content)"
    matRippleColor="rgba(150, 150, 150,.05)"
>
    <i [class]="icon"></i>
    {{ btnTitle | titlecase }}
</button>
