<p class="h5">
    Province: <span class="h4 text-info">Iloilo</span>, Muncipality: <span class="h4 text-info"> Barotac Nuevo</span>, Barangay: <span class="h4 text-info">Lagubang</span>
</p>
<div class="card-body">
    <table class="table mt-5">
        <thead class="table-white">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="ti-user"></i></td>
                <td>Jamel Eid Yassin</td>
                <td>Sanguniang Panlalawigan Member</td>
            </tr>
        </tbody>
    </table>
</div>