<table
    *ngIf="
        ageDistributionAndAgeDependencyRatio &&
        innerWidth &&
        ageDistributionAndAgeDependencyRatio.length !== 0
    "
    class="table table-striped"
    [ngClass]="{'table-responsive': innerWidth < 1139}"
>
    <thead>
        <tr>
            <th class="border ppbm">Young Dependency</th>
            <th class="border ppbm">Old Dependency</th>
            <th class="border ppbm">Dependency</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="
                let item of ageDistributionAndAgeDependencyRatio;
                trackBy: trackByFn
            "
        >
            <td class="border ppbm">
                {{ item['young_dependency'] }}
            </td>
            <td class="border ppbm">
                {{ item.old_dependency }}
            </td>
            <td class="border ppbm">
                {{ item.dependency }}
            </td>
        </tr>
    </tbody>
</table>
