<div class="bg-light">
    <ng-template #addTopPopulated>
        <AddTopPopulated></AddTopPopulated>
    </ng-template>

    <ng-template #addPopulationProfile>
        <AddPopulationProfile></AddPopulationProfile>
    </ng-template>

    <ng-template #customizePyramid>
        <CustomizePyramid></CustomizePyramid>
    </ng-template>

    <ng-template #viewOfficials>
        <ViewOfficials></ViewOfficials>
    </ng-template>

    <ng-template #customizeTechnicalNotes>
        <CustomizeTechnicalNotes type="Population"></CustomizeTechnicalNotes>
    </ng-template>

    <ng-template #addOfficials>
        <AddOfficials></AddOfficials>
    </ng-template>

    <ng-template #ageDistributionAndDependecyRatio>
        <AgeDistributionAndDependecyRatio></AgeDistributionAndDependecyRatio>
    </ng-template>

    <div class="d-flex" style="
			justify-content: flex-end;
			margin-bottom: -2rem;
			position: relative;
			z-index: 1;
		">
        <Modal size="lg" title="Add Municipality that has a Large Population" btnTitle="Add most populated municipality" btnClass="btn btn-sm btn-dark mr-2" [template]="addTopPopulated" icon="ti-plus"></Modal>

        <Modal size="lg" title="Add Age Distribution and AgeDependency ratio" btnTitle="Add age distribution and age dependency ratio" btnClass="btn btn-sm btn-primary mr-2" [template]="ageDistributionAndDependecyRatio" icon="ti-plus"></Modal>

        <Modal size="lg" title="Add Officials" btnTitle="Add an official" btnClass="btn btn-sm btn-danger mr-2" [template]="addOfficials" icon="ti-plus"></Modal>

        <Modal size="lg" title="View  Officials" btnTitle="View officials" btnClass="btn btn-sm btn-outline-danger" [template]="viewOfficials" icon="ti-pin"></Modal>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="h5 text-dark mb-4">Top Populated Municipalities</div>
        </div>
        <div class="col-md-3 mb-3" *ngFor="let municipality of topPopulated">
            <div class="p-20 bg-white border">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1 d-flex">
                        {{ municipality.data.name }}
                        <span (click)="deleteTopPopulated(municipality.id)" class="ml-auto">
							<i class="ti-minus"></i>
						</span>
                    </h6>
                </div>
                <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                        <div class="peer peer-greed">
                            <div class="progress mt-1 w-75">
                                <div class="progress-bar bgc-blue-500" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="
										municipality.data.percent + '%'
									"></div>
                            </div>
                            <span><i class="ti-user mr-3"></i
								>{{ municipality.data.total | number }}</span
							>
						</div>
						<div class="peer">
							<span
								class="
									d-ib
									lh-0
									va-m
									fw-600
									bdrs-10em
									pX-15
									pY-15
									bgc-blue-50
									c-blue-500
								"
								>{{ municipality.data.percent | number }}%</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<AddressPicker (onEmit)="fetch($event)"></AddressPicker>

	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header bg-white">
					<div class="card-title h5 d-flex">
						<span>Population Pyramid</span>
                            <div class="ml-auto">
                                <DropDown [buttons]="Pyramid"></DropDown>
                                <ng-template #Pyramid>
                                    <Modal size="lg" title="Customize a Population Pyramid" btnTitle="Customize a population pyramid" btnClass="dropdown-item" [template]="customizePyramid"></Modal>
                                </ng-template>
                            </div>
                        </div>
                        <hr />
                        <div class="card-body">
                            <div id="population-pyramid" class="w-100" style="height: 50vh"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-white">
                        <div class="card-title h5 d-flex aic">
                            <span>Population Profile </span>
                            <div class="ml-auto">
                                <DropDown [buttons]="dropdown"></DropDown>
                                <ng-template #dropdown>
                                    <Modal size="lg" title="Add a Population Profile" btnTitle="Add population profile" btnClass="dropdown-item" [template]="addPopulationProfile"></Modal>
                                </ng-template>
                            </div>
                        </div>
                        <hr />
                        <div class="card-body">
                            <div class="w-100 row">
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h5 fw-300">
                                        Coverage
                                    </h5>
                                    <div class="fw-600 h6">
                                        <span class="fw-600 h6">
										<span
											class="mr-2"
											*ngIf="location.barangay !== null"
										>
											{{ location.barangay | titlecase }}
										</span>
                                        <span class="mr-2" *ngIf="
												location.municipality !== null
											">
											{{
												location.municipality
													| titlecase
											}}
										</span>
                                        <span class="mr-2" *ngIf="
												location.barangay === null &&
												location.municipality === null
											">
											42 Municipalities + 1 Component City
										</span>
                                        <span class="mr-2">
											{{ location.year }}
										</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Total No. of Barangays
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.barangays || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Total Land Area
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.land_area || 0 | number }}
                                        <small>sq.km</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Total Household Population
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.household_population || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Male
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.males || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Female
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.females || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Sex Ratio (males:females)
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.sex_ratio || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Median Age
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.median_age || 0 | number }}
                                        <small>year(s) old</small>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        No. of Households
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.households || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Average Household Size
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.average_household_size || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Population Density
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.density || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Age Dependency Ratio
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.age_dependency_ratio || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Child Dependency Ratio
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.child_dependency_ratio || 0 | number }}
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2 bb pt-1">
                                    <h5 class="text-secondary mb-2 h6 fw-300">
                                        Old-Age Dependency Ratio
                                    </h5>
                                    <div class="fw-600 h4">
                                        {{ populationProfile.old_age_dependency_ratio || 0 | number }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header bg-white d-flex aic">
                        <div class="card-title h5 mr-auto mt-2">
                            Population by Age Group and Sex
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="ppbm border">Age Group</th>
                                    <th class="ppbm border">Male</th>
                                    <th class="ppbm border">%</th>
                                    <th class="ppbm border">Female</th>
                                    <th class="ppbm border">%</th>
                                    <th class="ppbm border">Total</th>
                                    <th class="ppbm border">%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of populationbyAgeGroupandSex">
                                    <td class="ppbm border">
                                        {{ item.ageGroup }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.male | number }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.percent_male | number: '1.2-2' }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.female | number }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.percent_female | number: '1.2-2' }}
                                    </td>
                                    <td class="border ppbm">
                                        {{ item.total | number }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.percent_total | number: '1.2-2' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ppbm border fw-900">
                                        {{ populationbyAgeGroupandSexTotal.ageGroup }}
                                    </td>
                                    <td class="ppbm border fw-900">
                                        {{ populationbyAgeGroupandSexTotal.male | number }}
                                    </td>
                                    <td class="ppbm border fw-900">
                                        {{ populationbyAgeGroupandSexTotal.percent_male | number: '1.2-2' }}
                                    </td>
                                    <td class="ppbm border fw-900">
                                        {{ populationbyAgeGroupandSexTotal.female | number }}
                                    </td>
                                    <td class="ppbm border fw-900">
                                        {{ populationbyAgeGroupandSexTotal.percent_female | number: '1.2-2' }}
                                    </td>
                                    <td class="border ppbm fw-900">
                                        {{ populationbyAgeGroupandSexTotal.total | number }}
                                    </td>
                                    <td class="ppbm border fw-900">
                                        {{ populationbyAgeGroupandSexTotal.percent_total | number: '1.2-2' }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header bg-white d-flex aic">
                        <div class="card-title h5 mr-auto mt-2">
                            Population Profile By Municipality
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th rowspan="2">#</th>
                                    <th class="ppbm border text-left" rowspan="2">
                                        Muncipality
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        No of Barangays
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        Land Area (sq.km)
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        Population Density (person/sq.km)
                                    </th>
                                    <th colspan="3" class="text-center">
                                        Population
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        Sex Ratio
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        No. of HHs
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        Ave HH Size
                                    </th>
                                </tr>
                                <tr>
                                    <th class="ppbm border">Male</th>
                                    <th class="ppbm border">Female</th>
                                    <th class="ppbm border">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
									let data of populationByMuncipality;
									let i = index
								">
                                    <td>{{ i + 1 }}</td>
                                    <td class="border">
                                        {{ data.municipality | titlecase }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.barangays | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.land_area | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.density | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.males | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.females | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ total(data.males, data.females) | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.sex_ratio | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.household_population | number }}
                                    </td>
                                    <td class="text-center border">
                                        {{ data.average_household_size | number }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-header bgc-blue-900 d-flex aic">
                        <div class="card-title text-white h5 mr-auto mt-2">
                            Age Distribution (PROVINCE OF ILOILO)
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="ppbm border">0-14</th>
                                    <th class="ppbm border">%</th>
                                    <th class="ppbm border">15-64</th>
                                    <th class="ppbm border">%</th>
                                    <th class="ppbm border">54 & Over</th>
                                    <th class="ppbm border">%</th>
                                    <th class="ppbm border">Total HH Population</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
									let item of AgeDistributionAndAgeDependecyRatio
								">
                                    <td lass="ppbm border">
                                        {{ item['0-14'] }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ getPercentage( item['0-14'], item.hh_population ) }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item['15-64'] }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ getPercentage( item['15-64'], item.hh_population ) }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item['65_and_over'] }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ getPercentage( item['65_and_over'], item.hh_population ) }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.hh_population }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="card">
                    <div class="card-header bgc-blue-900 d-flex aic">
                        <div class="card-title text-white h5 mr-auto mt-2">
                            Age Dependency Ratio (PROVINCE OF ILOILO)
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="ppbm border">Young Dependency</th>
                                    <th class="ppbm border">Old Dependency</th>
                                    <th class="ppbm border">Dependency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
									let item of AgeDistributionAndAgeDependecyRatio
								">
                                    <td class="ppbm border">
                                        {{ item['young_dependency'] }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.old_dependency }}
                                    </td>
                                    <td class="ppbm border">
                                        {{ item.dependency }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="card-body d-flex aic jcc">
                    <img class="w-50" src="../../../assets/ipop/population/dependency.png" alt="" />
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header bg-white d-flex aic">
                        <div class="card-title h5 mr-auto mt-2">
                            Age Distribution and Age Dependency Ratio by Municipality
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="ppbm border text-left" rowspan="2">
                                        Muncipality
                                    </th>
                                    <th class="ppbm border" rowspan="2">
                                        HH Population
                                    </th>
                                    <th colspan="3" class="text-center border">
                                        Age Distribution
                                    </th>
                                    <th colspan="3" class="text-center border">
                                        Dependency Ratio
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th class="border ppbm">0-14</th>
                                    <th class="border ppbm">15-64</th>
                                    <th class="border ppbm">65 and Over</th>
                                    <th class="border ppbm">Young Dependecy</th>
                                    <th class="border ppbm">Old Dependecy</th>
                                    <th class="border ppbm">Dependecy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
									let item of AgeDistributionAndAgeDependecyRatioByMunicipality
								">
                                    <td class="border ppbm">
                                        {{ item.municipality }}
                                    </td>
                                    <td class="border ppbm">
                                        {{ item.hh_population }}
                                    </td>
                                    <td class="border ppbm">{{ item['0-14'] }}</td>
                                    <td class="border ppbm">{{ item['15-64'] }}</td>
                                    <td class="border ppbm">
                                        {{ item['65_and_over'] }}
                                    </td>
                                    <td class="border ppbm">
                                        {{ item.young_dependency }}
                                    </td>
                                    <td class="border ppbm">
                                        {{ item.old_dependency }}
                                    </td>
                                    <td class="border ppbm">
                                        {{ item.dependency }}
                                    </td>
                                    <td>
                                        <DropDown [buttons]="aadrDD"></DropDown>
                                        <ng-template #aadrDD>
                                            <button (click)="removeDependency(item.id)" class="dropdown-item">
											Remove
										</button>
                                        </ng-template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header bg-white d-flex aic">
                        <div class="card-title h5 mr-auto mt-2">
                            Technical Notes
                        </div>
                        <Modal size="lg" title="Customize Technical Notes" btnTitle="Customize technical notes" btnClass="btn btn-sm btn-dark" [template]="customizeTechnicalNotes" icon="ti-notepad"></Modal>
                    </div>
                    <div class="card-body">
                        <TechnicalNotes type="Population"></TechnicalNotes>
                    </div>
                </div>
            </div>
        </div>
    </div>