<div class="t-bg-gray-50">
    <ng-template #addTopPopulated>
        <AddTopPopulated></AddTopPopulated>
    </ng-template>

    <ng-template #addPopulationProfile>
        <AddPopulationProfile
            [profile]="populationProfile"
        ></AddPopulationProfile>
    </ng-template>

    <ng-template #customizePyramid>
        <CustomizePyramid></CustomizePyramid>
    </ng-template>

    <ng-template #viewOfficials>
        <ViewOfficials></ViewOfficials>
    </ng-template>

    <ng-template #customizeTechnicalNotes>
        <CustomizeTechnicalNotes type="Population"></CustomizeTechnicalNotes>
    </ng-template>

    <ng-template #addOfficials>
        <AddOfficials></AddOfficials>
    </ng-template>

    <ng-template #ageDistributionAndAgeDependencyRatioModal>
        <AgeDistributionAndDependecyRatio></AgeDistributionAndDependecyRatio>
    </ng-template>

    <div
        class="d-flex"
        style="justify-content: flex-end; position: relative; z-index: 1"
        [ngClass]="{column: innerWidth < 1139}"
    >
        <Modal
            size="lg"
            *ngIf="!isUser"
            class="md:t-mx-1"
            icon="ti-plus mr-2"
            [template]="addTopPopulated"
            btnTitle="Top 10 Populated Municipalities"
            btnClass="t-px-3 t-bg-black t-text-white  mb-2 w-100 t-py-2 md:t-mr-5"
            title="Add Municipality that has a Large Population"
        ></Modal>

        <Modal
            size="lg"
            *ngIf="!isUser"
            class="md:t-mx-1"
            icon="ti-plus mr-2"
            [template]="ageDistributionAndAgeDependencyRatioModal"
            btnTitle="Age Distribution & Age Dependency"
            title="Add Age Distribution and Age Dependency ratio"
            btnClass="t-px-3 t-bg-blue-800 t-text-white  mb-2 w-100 t-py-2 md:t-mr-5"
        ></Modal>

        <Modal
            size="lg"
            *ngIf="!isUser"
            class="md:t-mx-1"
            icon="ti-plus mr-2"
            btnTitle="Official"
            title="Add Officials"
            [template]="addOfficials"
            btnClass="t-px-3 t-bg-red-700 t-text-white  mb-2 w-100 t-py-2 md:t-mr-5"
        ></Modal>

        <Modal
            size="lg"
            class="md:t-mx-1"
            title="View  Officials"
            btnTitle="View Officials"
            [template]="viewOfficials"
            btnClass="t-px-3 t-bg-blue-700 t-text-white  mb-2 w-100 t-py-2 md:t-mr-5"
        ></Modal>
    </div>

    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <PyramidChart-and-AgeGroup
        [location]="location"
        type="Population"
        pyramidTitle="Population Pyramid"
        ageGroupTitle="Population by Age Group and Sex"
        [colors]="['#0039A9', '#CD1125']"
        ageGroupColor="#0039A9"
    ></PyramidChart-and-AgeGroup>

    <div class="row">
        <div class="mt-3 col-md-12">
            <div class="card">
                <div class="bg-white card-header">
                    <div class="card-title d-flex aic">
                        <span class="h4" style="margin-top: 1rem"
                            >Population Profile
                        </span>

                        <div *ngIf="!isUser" class="ml-auto">
                            <DropDown [buttons]="dropdown"></DropDown>
                            <ng-template #dropdown>
                                <Modal
                                    size="lg"
                                    title="Add a Population Profile"
                                    btnTitle="Add population profile"
                                    btnClass="dropdown-item"
                                    [template]="addPopulationProfile"
                                ></Modal>
                            </ng-template>
                        </div>
                    </div>
                    <hr />
                    <div class="card-body">
                        <NoDataComponent
                            [data]="populationProfile.barangays"
                        ></NoDataComponent>

                        <population-profile
                            [location]="location"
                            [populationProfile]="populationProfile"
                        ></population-profile>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 col-md-12">
            <div class="card">
                <div class="bg-white card-header d-flex aic">
                    <div
                        class="mt-2 mr-auto card-title h4"
                        style="margin-top: 1rem"
                    >
                        Population Profile By Municipality
                    </div>
                </div>
                <div class="card-body">
                    <NoDataComponent
                        [data]="populationByMunicipality"
                    ></NoDataComponent>

                    <population-by-municipality
                        [innerWidth]="innerWidth"
                        [populationByMunicipality]="populationByMunicipality"
                    ></population-by-municipality>
                </div>
            </div>
        </div>

        <div class="mt-3 col-md-6">
            <div class="card">
                <div class="card-header bgc-blue-900 d-flex aic">
                    <div
                        class="mt-2 mr-auto text-white card-title h4"
                        style="margin-top: 1rem"
                    >
                        Age Distribution (PROVINCE OF ILOILO)
                    </div>
                </div>

                <div class="card-body">
                    <NoDataComponent
                        [data]="ageDistributionAndAgeDependencyRatio"
                    ></NoDataComponent>

                    <age-distribution
                        [innerWidth]="innerWidth"
                        [ageDistributionAndAgeDependencyRatio]="
                            ageDistributionAndAgeDependencyRatio
                        "
                    ></age-distribution>
                </div>
            </div>
        </div>

        <div class="mt-3 col-md-6">
            <div class="card">
                <div class="card-header bgc-blue-900 d-flex aic">
                    <div
                        class="mt-2 mr-auto text-white card-title h4"
                        style="margin-top: 1rem"
                    >
                        Age Dependency Ratio (PROVINCE OF ILOILO)
                    </div>
                </div>

                <div class="card-body">
                    <NoDataComponent
                        [data]="ageDistributionAndAgeDependencyRatio"
                    ></NoDataComponent>

                    <age-distribution-dependency
                        [innerWidth]="innerWidth"
                        [ageDistributionAndAgeDependencyRatio]="
                            ageDistributionAndAgeDependencyRatio
                        "
                    ></age-distribution-dependency>
                </div>
            </div>
        </div>

        <div class="mt-3 col-md-12">
            <div class="card-body d-flex aic jcc">
                <img
                    class="w-50"
                    src="/assets/ipop/population/dependency.png"
                    alt=""
                />
            </div>
        </div>

        <div class="mt-3 col-md-12">
            <div class="card">
                <div class="text-white card-header bgc-blue-900 d-flex aic">
                    <div
                        class="mt-2 mr-auto card-title h4"
                        style="margin-top: 1rem"
                    >
                        Age Distribution and Age Dependency Ratio by
                        Municipality
                    </div>
                </div>

                <div class="card-body">
                    <NoDataComponent
                        [data]="ageDistributionAndAgeDependencyRatio"
                    ></NoDataComponent>

                    <age-distribution-dependency-by-municipality
                        [innerWidth]="innerWidth"
                        (onRemove)="(removeDependency)"
                        [ageDistributionAndAgeDependencyRatio]="
                            ageDistributionAndAgeDependencyRatioByMunicipality
                        "
                    ></age-distribution-dependency-by-municipality>
                </div>
            </div>
        </div>
    </div>

    <div
        class="card"
        [ngClass]="{'mt-3': innerWidth < 1139}"
        style="margin-bottom: 2rem; margin-top: 2rem; padding: 2rem 0"
    >
        <div class="col-md-12">
            <div class="mb-4 text-dark h4">Top 10 Populated Municipalities</div>
        </div>

        <div *ngIf="topPopulated.length === 0" class="mb-4 col-md-12">
            <NoDataComponent [data]="topPopulated"></NoDataComponent>
        </div>

        <top-populated
            class="t-w-full"
            (onDelete)="deleteTopPopulated($event)"
            [topPopulated]="topPopulated"
        ></top-populated>
    </div>

    <div class="card">
        <div class="bg-white card-header d-flex aic">
            <div class="mt-2 mr-auto card-title h4">Technical Notes</div>
            <Modal
                *ngIf="!isUser"
                size="lg"
                title="Customize Technical Notes"
                btnTitle="Customize technical notes"
                btnClass="btn btn-sm btn-dark"
                [template]="customizeTechnicalNotes"
                icon="ti-notepad"
            ></Modal>
        </div>

        <div class="card-body">
            <TechnicalNotes type="Population"></TechnicalNotes>
        </div>
    </div>
</div>
