<div class="bgc-white mb-0">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-muted active"> <i class="ti-direction-alt"></i> Uploaded </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> For your approvals </a>
        </li>
    </ul>
</div>
<div class="card">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th scope="col">From</th>
                <th scope="col">Uploaded Last</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                <td><i class="ti-folder text-warning"></i></td>
                <td>District 4</td>
                <td>11/14/1994</td>
                <td>
                    <span class="small d-ib lh-0 va-m fw-600 bdrs-10em pX-10 pY-10 bgc-green-50 c-green-500">Approved</span
					>
				</td>
				<td>
					<DropDown [buttons]="dropdown"></DropDown>
					<ng-template #dropdown>
						<button ngbDropdownItem>Download in excel format</button>
						<button ngbDropdownItem>Approve</button>
						<button ngbDropdownItem>Reject</button>

						<Modal
							btnClass="dropdown-item"
							ngbDropdownItem
							size="xl"
							title="Comments"
							btnTitle="Comments"
							[template]="comments"
						></Modal>
					</ng-template>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<ng-template #comments>
	<Comments></Comments>
</ng-template>