<table class="table mT-30">
    <thead class="table-white">
        <tr>
            <th><i class="ti-user"></i></th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th *ngIf="!isUser"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personnel of teams">
            <td>
                <img [src]="personnel.photo.uri" alt="" />
            </td>
            <td>{{ personnel.name }}</td>
            <td>{{ personnel.position }}</td>
            <td>
                <button *ngIf="!isUser" (click)="remove(personnel.id)" class="btn btn-sm btn-outline-danger">
					Remove
				</button>
            </td>
        </tr>
    </tbody>
</table>