<div class="card card-body">
    <br />
    <div class="inputs">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="sorting-number">Sorting Number</label>
                <input [class.is-invalid]="invalid.sorting_number" [(ngModel)]="fields.sorting_number" t type="number" class="form-control" id="sorting-number" required />
                <div class="invalid-feedback">Sorting Number is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Location</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="municipality">Municipality</label>
                <select [class.is-invalid]="invalid.municipality" class="custom-select" id="municipality" required>
					<option selected disabled value="">Choose...</option>
					<option
						style="text-transform: capitalize"
						*ngFor="let municipality of municipalities"
						[value]="municipality.code"
					>
						{{ municipality.name }}
					</option>
				</select>
                <div class="invalid-feedback">Municipality is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="barangay">
					<div
						*ngIf="barangayIsLoading"
						class="spinner-border text-light spinner-border-sm fast"
						role="status"
					>
						<span class="sr-only">Loading...</span>
					</div>
					Barangay
				</label>
                <select [class.is-invalid]="invalid.barangay" [(ngModel)]="fields.barangay" class="custom-select" id="barangay" required>
					<option selected disabled value="">Choose...</option>
					<option *ngFor="let barangay of barangays">{{ barangay.name }}</option>
				</select>
                <div class="invalid-feedback">Barangay is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Household Case</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="household-number">Household Number</label>
                <input [class.is-invalid]="invalid.household_number" [(ngModel)]="fields.household_number" type="number" class="form-control" id="household-number" required />
                <div class="invalid-feedback">Household Number is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="total-cases">Total Cases</label>
                <input [class.is-invalid]="invalid.total_cases" [(ngModel)]="fields.total_cases" type="number" class="form-control" id="total-cases" required />
                <div class="invalid-feedback">Total Cases is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="case-number">Case Number</label>
                <input [class.is-invalid]="invalid.case_number" [(ngModel)]="fields.case_number" type="number" class="form-control" id="case-number" required />
                <div class="invalid-feedback">Case Number is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">In Migration Details</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="month-of-death">Month of Migration</label>
                <select [class.is-invalid]="invalid.month" [(ngModel)]="fields.month" class="custom-select" id="month-of-death" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let monthOfMigration of monthOfMigrations">{{ monthOfMigration }}</option>
				</select>
                <div class="invalid-feedback">Month of Migration is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="case-number">Name of Household Members</label>
                <input [class.is-invalid]="invalid.name" [(ngModel)]="fields.name" type="text" class="form-control" id="deaceased-name" required />
                <div class="invalid-feedback">Name of Household Members is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="sex">Sex of Immigrant</label>
                <select [class.is-invalid]="invalid.sex" [(ngModel)]="fields.sex" class="custom-select" id="sex" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let sex of sexs">{{ sex }}</option>
				</select>
                <div class="invalid-feedback">Sex of Immigran is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="age-at-death">Date of Birth</label>
                <input [class.is-invalid]="invalid.date_of_birth" [(ngModel)]="fields.date_of_birth" type="date" class="form-control" id="age-at-death" required />
                <div class="invalid-feedback">Date of Birth is required</div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="age-at-death">Age of HH member</label>
                <input [class.is-invalid]="invalid.age" [(ngModel)]="fields.age" type="number" class="form-control" id="age-at-death" required />
                <div class="invalid-feedback">Age of HH membe is required</div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="age-at-death">Age in Months</label>
                <input [class.is-invalid]="invalid.age_in_months" [(ngModel)]="fields.age_in_months" type="number" class="form-control" id="age-at-death" required />
                <div class="invalid-feedback">Age in Months is required</div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="age-bracket">Age Bracket</label>
                <select [class.is-invalid]="invalid.age_bracket" [(ngModel)]="fields.age_bracket" class="custom-select" id="age-bracket" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let ageBracket of ageBrackets">{{ ageBracket }}</option>
				</select>
                <div class="invalid-feedback">Age Bracket is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Education & Occupation</h5>
        <div class="row">
            <div class="col-md-7 mb-3">
                <label for="place-of-death">Completed Educational Attainment</label>
                <select [class.is-invalid]="invalid.completed_educational_attainment" [(ngModel)]="fields.completed_educational_attainment" class="custom-select" id="place-of-death" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let educationalAttainment of educationalAttainments">
						{{ educationalAttainment }}
					</option>
				</select>
                <div class="invalid-feedback">Completed Educational Attainment is required</div>
            </div>

            <div class="col-md-5 mb-3">
                <label for="registered-lcr">Actual Occupation</label>
                <select [class.is-invalid]="invalid.actual_occupation" [(ngModel)]="fields.actual_occupation" class="custom-select" id="registered-lcr" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let occupation of occupations">{{ occupation }}</option>
				</select>
                <div class="invalid-feedback">Actual Occupation is required</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="age-at-death">Major Occupation of In Migrant</label>
                <input [class.is-invalid]="invalid.major_occupation" [(ngModel)]="fields.major_occupation" type="text" class="form-control" id="age-at-death" required />
                <div class="invalid-feedback">is required</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="registered-lcr">Monthly Income</label>
                <select [class.is-invalid]="invalid.monthly_income" [(ngModel)]="fields.monthly_income" class="custom-select" id="registered-lcr" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let monthlyIncome of monthlyIncomes">{{ monthlyIncome }}</option>
				</select>
                <div class="invalid-feedback">Major Occupation of In Migrant is required</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="skills-aquired">Skills Acquired</label>
                <input [class.is-invalid]="invalid.skills_acquired" [(ngModel)]="fields.skills_acquired" t type="text" class="form-control" id="skills-aquired" required />
                <div class="invalid-feedback">Skills Acquired is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Origin</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="skills-aquired">Actual Place of origin</label>
                <input [class.is-invalid]="invalid.actual_place_of_origin" [(ngModel)]="fields.actual_place_of_origin" type="text" class="form-control" id="skills-aquired" required />
                <div class="invalid-feedback">Actual Place of origin is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="registered-lcr">Place of Origin</label>
                <select [class.is-invalid]="invalid.place_of_origin" [(ngModel)]="fields.place_of_origin" class="custom-select" id="registered-lcr" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let placeOfOrigin of placeOfOrigins">{{ placeOfOrigin }}</option>
				</select>
                <div class="invalid-feedback">Place of Origin is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="registered-lcr">Reasons for In-Migrating</label>
                <select [class.is-invalid]="invalid.reasons_for_in_migrating" [(ngModel)]="fields.reasons_for_in_migrating" class="custom-select" id="registered-lcr" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let reasonForInMagrating of reasonForInMagratings">
						{{ reasonForInMagrating }}
					</option>
				</select>
                <div class="invalid-feedback">Reasons for In-Migrating is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mb-3">
                <label for="registered-lcr">Specific Reason</label>
                <select [class.is-invalid]="invalid.sorting_number" [(ngModel)]="fields.sorting_number" class="custom-select" id="registered-lcr" required>
					<option selected disabled>Choose...</option>
					<option *ngFor="let specificReason of specificReasons">{{ specificReason }}</option>
				</select>
                <div class="invalid-feedback">Specific Reason is required</div>
            </div>
        </div>
        <div class="d-flex aic jcc mT-30">
            <button *ngIf="!isLoading" (click)="save()" class="btn btn-primary">Submit In Migration Record</button>
            <button *ngIf="isLoading" class="btn button" type="btn btn-primary" disabled>
				<span class="spinner-border spinner-border-sm text-light fast" role="status" aria-hidden="true"></span>
				Loading...
			</button>
        </div>
    </div>
</div>