<div class="card-body">
    <div class="form-group">
        <label for="">Title</label>
        <input [(ngModel)]="data.title" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Link to website</label>
        <textarea [(ngModel)]="data.url" type="text" class="form-control"></textarea>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="saveQuickLink()" class="btn btn-success"><i class="ti-check mr-1"></i> Add this quick link</button>
</div>