<div class="peers ai-s fxw-nw h-100vh">
    <div
        class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
        style="background-image: url('/assets/ipop/home/2.jpg')"
    >
        <img
            class="pos-a centerXY t-h-36 t-w-3t-h-36"
            src="../../../assets/new-assets/iloilo-seal.png"
            alt=""
        />
    </div>

    <div
        class="col-12 col-md-4 peer pX-50 pY-100 h-100 bgc-white scrollable pos-r text-center t-flex t-flex-col"
        style="min-width: 320px"
    >
        <img
            class="t-h-40 t-w-3t-h-40 t-mx-auto"
            src="../../../assets/new-assets/ipop-seal.png"
            alt=""
        />

        <div class="md:t-text-5xl t-text-2xl t-font-black t-my-5">
            Sign in to IPOP
        </div>

        <div>
            Sign-in with your username and password given by the administrator
        </div>

        <form class="t-mt-8">
            <div class="input-group mb-3">
                <input
                    autocomplete="false"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="data.username"
                    type="email"
                    class="form-control form-control-lg"
                    placeholder="Username"
                />
            </div>

            <div class="input-group mb-3">
                <input
                    autocomplete="false"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="data.password"
                    type="password"
                    class="form-control form-control-lg"
                    placeholder="Password"
                />
            </div>

            <button
                (click)="login()"
                class="t-bg-bg-brand t-text-white flex t-py-3 t-w-full t-mt-8"
                [disabled]="isLoading"
            >
                <span *ngIf="!isLoading">Sign-in</span>

                <Loader *ngIf="isLoading"></Loader>
            </button>

            <p>or</p>

            <a
                class="btn btn-link w-100 text-secondary"
                routerLink="/home/index/news"
            >
                Visit as IPOP Guest
            </a>
        </form>
    </div>
</div>
