<div class="peers ai-s fxw-nw h-100vh">
    <div
        class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv t-px-5"
        style="background-image: url('../../../assets/new-assets/capitol.jpg')"
    >
        <img
            class="pos-a centerXY t-h-36 t-w-3t-h-36 animate__zoomIn"
            src="/assets/new-assets/iloilo-seal.png"
            alt=""
        />
    </div>

    <div
        @slideInLeft
        style="min-width: 320px"
        class="col-12 col-md-3 peer t-px-5 pY-100 h-100 bgc-white scrollable pos-r text-center t-flex t-flex-col"
    >
        <img
            animateCSS
            class="t-h-40 t-w-3t-h-40 t-mx-auto animate__flip"
            src="/assets/new-assets/ipop-seal.png"
            alt=""
        />

        <div
            class="md:t-text-5xl t-text-2xl t-font-black t-text-text-brand t-my-5"
        >
            Log In
        </div>

        <div class="t-px-5 t-text-sm">
            Log In with the credentials given by the administrator.
        </div>

        <form [formGroup]="signInForm" class="t-mt-8">
            <div class="t-w-full">
                <input
                    autofocus
                    id="username"
                    type="username"
                    placeholder="Username"
                    autocomplete="username"
                    formControlName="username"
                    [ngClass]="{
                        't-bg-red-500 t-border-red-500/30':
                            signInForm.get('username')?.touched &&
                            !signInForm.get('username')?.valid
                    }"
                    class="t-px-5 t-py-4 t-border t-border-gray-200 t-w-full focus:t-border-bg-brand"
                />
            </div>

            <div class="t-mb-3 t-w-full">
                <input
                    id="password"
                    type="password"
                    placeholder="Password"
                    autocomplete="password"
                    formControlName="password"
                    [ngClass]="{
                        't-bg-red-500 t-border-red-500/30':
                            signInForm.get('password')?.touched &&
                            !signInForm.get('password')?.valid
                    }"
                    class="t-px-5 t-py-4 t-border t-border-gray-200 t-w-full focus:t-border-bg-brand"
                />
            </div>

            <button
                mat-flat-button
                (click)="login()"
                [ngClass]="{
                    't-bg-gray-400 t-pointer-events-none ':
                        !signInForm.valid || signInForm.disabled,
                    't-bg-bg-brand': signInForm.valid && !signInForm.disabled
                }"
                class="t-text-white flex t-py-3 t-w-full t-mt-8 t-font-black t-text-xl focus:t-border-bg-brand t-flex t-items-center t-justify-center"
            >
                <span *ngIf="!signInForm.disabled">Log In</span>

                <mat-progress-spinner
                    [diameter]="24"
                    *ngIf="signInForm.disabled"
                    class="t-mx-auto"
                    [mode]="'indeterminate'"
                ></mat-progress-spinner>
            </button>

            <div class="t-mt-8">or</div>

            <a
                class="btn btn-link w-100 text-secondary"
                routerLink="/home/index/news"
            >
                Visit as Guest
            </a>
        </form>
    </div>
</div>
