<table
    *ngIf="
        ageDistributionAndAgeDependencyRatio &&
        innerWidth &&
        ageDistributionAndAgeDependencyRatio.length !== 0
    "
    class="table table-striped"
    [ngClass]="{'table-responsive': innerWidth < 1139}"
>
    <thead>
        <tr>
            <th class="text-left border ppbm" rowspan="2">Municipality</th>
            <th class="border ppbm" rowspan="2">HH Population</th>
            <th colspan="3" class="text-center border">Age Distribution</th>
            <th colspan="3" class="text-center border">Dependency Ratio</th>
            <th></th>
        </tr>
        <tr>
            <th class="border ppbm">0-14</th>
            <th class="border ppbm">15-64</th>
            <th class="border ppbm">65 and Over</th>
            <th class="border ppbm">Young Dependency</th>
            <th class="border ppbm">Old Dependency</th>
            <th class="border ppbm">Dependency</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="
                let item of ageDistributionAndAgeDependencyRatio;
                trackBy: trackByFn
            "
        >
            <td class="border ppbm">
                {{ item.municipality }}
            </td>
            <td class="border ppbm">
                {{ item.hh_population | number }}
            </td>
            <td class="border ppbm">
                {{ item['0-14'] | number }}
            </td>
            <td class="border ppbm">
                {{ item['15-64'] | number }}
            </td>
            <td class="border ppbm">
                {{ item['65_and_over'] | number }}
            </td>
            <td class="border ppbm">
                {{ item.young_dependency }}
            </td>
            <td class="border ppbm">
                {{ item.old_dependency }}
            </td>
            <td class="border ppbm">
                {{ item.dependency }}
            </td>
            <td>
                <DropDown *ngIf="!isUser" [buttons]="aadrDD"></DropDown>
                <ng-template #aadrDD>
                    <button
                        (click)="onRemove.emit(item.id)"
                        class="dropdown-item"
                    >
                        Remove
                    </button>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>
