<div class="card card-body">
    <br />
    <div class="inputs">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="sorting-number">Sorting Number</label>
                <input [class.is-invalid]="requiredFields.sorting_number" type="number" [(ngModel)]="field.sorting_number" class="form-control" id="sorting-number" required />
                <div class="invalid-feedback">Sorting Number is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Location</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="municipality">Municipality</label>
                <select [class.is-invalid]="requiredFields.municipality" class="custom-select" id="municipality" required>
					<option selected disabled value="">Choose...</option>
					<option *ngFor="let municipality of municipalities" [value]="municipality.code">
						{{ municipality.name }}
					</option>
				</select>
                <div class="invalid-feedback">Municipality is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="barangay">
					<div
						*ngIf="barangayIsLoading"
						class="spinner-border text-light spinner-border-sm fast"
						role="status"
					>
						<span class="sr-only">Loading...</span>
					</div>
					Barangay
				</label>
                <select [class.is-invalid]="requiredFields.barangay" class="custom-select" id="barangay" [(ngModel)]="field.barangay" required>
					<option selected disabled value="">Choose...</option>
					<option *ngFor="let barangay of barangays">{{ barangay.name }}</option>
				</select>
                <div class="invalid-feedback">Barangay is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="zone">Purok or Zone</label>
                <input [class.is-invalid]="requiredFields.zone" [(ngModel)]="field.zone" class="custom-select" id="zone" required />
                <div class="invalid-feedback">Purok or Zone is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="Householdnum">Household Number</label>
                <input [class.is-invalid]="requiredFields.household_number" [(ngModel)]="field.household_number" class="custom-select" id="Householdnum" required />
                <div class="invalid-feedback">Household Number is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="Characterisitcs">Household Characterisitcs</label>
                <input [class.is-invalid]="requiredFields.household_characteristics" [(ngModel)]="field.household_characteristics" class="custom-select" id="Characterisitcs" required />
                <div class="invalid-feedback">Household Characterisitcsr is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Household</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="number_of_persons_living">NO. of Persons Living in the House</label>
                <input [class.is-invalid]="requiredFields.number_of_persons_living" [(ngModel)]="field.number_of_persons_living" class="custom-select" id="number_of_persons_living" type="number" required />
                <div class="invalid-feedback">NO. of Persons Living in the House is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="houseHoldSizeBracket">Household Size Bracket</label>
                <select [class.is-invalid]="requiredFields.household_size_bracket" [(ngModel)]="field.household_size_bracket" class="custom-select" id="houseHoldSizeBracket" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let houseHoldSizeBracket of select.houseHoldSizeBrackets">
						{{ houseHoldSizeBracket }}
					</option>
				</select>
                <div class="invalid-feedback">Household Size Bracket is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="number_of_families">Number of Families</label>
                <select [class.is-invalid]="requiredFields.number_of_families" [(ngModel)]="field.number_of_families" class="custom-select" id="numofFamilies" type="number" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let houseHoldSizeBrackets of select.houseHoldSizeBrackets">
						{{ houseHoldSizeBrackets }}
					</option>
				</select>
                <div class="invalid-feedback">Number of Families is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="lineNumber">Line number of Household Member</label>
                <input [class.is-invalid]="requiredFields.line_number_of_household_member" [(ngModel)]="field.line_number_of_household_member" class="custom-select" id="lineNumber" type="text" required />
                <div class="invalid-feedback">Line number of Household Member is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="name_of_household_member">Name of Household Members</label>
                <input [class.is-invalid]="requiredFields.name_of_household_member" [(ngModel)]="field.name_of_household_member" class="custom-select" id="name_of_household_member" type="text" required />
                <div class="invalid-feedback">Name of Household Members is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="relationship_to_household_head">Relationship to Household Head</label>
                <select [class.is-invalid]="requiredFields.relationship_to_household_head" [(ngModel)]="field.relationship_to_household_head" class="custom-select" id="relationship_to_household_head" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let RelationshiptoHouseholdHead of select.RelationshiptoHouseholdHeads">
						{{ RelationshiptoHouseholdHead }}
					</option>
				</select>
                <div class="invalid-feedback">Relationship to Household Head is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Household Details</h5>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="sex">Sex</label>
                <select [class.is-invalid]="requiredFields.sex" [(ngModel)]="field.sex" class="custom-select" id="sex" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let Sex of select.Sexes">{{ Sex }}</option>
				</select>
                <div class="invalid-feedback">Sex is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="date_of_birth">Date of Birth</label>
                <input [class.is-invalid]="requiredFields.date_of_birth" [(ngModel)]="field.date_of_birth" class="custom-select" id="dateOfBirth" type="date" required />
                <div class="invalid-feedback">Date of Birth is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="ageAsLastBirthDay">Age as of Last Birthday</label>
                <input [class.is-invalid]="requiredFields.age" [(ngModel)]="field.age" class="custom-select" id="ageAsLastBirthDay" type="number" required />
                <div class="invalid-feedback">Age as of Last Birthda is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="AgeBracket">Age Bracket</label>
                <select [class.is-invalid]="requiredFields.age_bracket" [(ngModel)]="field.age_bracket" class="custom-select" id="AgeBracket" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let AgeBrackets of select.AgeBrackets">{{ AgeBrackets }}</option>
				</select>
                <div class="invalid-feedback">Age Bracket is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="civilStatus">Civil Status</label>
                <select [class.is-invalid]="requiredFields.civil_status" [(ngModel)]="field.civil_status" class="custom-select" id="civilStatus" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let CivilStatuses of select.CivilStatuses">{{ CivilStatuses }}</option>
				</select>
                <div class="invalid-feedback">Civil Status is required</div>
            </div>

            <div class="col-md-5 mb-3">
                <label for="highest_educational_attainment">Highest Educational Attainment</label>
                <select [class.is-invalid]="requiredFields.highest_educational_attainment" [(ngModel)]="field.highest_educational_attainment" class="custom-select" id="highest_educational_attainment" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HighestEducationalAttainments of select.HighestEducationalAttainments">
						{{ HighestEducationalAttainments }}
					</option>
				</select>
                <div class="invalid-feedback">Highest Educational Attainment is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">School</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="school_attendance">School Attendance</label>
                <select [class.is-invalid]="requiredFields.school_attendance" [(ngModel)]="field.school_attendance" class="custom-select" id="school_attendance" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let SchoolAttendances of select.SchoolAttendances">{{ SchoolAttendances }}</option>
				</select>
                <div class="invalid-feedback">School Attendance is required</div>
            </div>

            <div class="col-md-6 mb-6">
                <label for="level_of_school_attendance">Grade/Year Level of School Attendance</label>
                <select [class.is-invalid]="requiredFields.level_of_school_attendance" [(ngModel)]="field.level_of_school_attendance" class="custom-select" id="level_of_school_attendance" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let GradeYearLevelofSchoolAttendances of select.GradeYearLevelofSchoolAttendances">
						{{ GradeYearLevelofSchoolAttendances }}
					</option>
				</select>
                <div class="invalid-feedback">School Attendance is required</div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="!specify.reason_for_not_attending_school" class="col-md-6 mb-3">
                <label for="reason_for_not_attending_school">Reason for Not Attending School</label>
                <select [class.is-invalid]="requiredFields.reason_for_not_attending_school" (change)="changeHandler($event)" [(ngModel)]="field.reason_for_not_attending_school" class="custom-select" id="reason_for_not_attending_school" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let ReasonforNotAttendingSchools of select.ReasonforNotAttendingSchools">
						{{ ReasonforNotAttendingSchools }}
					</option>
					<option>Others, please specify reason</option>
				</select>
                <div class="invalid-feedback">Reason for Not Attending School is required</div>
            </div>

            <div *ngIf="specify.reason_for_not_attending_school" class="col-md-6 mb-3">
                <label for="reason_for_not_attending_school">Specify Reasons for Not Attending School</label>
                <input [class.is-invalid]="requiredFields.reason_for_not_attending_school" placeholder="Enter specific Reason" [(ngModel)]="field.reason_for_not_attending_school" class="custom-select" id="reason_for_not_attending_school" type="text" required />
                <div class="invalid-feedback">Specify Reasons for Not Attending School is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Religion</h5>
        <div class="row">
            <div *ngIf="!specify.religious_affiliation" class="col-md-6 mb-3">
                <label for="religious_affiliation">Religious Affiliation</label>
                <select [class.is-invalid]="requiredFields.religious_affiliation" (change)="changeHandler($event)" [(ngModel)]="field.religious_affiliation" class="custom-select" id="religious_affiliation" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let ReligiousAffiliations of select.ReligiousAffiliations">
						{{ ReligiousAffiliations }}
					</option>
				</select>
                <div class="invalid-feedback">Religious Affiliationis required</div>
            </div>

            <div *ngIf="specify.religious_affiliation" class="col-md-6 mb-3">
                <label for="religious_affiliation">Specify Religious Affiliation</label>
                <input [class.is-invalid]="requiredFields.religious_affiliation" placeholder="Enter religion" [(ngModel)]="field.religious_affiliation" class="custom-select" id="religious_affiliation" type="text" required />
                <div class="invalid-feedback">Specify Religious Affiliation is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Skills</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="have_special_skills">Have special skills</label>
                <select [class.is-invalid]="requiredFields.have_special_skills" [(ngModel)]="field.have_special_skills" class="custom-select" id="have_special_skills" type="text" required>
					<option selected disabled>Choose..</option>
					<option>Yes</option>
					<option>No</option>
				</select>
                <div class="invalid-feedback">Have special skills is required</div>
            </div>

            <div *ngIf="!specify.type_of_special_skill" class="col-md-6 mb-3">
                <label for="type_of_special_skill">Type of Special Skills</label>
                <select [class.is-invalid]="requiredFields.type_of_special_skill" name="type_of_special_skill" (change)="changeHandler($event)" [(ngModel)]="field.type_of_special_skill" class="custom-select" id="type_of_special_skill" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let TypeofSpecialSkills of select.TypeofSpecialSkills">
						{{ TypeofSpecialSkills }}
					</option>
					<option>Others, specify special skill</option>
				</select>
                <div class="invalid-feedback">Type of Special Skills is required</div>
            </div>

            <div *ngIf="specify.type_of_special_skill" class="col-md-6 mb-3">
                <label for="skills_specify">Skills Specify</label>
                <input [class.is-invalid]="requiredFields.skills_specify" placeholder="Enter special skill" [(ngModel)]="field.skills_specify" class="custom-select" id="skills_specify" required />
                <div class="invalid-feedback">Skills Specify is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Disablitiy</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="presence_of_disability">Presence of Disability</label>
                <select [class.is-invalid]="requiredFields.presence_of_disability" [(ngModel)]="field.presence_of_disability" class="custom-select" id="presence_of_disability" required>
					<option selected disabled>Choose..</option>
					<option>Yes</option>
					<option>No</option>
				</select>
                <div class="invalid-feedback">Presence of Disability is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="type_of_disability">Type of Disability</label>
                <select [class.is-invalid]="requiredFields.type_of_disability" [(ngModel)]="field.type_of_disability" class="custom-select" id="type_of_disability" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let TypeofDisabilities of select.TypeofDisabilities">
						{{ TypeofDisabilities }}
					</option>
				</select>
                <div class="invalid-feedback">Type of Disability is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Tribe</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="indigenous_group_or_tribe">Indigenous group or tribe</label>
                <select [class.is-invalid]="requiredFields.indigenous_group_or_tribe" [(ngModel)]="field.indigenous_group_or_tribe" class="custom-select" id="indigenous_group_or_tribe" required>
					<option selected disabled>Choose..</option>
					<option>Yes</option>
					<option>No</option>
				</select>
                <div class="invalid-feedback">Indigenous group or tribe is required</div>
            </div>

            <div *ngIf="!specify.name_of_group_or_tribe" class="col-md-6 mb-3">
                <label for="name_of_group_or_tribe">Name of Indigenous or Tribe</label>
                <select [class.is-invalid]="requiredFields.name_of_group_or_tribe" (change)="changeHandler($event)" [(ngModel)]="field.name_of_group_or_tribe" class="custom-select" id="name_of_group_or_tribe" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let NameofIndigenousorTribes of select.NameofIndigenousorTribes">
						{{ NameofIndigenousorTribes }}
					</option>
					<option>Others, specify tribe</option>
				</select>
                <div class="invalid-feedback">Name of Indigenous or Tribe is required</div>
            </div>

            <div *ngIf="specify.name_of_group_or_tribe" class="col-md-6 mb-3">
                <label for="specify_tribe">Specify Tribe</label>
                <input [class.is-invalid]="requiredFields.specify_tribe" placeholder="Enter Tribe" [(ngModel)]="field.specify_tribe" class="custom-select" id="specify_tribe" required />
                <div class="invalid-feedback">Specify Tribe is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">PhilHealth</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="active_philhealth_member">Active PhilHealth Member (18 years old & above)</label>
                <select [class.is-invalid]="requiredFields.active_philhealth_member" [(ngModel)]="field.active_philhealth_member" class="custom-select" id="active_philhealth_member" required>
					<option selected disabled>Choose..</option>
					<option>Yes</option>
					<option>No</option>
				</select>
                <div class="invalid-feedback">Active PhilHealth Member (18 years old & above) is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="philhealth_membership_specify">PhilHealth Membership-Specify</label>
                <select [class.is-invalid]="requiredFields.philhealth_membership_specify" [(ngModel)]="field.philhealth_membership_specify" class="custom-select" id="philhealth_membership_specify" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let PhilHealthMemberships of select.PhilHealthMemberships">
						{{ PhilHealthMemberships }}
					</option>
				</select>
                <div class="invalid-feedback">PhilHealth Membership-Specify is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Occupation</h5>
        <div class="row">
            <div *ngIf="!specify.usual_occupation_of_working_household_member" class="col-md-4 mb-3">
                <label for="usual_occupation_of_working_household_member">Usual Occupation of Working HH Member</label>
                <select [class.is-invalid]="requiredFields.usual_occupation_of_working_household_member" (change)="changeHandler($event)" [(ngModel)]="field.usual_occupation_of_working_household_member" class="custom-select" id="usual_occupation_of_working_household_member"
                    required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let UsualOccupationofWorkingHHMembers of select.UsualOccupationofWorkingHHMembers">
						{{ UsualOccupationofWorkingHHMembers }}
					</option>
					<option>Others, specify ususal occupation</option>
				</select>
                <div class="invalid-feedback">is required</div>
            </div>

            <div *ngIf="specify.usual_occupation_of_working_household_member" class="col-md-4 mb-3">
                <label for="specify_usual_occupation">Specify Usual Occupation</label>
                <input [class.is-invalid]="requiredFields.specify_usual_occupation" placeholder="Enter specific occupation" [(ngModel)]="field.specify_usual_occupation" class="custom-select" id="specify_usual_occupation" required />
                <div class="invalid-feedback">is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="gross_monthly_income">Gross Monthly Income</label>
                <input [class.is-invalid]="requiredFields.gross_monthly_income" type="number" [(ngModel)]="field.gross_monthly_income" class="custom-select" id="gross_monthly_income" required />
                <div class="invalid-feedback">is required</div>
            </div>

            <div class="col-md-4 mb-3">
                <label for="income_bracket">Income Bracket</label>
                <select [class.is-invalid]="requiredFields.income_bracket" class="custom-select" type="text" [(ngModel)]="field.income_bracket" id="income_bracket">
					<option selected disabled>Choose..</option>
					<option *ngFor="let IncomeBrackets of select.IncomeBrackets">{{ IncomeBrackets }}</option>
				</select>
                <div class="invalid-feedback">is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="place_of_work">Place of Work/Employment of the Earning HouseHold Member</label>
                <select [class.is-invalid]="requiredFields.place_of_work" [(ngModel)]="field.place_of_work" class="custom-select" id="place_of_work" required>
					<option selected disabled>Choose..</option>
					<option
						*ngFor="
							let PlaceofWorkorEmploymentoftheEarningHHMembers of select.PlaceofWorkorEmploymentoftheEarningHHMembers
						"
					>
						{{ PlaceofWorkorEmploymentoftheEarningHHMembers }}
					</option>
				</select>
                <div class="invalid-feedback">Place of Work/Employment of the Earning HouseHold Member is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Stay</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="number_of_years_stay">No. of Years Stay (in Current Address)</label>
                <input [class.is-invalid]="requiredFields.number_of_years_stay" [(ngModel)]="field.number_of_years_stay" type="number" class="custom-select" id="number_of_years_stay" required />
                <div class="invalid-feedback">No. of Years Stay (in Current Address) is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="number_of_years_bracket">No. of Years Stay Bracket</label>
                <select [class.is-invalid]="requiredFields.number_of_years_bracket" [(ngModel)]="field.number_of_years_bracket" class="custom-select" id="number_of_years_bracket" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let NoofYearsStayBrackets of select.NoofYearsStayBrackets">
						{{ NoofYearsStayBrackets }}
					</option>
				</select>
                <div class="invalid-feedback">No. of Years Stay Bracket is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">FP</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="fp_currently_used">FP Currently Used (By Women 10-50 yrs old)</label>
                <select [class.is-invalid]="requiredFields.fp_currently_used" [(ngModel)]="field.fp_currently_used" class="custom-select" id="fp_currently_used" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let FPCurrentlyUseds of select.FPCurrentlyUseds">{{ FPCurrentlyUseds }}</option>
				</select>
                <div class="invalid-feedback">FP Currently Used (By Women 10-50 yrs old) is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Income</h5>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="total_household_monthly_income">Total Household Monthly Income</label>
                <input [class.is-invalid]="requiredFields.total_household_monthly_income" [(ngModel)]="field.total_household_monthly_income" type="number" class="custom-select" id="total_household_monthly_income" required />
                <div class="invalid-feedback">Total Household Monthly Income is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="household_income_bracket">Household Income Bracket</label>
                <select [class.is-invalid]="requiredFields.household_income_bracket" [(ngModel)]="field.household_income_bracket" class="custom-select" id="household_income_bracket" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HouseholdIncomeBrackets of select.HouseholdIncomeBrackets">
						{{ HouseholdIncomeBrackets }}
					</option>
				</select>
                <div class="invalid-feedback">Household Income Bracket is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">House</h5>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="house_ownership">House Ownership</label>
                <select [class.is-invalid]="requiredFields.house_ownership" [(ngModel)]="field.house_ownership" class="custom-select" id="house_ownership" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HouseOwnerships of select.HouseOwnerships">{{ HouseOwnerships }}</option>
				</select>
                <div class="invalid-feedback">House Ownership is required</div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="house_levels">How many stories/level is the house?</label>
                <select [class.is-invalid]="requiredFields.house_levels" [(ngModel)]="field.house_levels" class="custom-select" id="house_levels" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let Howmanystories of select.Howmanystories">{{ Howmanystories }}</option>
				</select>
                <div class="invalid-feedback">How many stories/level is the house? is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="house_construction_material">House Construction Material</label>
                <select [class.is-invalid]="requiredFields.house_construction_material" [(ngModel)]="field.house_construction_material" class="custom-select" id="house_construction_material" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HouseConstructionMaterials of select.HouseConstructionMaterials">
						{{ HouseConstructionMaterials }}
					</option>
				</select>
                <div class="invalid-feedback">House Construction Material is required</div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="homelot_ownership_or_tenure_status">Homelot Ownership/Tenure Status</label>
                <select [class.is-invalid]="requiredFields.homelot_ownership_or_tenure_status" [(ngModel)]="field.homelot_ownership_or_tenure_status" class="custom-select" id="homelot_ownership_or_tenure_status" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HomelotOwnershipStatuses of select.HomelotOwnershipStatuses">
						{{ HomelotOwnershipStatuses }}
					</option>
				</select>
                <div class="invalid-feedback">Homelot Ownership/Tenure Status is required</div>
            </div>
        </div>
        <h5 class="text-info mB-20 mT-30">Household Management</h5>
        <div class="row">
            <div *ngIf="!specify.source_of_drinking_water" class="col-md-4 mb-3">
                <label for="source_of_drinking_water">HouseHold Usual Source of Water for Drinking</label>
                <select [class.is-invalid]="requiredFields.source_of_drinking_water" (change)="changeHandler($event)" [(ngModel)]="field.source_of_drinking_water" class="custom-select" id="source_of_drinking_water" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HHUsualSourceofWaterforDrinkings of select.HHUsualSourceofWaterforDrinkings">
						{{ HHUsualSourceofWaterforDrinkings }}
					</option>
					<option>Others, specify source of water</option>
				</select>
                <div class="invalid-feedback">HouseHold Usual Source of Water for Drinking is required</div>
            </div>

            <div *ngIf="specify.source_of_drinking_water" class="col-md-4 mb-3">
                <label for="numofFamilies">Specify HH Usual Source of Water for Drinking</label>
                <input [class.is-invalid]="requiredFields.source_of_drinking_water" placeholder="Enter specific source" [(ngModel)]="field.source_of_drinking_water" class="custom-select" id="source_of_drinking_water" required />
                <div class="invalid-feedback">Specify HH Usual Source of Water for Drinking is required</div>
            </div>

            <div class="col-md-5 mb-3">
                <label for="type_of_toilet">Type of Toilet the Household Owns</label>
                <select [class.is-invalid]="requiredFields.type_of_toilet" [(ngModel)]="field.type_of_toilet" class="custom-select" id="type_of_toilet" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let TypeofToilettheHouseholdwns of select.TypeofToilettheHouseholdwns">
						{{ TypeofToilettheHouseholdwns }}
					</option>
				</select>
                <div class="invalid-feedback">Type of Toilet the Household Owns is required</div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="garbage_disposal">Household's Garbage Disposal</label>
                <select [class.is-invalid]="requiredFields.house_ownership" [(ngModel)]="field.garbage_disposal" class="custom-select" id="garbage_disposal" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HouseholdsGarbageDisposals of select.HouseholdsGarbageDisposals">
						{{ HouseholdsGarbageDisposals }}
					</option>
				</select>
                <div class="invalid-feedback">Household's Garbage Disposal is required</div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="!specify.type_of_lighting_fuel" class="col-md-6 mb-3">
                <label for="type_of_lighting_fuel">Type of Fuel Use for Lighting</label>
                <select [class.is-invalid]="requiredFields.type_of_lighting_fuel" (change)="changeHandler($event)" [(ngModel)]="field.type_of_lighting_fuel" class="custom-select" id="type_of_lighting_fuel" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let TypeofFuelUseforLighting of select.TypeofFuelUseforLighting">
						{{ TypeofFuelUseforLighting }}
					</option>
					<option>Others, specify fuel use for lighting</option>
				</select>
                <div class="invalid-feedback">Type of Fuel Use for Lighting is required</div>
            </div>

            <div *ngIf="specify.type_of_lighting_fuel" class="col-md-6 mb-3">
                <label for="type_of_lighting_fuel">Specify Fuel for lighting</label>
                <input [class.is-invalid]="requiredFields.type_of_lighting_fuel" placeholder="Specify fuel for lighting" [(ngModel)]="field.type_of_lighting_fuel" class="custom-select" id="type_of_lighting_fuel" required />
                <div class="invalid-feedback">Specify Fuel for lighting is required</div>
            </div>

            <div *ngIf="!specify.type_of_cooking_fuel" class="col-md-6 mb-3">
                <label for="type_of_cooking_fuel">Type of Fuel for Cooking</label>
                <select [class.is-invalid]="requiredFields.type_of_cooking_fuel" (change)="changeHandler($event)" [(ngModel)]="field.type_of_cooking_fuel" class="custom-select" id="type_of_cooking_fuel" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let TypeofuelforCooking of select.TypeofuelforCooking">
						{{ TypeofuelforCooking }}
					</option>
					<option>Others, specify fuel use for cooking</option>
				</select>
                <div class="invalid-feedback">Type of Fuel for Cooking is required</div>
            </div>

            <div *ngIf="specify.type_of_cooking_fuel" class="col-md-6 mb-3">
                <label for="type_of_cooking_fuel">Specify Fuel for Cooking</label>
                <input [class.is-invalid]="requiredFields.type_of_cooking_fuel" placeholder="Specify fuel for cooking" [(ngModel)]="field.type_of_cooking_fuel" class="custom-select" id="type_of_cooking_fuel" required />
                <div class="invalid-feedback">Specify Fuel for Cooking is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="geohazard_area">House Location Geo-Hazard Area</label>
                <select [class.is-invalid]="requiredFields.geohazard_area" [(ngModel)]="field.geohazard_area" class="custom-select" id="geohazard_area" required>
					<option selected disabled>Choose..</option>
					<option>Yes</option>
					<option>No</option>
				</select>
                <div class="invalid-feedback">House Location Geo-Hazard Area is required</div>
            </div>

            <div *ngIf="!specify.household_location" class="col-md-6 mb-3">
                <label for="household_location">Household Location</label>
                <select [class.is-invalid]="requiredFields.household_location" (change)="changeHandler($event)" [(ngModel)]="field.household_location" class="custom-select" id="household_location" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let HouseholdLocation of select.HouseholdLocation">{{ HouseholdLocation }}</option>
				</select>
                <div class="invalid-feedback">Household Location is required</div>
            </div>

            <div *ngIf="specify.household_location" class="col-md-6 mb-3">
                <label for="household_location">Specify Household Location</label>
                <input [class.is-invalid]="requiredFields.household_location" placeholder="Enter specif house hold location" [(ngModel)]="field.household_location" class="custom-select" id="household_location" required />
                <div class="invalid-feedback">Specify Household Location is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="flood_prone_area_water_level">Water Level in flood prone area</label>
                <select [class.is-invalid]="requiredFields.flood_prone_area_water_level" [(ngModel)]="field.flood_prone_area_water_level" class="custom-select" id="flood_prone_area_water_level" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let WaterLevelinfloodpronearea of select.WaterLevelinfloodpronearea">
						{{ WaterLevelinfloodpronearea }}
					</option>
				</select>
                <div class="invalid-feedback">Water Level in flood prone area is required</div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="!specify.access_to_infotech" class="col-md-6 mb-3">
                <label for="access_to_infotech">Access to Information Technology</label>
                <select [class.is-invalid]="requiredFields.access_to_infotech" (change)="changeHandler($event)" [(ngModel)]="field.access_to_infotech" class="custom-select" id="access_to_infotech" required>
					<option selected disabled>Choose..</option>
					<option *ngFor="let AccesstoInformationTechnology of select.AccesstoInformationTechnology">
						{{ AccesstoInformationTechnology }}
					</option>
					<option>Others, specify access to information technology</option>
				</select>
                <div class="invalid-feedback">Access to Information Technology is required</div>
            </div>

            <div *ngIf="specify.access_to_infotech" class="col-md-6 mb-3">
                <label for="access_to_infotech">Specify Access to Information Technology</label>
                <input [class.is-invalid]="requiredFields.access_to_infotech" [(ngModel)]="field.access_to_infotech" class="custom-select" id="access_to_infotech" required />
                <div class="invalid-feedback">Specify Access to Information Technology is required</div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="forps_beneficiary_household">4Ps Beneficiary Household</label>
                <select [class.is-invalid]="requiredFields.forps_beneficiary_household" [(ngModel)]="field.forps_beneficiary_household" class="custom-select" id="forps_beneficiary_household" required>
					<option selected disabled>Choose..</option>
					<option>Yes</option>
					<option>No</option>
				</select>
                <div class="invalid-feedback">4Ps Beneficiary Household is required</div>
            </div>
        </div>
        <div class="d-flex aic jcc mT-30">
            <button *ngIf="!isLoading" (click)="submit()" class="btn btn-primary">Submit Out CPDB Record</button>
            <button *ngIf="isLoading" class="btn button" type="btn btn-primary" disabled>
				<span class="spinner-border spinner-border-sm text-light fast" role="status" aria-hidden="true"></span>
				Loading...
			</button>
        </div>
    </div>
</div>