<div class="card-body">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="">Crude Death Rate</label>
            <input [(ngModel)]="data.crude_death_rate" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-6">
            <label for="">Total Deaths</label>
            <input [(ngModel)]="data.total" type="text" class="form-control" />
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" class="btn btn-success"><i class="ti-check mr-1"></i> Add this Local Death Data</button>
</div>