<div *ngIf="location$ | async as location" class="card-body">
    <ul class="nav nav-tabs">
        <li *ngFor="let nav of NAVIGATION; trackBy: trackByFn" class="nav-item">
            <button
                matRipple
                (click)="changeTab(nav)"
                matRippleColor="rgba(150, 150, 150,.05)"
                class="t-px-10 t-py-2.5 t-rounded-t-2xl"
                [ngClass]="{
                    't-bg-[#0F49A2] t-text-white t-pointer-events-none ':
                        tabs[nav],
                    'text-muted md:hover:t-bg-gray-50': !tabs[nav]
                }"
            >
                <i class="ti-user"></i> {{ nav | titlecase }}
            </button>
        </li>
    </ul>

    <br />

    <div class="t-text-2xl t-font-bold t-mb-8">
        You are encoding the list of {{ tabs?.males ? 'Males' : 'Females' }}
    </div>

    <form
        class="row"
        [ngClass]="{'t-hidden': !tabs.males}"
        [formGroup]="populationPyramidFormMales"
    >
        <mat-form-field
            appearance="fill"
            class="t-mb-5 col-md-4"
            *ngFor="
                let ageGroup of POPULATION_PYRAMID_AGE_GROUPS;
                trackBy: trackByFn
            "
        >
            <mat-label>{{ ageGroup.label }}</mat-label>

            <input
                matInput
                type="number"
                [formControlName]="ageGroup.formControlName"
            />

            <mat-error>This This field is required or place 0</mat-error>
        </mat-form-field>
    </form>

    <form
        class="row"
        [ngClass]="{'t-hidden': tabs.males}"
        [formGroup]="populationPyramidFormFemales"
    >
        <mat-form-field
            appearance="fill"
            class="col-md-4 t-mb-5"
            *ngFor="
                let ageGroup of POPULATION_PYRAMID_AGE_GROUPS;
                trackBy: trackByFn
            "
        >
            <mat-label>{{ ageGroup.label }}</mat-label>

            <input
                matInput
                type="number"
                [id]="ageGroup.formControlName"
                [formControlName]="ageGroup.formControlName"
            />

            <mat-error>This This field is required or place 0</mat-error>
        </mat-form-field>
    </form>
</div>

<hr />

<div class="mr-5 d-flex aic jcc">
    <button
        (click)="save()"
        [disabled]="isLoading"
        [ngClass]="{
            't-bg-emerald-500 t-text-white':
                !isLoading &&
                populationPyramidFormMales.valid &&
                populationPyramidFormFemales.valid,
            'btn-secondary t-bg-gray-400 t-pointer-events-none t-opacity-50':
                isLoading ||
                populationPyramidFormMales.invalid ||
                populationPyramidFormFemales.invalid
        }"
        class="t-py-3 t-px-14 t-rounded-2xl t-font-bold"
    >
        <span *ngIf="!isLoading"
            ><i class="mr-1 ti-check"></i> Save Pyramid</span
        >

        <Loader *ngIf="isLoading"></Loader>
    </button>
</div>
