<ng-template #addAHYDTeam>
    <AddAHYDTeam></AddAHYDTeam>
</ng-template>

<ng-template #addFocalPersons>
    <AddFocalPersons></AddFocalPersons>
</ng-template>

<ng-template #addTCImages>
    <AddTCImages></AddTCImages>
</ng-template>

<ng-template #addTCPersonnelIncharge>
    <AddTCPersonnelIncharge></AddTCPersonnelIncharge>
</ng-template>

<ng-template #addTeenCenter>
    <AddTeenCenter></AddTeenCenter>
</ng-template>

<ng-template #viewHAYDTeam>
    <ViewHAYDTeam></ViewHAYDTeam>
</ng-template>

<ng-template #viewFocalPersons>
    <ViewFocalPersons></ViewFocalPersons>
</ng-template>

<ng-template #viewTCImages>
    <ViewTCImages></ViewTCImages>
</ng-template>

<ng-template #viewPersonnelIncharge>
    <ViewPersonnelIncharge></ViewPersonnelIncharge>
</ng-template>

<ng-template #customizeTechnicalNotes>
    <CustomizeTechnicalNotes type="TeenCenter"></CustomizeTechnicalNotes>
</ng-template>

<div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
    <Modal size="lg" title="Add a Teen Center" btnTitle="Add teen center" btnClass="btn btn-sm btn-dark mr-1" [template]="addTeenCenter" icon="ti-plus"></Modal>

    <Modal size="lg" title="Add Focal Persons" btnTitle="Add focal persons" btnClass="btn btn-sm btn-primary mr-1" [template]="addFocalPersons" icon="ti-plus"></Modal>

    <Modal size="lg" title="View Focal Persons" btnTitle="View focal persons" btnClass="btn btn-sm btn-outline-primary mr-1" [template]="viewFocalPersons" icon="ti-eye"></Modal>

    <Modal size="lg" title="Add AHYD Team" btnTitle="Add AHYD team" btnClass="btn btn-sm btn-danger mr-1" [template]="addAHYDTeam" icon="ti-plus"></Modal>

    <Modal size="lg" title="View  AHYD Team" btnTitle="View  AHYD team" btnClass="btn btn-sm btn-outline-danger mr-1" [template]="viewHAYDTeam" icon="ti-eye"></Modal>
</div>

<ul class="nav nav-tabs mT-50">
    <li class="nav-item">
        <a class="nav-link text-muted active"> <i class="ti-direction-alt"></i> District 1 </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> District 2 </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> District 3 </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> District 4 </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted"> <i class="ti-direction-alt"></i> District 5 </a>
    </li>
</ul>

<br />

<div class="row">
    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><i class="ti-cloud c-blue-300"></i></th>
                    <td>Mark</td>
                    <td>Konoha</td>
                    <td>
                        <button class="btn btn-sm btn-primary mR-10">View</button>
                        <button (click)="remove()" class="btn btn-sm btn-outline-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card col-md-7">
        <div class="card-body">
            <div class="card-title d-flex">
                <span> Konoha Teen Center of BAROTAC NUEVO </span>
                <div class="ml-auto"></div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Services Offered</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><i class="ti-id-badge c-orange-500"></i></th>
                        <td>Mark</td>
                        <td>Konoha</td>
                        <td>
                            <Modal size="lg" title="View Teen Center Images" btnTitle="Images" btnClass="btn btn-sm btn-outline-warning mr-1" [template]="addTCImages" icon="ti-eye"></Modal>

                            <Modal size="lg" title="View Personnel Incharge" btnTitle="View personnel incharge" btnClass="btn btn-sm btn-outline-info mr-1" [template]="viewPersonnelIncharge" icon="ti-eye"></Modal>

                            <Modal size="lg" title="Add Personnel Incharge" btnTitle="Add personnel incharge" btnClass="btn btn-sm btn-dark mr-1" [template]="addTCPersonnelIncharge" icon="ti-plus"></Modal>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12 mT-50">
    <div class="card">
        <div class="card-header bg-white d-flex aic">
            <div class="card-title h5 mr-auto mt-2">Technical Notes</div>
            <Modal size="lg" title="Customize Technical Notes" btnTitle="Customize technical notes" btnClass="btn btn-sm btn-dark" [template]="customizeTechnicalNotes" icon="ti-notepad"></Modal>
        </div>
        <div class="card-body">
            <TechnicalNotes type="TeenCenter"></TechnicalNotes>
        </div>
    </div>
</div>