<ng-template #addAHYDTeam>
    <AddAHYDTeam></AddAHYDTeam>
</ng-template>

<ng-template #addFocalPersons>
    <AddFocalPersons></AddFocalPersons>
</ng-template>

<ng-template #addTCImages>
    <AddTCImages [data]="currenData"></AddTCImages>
</ng-template>

<ng-template #addTCPersonnelIncharge>
    <AddTCPersonnelIncharge [teen_center_id]="teen_center_id"></AddTCPersonnelIncharge>
</ng-template>

<ng-template #addTeenCenter>
    <AddTeenCenter></AddTeenCenter>
</ng-template>

<ng-template #viewHAYDTeam>
    <ViewHAYDTeam></ViewHAYDTeam>
</ng-template>

<ng-template #viewFocalPersons>
    <ViewFocalPersons></ViewFocalPersons>
</ng-template>

<ng-template #viewTCImages>
    <ViewTCImages></ViewTCImages>
</ng-template>

<ng-template #viewPersonnelIncharge>
    <ViewPersonnelIncharge [teen_center_id]="teen_center_id"></ViewPersonnelIncharge>
</ng-template>

<ng-template #customizeTechnicalNotes>
    <CustomizeTechnicalNotes type="TeenCenter"></CustomizeTechnicalNotes>
</ng-template>

<div class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
    <Modal *ngIf="!isUser" size="lg" title="Add a Teen Center" btnTitle="Add teen center" btnClass="btn btn-sm btn-dark mr-1" [template]="addTeenCenter" icon="ti-plus"></Modal>

    <Modal *ngIf="!isUser" size="lg" title="Add Focal Persons" btnTitle="Add focal persons" btnClass="btn btn-sm btn-primary mr-1" [template]="addFocalPersons" icon="ti-plus"></Modal>

    <Modal size="lg" title="View Focal Persons" btnTitle="View focal persons" btnClass="btn btn-sm btn-outline-primary mr-1" [template]="viewFocalPersons" icon="ti-eye"></Modal>

    <Modal *ngIf="!isUser" size="lg" title="Add AHYD Team" btnTitle="Add AHYD team" btnClass="btn btn-sm btn-danger mr-1" [template]="addAHYDTeam" icon="ti-plus"></Modal>

    <Modal size="lg" title="View  AHYD Team" btnTitle="View  AHYD team" btnClass="btn btn-sm btn-outline-danger mr-1" [template]="viewHAYDTeam" icon="ti-eye"></Modal>
</div>

<ul class="nav nav-tabs mT-50">
    <li (click)="setTab('district1')" class="nav-item">
        <a role="button" class="nav-link text-muted" [class.active]="tabs.district1">
            <i class="ti-direction-alt"></i> District 1
        </a>
    </li>
    <li (click)="setTab('district2')" class="nav-item">
        <a role="button " class="nav-link text-muted" [class.active]="tabs.district2">
            <i class="ti-direction-alt"></i> District 2
        </a>
    </li>
    <li (click)="setTab('district3')" class="nav-item">
        <a role="button" class="nav-link text-muted" [class.active]="tabs.district3">
            <i class="ti-direction-alt"></i> District 3
        </a>
    </li>
    <li (click)="setTab('district4')" class="nav-item">
        <a role="button " class="nav-link text-muted" [class.active]="tabs.district4">
            <i class="ti-direction-alt"></i> District 4
        </a>
    </li>
    <li (click)="setTab('district5')" class="nav-item">
        <a role="button" class="nav-link text-muted" [class.active]="tabs.district5">
            <i class="ti-direction-alt"></i> District 5
        </a>
    </li>
</ul>

<br />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bgc-blue-900 d-flex aic">
                <div class="card-title text-white mr-auto mt-2">
                    Teen Centers
                </div>
            </div>
            <div class="card-body">
                <Spinner></Spinner>
                <NoDataComponent [data]="teenCenters"></NoDataComponent>
                <table *ngIf="teenCenters.length !== 0" class="table" [ngClass]="{ 'table-responsive': innerWidth < 1139 }">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Municipality</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Services</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tc of teenCenters">
                            <th><i class="ti-map-alt c-pink-500 h4"></i></th>
                            <td>{{ tc.municipality }}</td>
                            <td>{{ tc.name }}</td>
                            <td>{{ tc.location }}</td>
                            <td>{{ tc.services || 'N/A' }}</td>
                            <td>
                                <DropDown [buttons]="dropdown"></DropDown>
                                <ng-template #dropdown>
                                    <Modal (click)="currenData = tc" size="lg " title="Add Teen Center New Images " btnTitle="Customize Images " *ngIf="!isUser" btnClass="dropdown-item" [template]="addTCImages"></Modal>

                                    <Modal (click)="transformImages(tc.photos)" size="lg" title="Teen Center Images" btnTitle="View Images" btnClass="dropdown-item" [template]="imageViewer"></Modal>

                                    <Modal (click)="teen_center_id = tc.id" size="lg " title="View Personnel Incharge " btnTitle="View personnel incharge " btnClass="dropdown-item" [template]="viewPersonnelIncharge"></Modal>

                                    <Modal *ngIf="!isUser" (click)="teen_center_id = tc.id" size="lg " title="Add Personnel Incharge " btnTitle="Add personnel incharge " btnClass="dropdown-item" [template]="addTCPersonnelIncharge"></Modal>

                                    <button *ngIf="!isUser" (click)="remove(tc.id)" class="dropdown-item">
										Remove
									</button>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="card">
            <div class="card-header bg-white d-flex aic">
                <div class="card-title h5 mr-auto mt-2">Technical Notes</div>
                <Modal size="lg " title="Customize Technical Notes " btnTitle="Customize technical notes " btnClass="btn btn-sm btn-dark " [template]="customizeTechnicalNotes" icon="ti-notepad "></Modal>
            </div>
            <div class="card-body">
                <TechnicalNotes type="TeenCenter "></TechnicalNotes>
            </div>
        </div>
    </div>
</div>

<ng-template #imageViewer>
    <ImageViewer [images]="currentImages"></ImageViewer>
</ng-template>