<div>
    <Sidebar></Sidebar>
    <!-- style="width: 115vw; margin-left: -300px" -->
    <div class="page-container">
        <Navbar></Navbar>
        <main class="main-content bgc-grey-100">
            <div id="mainContent">
                <router-outlet></router-outlet>
            </div>
        </main>
        <Footers></Footers>
        <footer class="bdT ta-c p-30 lh-0 fsz-sm text-white bg-dark">
            <span>Copyright © 2021 Developed by
				<a target="_blank" href="http://www.iscof.edu.ph/"
					>Iloilo State College of Fisheries Barotac Nuevo Campus</a
				></span
			>,
			<span class="text-warning"> Mobile App , UI and Functionalities developed by: </span>
            <a target="_blank" href="https://www.facebook.com/jamel.bayoneta/"> Jamel Eid Yassin</a>. All rights reserved.
        </footer>
    </div>
</div>