<ul class="nav nav-tabs">
    <li class="nav-item">
        <a (click)="changeTab('province')" role="button" class="nav-link text-muted" [class.active]="tabs.province === true">
            <i class="ti-direction-alt"></i> Province
        </a>
    </li>
    <li class="nav-item">
        <a (click)="changeTab('municipality')" role="button" class="nav-link text-muted" [class.active]="tabs.municipality === true">
            <i class="ti-direction-alt"></i> Municipality
        </a>
    </li>
    <li class="nav-item">
        <a (click)="changeTab('barangay')" role="button" class="nav-link text-muted" [class.active]="tabs.barangay === true">
            <i class="ti-direction-alt"></i> Barangay
        </a>
    </li>
</ul>

<div class="row">
    <div *ngIf="!tabs.province" class="col-md-3 mt-3">
        <label for="municipality">Municipality </label>
        <select (change)="getBarangays($event)" class="custom-select" id="municipality" required>
			<option selected disabled>Choose...</option>
			<option *ngFor="let municipality of municipalities" [value]="municipality.code">
				{{ municipality.name }}
			</option>
		</select>
    </div>

    <div *ngIf="tabs.barangay" class="col-md-3 mt-3">
        <label for="barangay"> Barangay </label>
        <select (change)="setBarangay($event)" class="custom-select" id="barangay" required>
			<option selected disabled value="">Choose...</option>
			<option *ngFor="let barangay of barangays">{{ barangay.name }}</option>
		</select>
    </div>
</div>
<br />