<div class="card-body">
    <div class="row">
        <div class="col-md-12 mt-4">
            <label for="">Services</label>
            <textarea autosize [(ngModel)]="data.services" type="text" class="form-control"></textarea>
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
		<span *ngIf="!isLoading"><i class="ti-check mr-1"></i>Update</span>
		<Loader *ngIf="isLoading"></Loader>
	</button>
</div>