<ng-template #customizeSlider>
    <EditSliderImage></EditSliderImage>
</ng-template>

<ng-template #addArticle>
    <AddArticle></AddArticle>
</ng-template>

<ng-template #addQuickLinks>
    <AddQuickLinks></AddQuickLinks>
</ng-template>

<div *ngIf="!isUser" class="d-flex" style="justify-content: flex-end; position: relative; z-index: 1">
    <Modal icon="ti-pencil-alt" size="lg" title="Customize Slider" btnSize="sm" btnTitle="Customize Slider" btnClass="btn bgc-blue-900 text-white mB-10" [template]="customizeSlider"></Modal>
</div>

<div class="row d-flex aic jcc" style="min-height: 50vh; background-color: rgba(0, 0, 0, 0.1)" *ngIf="images.length === 0">
    <Spinner></Spinner>
</div>

<div style="position: relative; z-index: 0" *ngIf="images.length !== 0">
    <carousel [height]="500" [cellsToShow]="innerWidth > 1139 ? 2.3 : 1" [dots]="true" [autoplay]="true" [autoplayInterval]="2000" [borderRadius]="5" [margin]="0">
        <div *ngFor="let image of images" class="carousel-cell" style="background: rgba(0, 0, 0, 0.1)">
            <img style="object-fit: cover" [src]="image" />
        </div>
    </carousel>
</div>

<div class="row d-flex jcc bg-light">
    <div class="col-md-8">
        <ul class="nav nav-tabs mT-50 bg-white d-flex">
            <li class="nav-item">
                <a role="button" class="nav-link text-muted" (click)="setTab('all')" [class.active]="tabs.all === true">
                    <i class="ti-timer"></i> All
                </a>
            </li>
            <li class="nav-item">
                <a role="button" class="nav-link text-muted" (click)="setTab('today')" [class.active]="tabs.today === true">
                    <i class="ti-timer"></i> Today
                </a>
            </li>
            <li class="nav-item">
                <a role="button" class="nav-link text-muted" (click)="setTab('week')" [class.active]="tabs.week === true">
                    <i class="ti-timer"></i> This Week
                </a>
            </li>
            <li class="nav-item">
                <a role="button" class="nav-link text-muted" (click)="setTab('month')" [class.active]="tabs.month === true">
                    <i class="ti-timer"></i> This Month
                </a>
            </li>
            <li *ngIf="!isUser" class="ml-auto mr-2">
                <DropDown [buttons]="nav"></DropDown>
                <ng-template #nav>
                    <Modal size="lg" title="Add Article" btnSize="sm" btnTitle="Add an article" btnClass="dropdown-item text-secondary" [template]="addArticle"></Modal>
                </ng-template>
            </li>
        </ul>
        <div class="m-0 bl br" *ngFor="let article of articles">
            <div class="card-header bg-white d-flex aic">
                <div>
                    <div class="h3 m-0 card-title dw">{{ article.title }}</div>
                </div>
                <div *ngIf="!isUser" class="ml-auto">
                    <DropDown [buttons]="dropdown"></DropDown>
                    <ng-template #dropdown>
                        <button (click)="removeArticle(article.id)" class="dropdown-item">
							Remove Article
						</button>
                    </ng-template>
                </div>
            </div>
            <div class="card-header bg-white">
                <span class="m-0 c-blue-900"><i class="ti-alarm-clock"></i> Created :
					{{
						article.created_at | date: 'MMMM dd, yyy - hh:mm a'
					}}</span
				>
			</div>
			<div class="card-body bg-white">
				<div class="d-flex row">
					<p class="pX-20 col-md-8">
						{{ article.body }}
					</p>
					<div
						*ngIf="article.photos.length !== 0"
						class="ml-auto mr-2 col-md-3"
					>
						<img
							class="article-image"
							[src]="article.photos[0].file.uri"
							alt=""
						/>
						<Modal
							size="xl"
							[title]="'Images of ' + article.title"
							btnTitle="View Images"
							[template]="imageViewer"
							btnClass="btn btn-link w-100 text-center"
							(click)="transformImages(article.photos)"
						>
						</Modal>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 p-0 m-0 w-100">
		<div class="bg-white mT-90 card">
			<div class="card-header bgc-blue-900 d-flex h4 aic">
				<div class="text-white mr-auto">Quick links</div>
				<Modal
					*ngIf="!isUser"
					icon="ti-plus"
					size="lg"
					title="Add Quick Link"
					btnSize="sm"
					btnTitle="Add"
					btnClass="btn bgc-blue-900 ml-auto text-white"
					[template]="addQuickLinks"
				></Modal>
			</div>
			<div style="overflow: auto">
				<div
					class="card-body d-flex aic"
					*ngFor="let link of quickLinks"
				>
					<span class="p-10">
						<i
							class="ti-control-shuffle c-blue-900"
							style="font-size: 2rem"
						></i>
					</span>
                <a role="button" [href]="link.url" target="_blank" class="p-10">
						{{ link.title }}
					</a>
                <span *ngIf="!isUser" class="ml-auto">
						<button
							placement="right "
							ngbTooltip="Remove"
							(click)="removeLink(link.id)"
							class="btn btn-sm text-secondary"
						>
							<i class="ti-minus"></i>
						</button>
					</span>
            </div>
        </div>
    </div>
</div>
</div>

<ng-template #imageViewer>
    <ImageViewer [images]="currentImages"></ImageViewer>
</ng-template>