<ng-template #customizeSlider>
    <EditSliderImage></EditSliderImage>
</ng-template>

<ng-template #addArticle>
    <AddArticle></AddArticle>
</ng-template>

<ng-template #addQuickLinks>
    <AddQuickLinks></AddQuickLinks>
</ng-template>

<Modal icon="ti-pencil-alt" size="lg" title="Customize Slider" btnSize="sm" btnTitle="Customize Slider" btnClass="btn btn-dark mB-10" [template]="customizeSlider"></Modal>

<div style="position: relative; z-index: 0">
    <carousel [images]="images" [cellsToShow]="2.3" [height]="400" [dots]="true" [autoplay]="true" [autoplayInterval]="3000" [transitionDuration]="300" [borderRadius]="5" [loop]="true" [lightDOM]="true">
    </carousel>
</div>

<div class="row d-flex jcc bg-light">
    <div class="col-md-8">
        <ul class="nav nav-tabs mT-50 bg-white d-flex">
            <li class="nav-item">
                <a class="nav-link text-muted active"> <i class="ti-timer"></i> All </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"> <i class="ti-timer"></i> Today </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"> <i class="ti-timer"></i> This Week </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted"> <i class="ti-timer"></i> This Month </a>
            </li>
            <li class="ml-auto mr-2">
                <Modal icon="ti-plus" size="lg" title="Add Article" btnSize="sm" btnTitle="Add an article" btnClass="btn btn-dark  " [template]="addArticle"></Modal>
            </li>
        </ul>

        <div class="m-0 bl br" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
            <div class="card-header bg-white d-flex aic">
                <div>
                    <div class="h1 m-0 card-title dw">Bootstrap Icons</div>
                </div>
                <div class="ml-auto">
                    <button class="btn btn-outline-danger btn-sm">Remove</button>
                </div>
            </div>
            <div class="card-header bg-white">
                <span class="m-0 text-muted"><i class="ti-alarm-clock"></i> Created at: April 04, 2021 - 7:29PM</span>
            </div>
            <div class="card-body bg-white">
                <div class="d-flex">
                    <p class="pX-20">
                        Free, high quality, open source icon library with over 1,300 icons. Include them anyway you like—SVGs, SVG sprite, or web fonts. Use them with or without Bootstrap in any project.
                    </p>
                    <div>
                        <img class="article-image" [src]="images[0].path" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-0 m-0 w-100">
        <div class="bg-white mT-50">
            <div class="card-header bg-info d-flex h4 aic">
                <div class="text-white mr-auto">Quick links</div>
                <Modal icon="ti-plus" size="lg" title="Add Quick Link" btnSize="sm" btnTitle="Add a quick link" btnClass="btn btn-info ml-auto" [template]="addQuickLinks"></Modal>
            </div>
            <div style="overflow: auto">
                <div class="card-body d-flex aic" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
                    <div class="p-10">
                        <i class="ti-folder text-info" style="font-size: 2rem"></i>
                    </div>
                    <div class="p-10">
                        <span>21 Iloilo Center to rise</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>