<div class="card-body">
    <div class="form-group">
        <label for="">Choose a Municipality</label>
        <select type="text" class="form-control"></select>
    </div>
    <div class="form-group">
        <label for="">Total Population</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Percentage in total</label>
        <textarea type="text" class="form-control"></textarea>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" class="btn btn-success"><i class="ti-check mr-1"></i> Add this Muncipality</button>
</div>