img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.nav {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding-bottom: 5px;
}

.nav,
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@media only screen and (max-width: 1139px) {
    .nav,
    .nav-list {
        display: inline-block;
        width: 100%;
        padding-left: 10px;
    }
    .header-item {
        display: none !important;
    }
}

.show {
    .drop-down-container {
        display: block !important;
    }
    .drop-down {
        position: relative;
    }
}

.nav-list {
    margin-bottom: -5px;
}

.Item,
a {
    cursor: pointer;
    flex: 1;
    font-weight: 500;
    text-decoration: none;
    justify-content: center;
}

.Item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}

.Item:hover {
    .drop-down-container {
        display: block;
    }
}

.drop-down-container {
    display: none;
}

.drop-down {
    min-width: 250px;
    width: auto;
    position: absolute;
    z-index: 9;
    left: -150px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .drop-down {
        left: 30%;
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
    }
}

.drop-down-item {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(gray, 0.2);
    font-size: 13px;
    font-weight: normal !important;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        margin-left: -5px;
        margin-right: 10px;
        font-size: 13px;
    }
    p {
        transform: translateY(10px);
    }
}

.drop-down-item:hover {
    background-color: rgba(150, 150, 150, 0.1);
}

.quick-links-container {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.another-quick-links {
    height: 256px;
    width: 150px;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(150, 150, 150, 0.2);
}

.fixed {
    position: fixed;
    top: 0;
    padding: 0 5vw;
    backdrop-filter: blur(51px);
    padding-top: 5px;
    transform: translate(-5vw);
    width: 105vw;
    .nav-list div:hover {
        font-weight: 900;
    }
}

.hideNav {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0 !important;
    overflow: hidden;
    * {
        display: none;
    }
}

.fix {
    height: 60px !important;
}

.active {
    border: 1px solid rgba($color: white, $alpha: 0.5);
    background-color: #0d47a1;
    color: white;
}

@media only screen and (max-width: 1368px) {
    .fix {
        overflow: hidden;
    }
}

.navbar {
    width: 100%;
}

.nav-header {
    opacity: 0.99;
}