<div
    *ngIf="innerWidth > 1139"
    class="header nav-header"
    [class.fix]="!(hideNav$ | async)"
    [ngClass]="{'w-100': isUser}"
>
    <div
        class="p-20 d-flex aic card-body header-item"
        [class.hideNav]="!(hideNav$ | async)"
        style="transition: 0.3s ease-in-out"
    >
        <img
            src="/assets/new-assets/iloilo-seal.png"
            class="province-logo"
            style="margin-right: 20px"
        />
        <img
            style="width: 70px; height: 70px; margin-top: 30px"
            class="small"
            src="/assets/ipop/logos/ipo-logo.png"
        />
        <div class="p-10">
            <P class="m-0">Republic of the Philippines </P>
            <p class="t-mt-1">Province of Iloilo</p>
            <h1
                class="m-0 h1 t-text-bg-brand t-font-black t-text-4xl"
                style="font-family: Inter"
            >
                PROVINCIAL POPULATION OFFICE
            </h1>
        </div>
    </div>

    <div [@listAnimation]="navs.length" class="nav navbar">
        <div class="nav-list">
            <div
                class="Item t-rounded-t-2xl"
                *ngFor="let nav of navs; trackBy: trackByFn"
                [ngClass]="{
                    'active  t-font-bold  t-py-3': icludesUrl(nav.id)
                }"
            >
                <span *ngIf="nav.name !== 'Iloilo.gov'"> {{ nav.name }}</span>
                <a
                    class="t-text-text-brand hover:t-underline t-font-bold t-text-2xl"
                    *ngIf="nav.name === 'Iloilo.gov'"
                    href="https://www.iloilo.gov.ph/"
                    target="_blank"
                >
                    {{ nav.name }}</a
                >
                <div
                    *ngIf="nav.name !== 'Iloilo.gov'"
                    class="shadow drop-down-container"
                    style="position: relative"
                >
                    <div
                        class="bg-white drop-down t-shadow-2xl t-shadow-bg-brand/20 t-rounded-xl"
                    >
                        <div
                            role="button"
                            (click)="setTitle(child.name)"
                            *ngFor="
                                let child of nav.children;
                                trackBy: trackByFn
                            "
                            class="drop-down-container t-text-left"
                            [routerLink]="
                                '/home/index/' + nav.route + child.route
                            "
                            class="drop-down-item hover:t-bg-bg-brand/10"
                        >
                            <div class="" style="flex: 3">{{ child.name }}</div>

                            <i class="ml-3 ti ti-angle-right t-opacity-50"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ProgressLoader></ProgressLoader>
</div>

<div *ngIf="innerWidth < 1139">
    <nav class="p-0 bg-white nav navbar fixed-top">
        <div class="d-flex">
            <a
                routerLink="/home/index/news"
                class="navbar-brand d-flex aic c-blue-900"
                style="padding: 20px; justify-content: flex-start !important"
            >
                Iloilo Population Office
            </a>
            <i
                (click)="setShowSmallNav()"
                *ngIf="!showSmallNav"
                role="button"
                style="font-size: 2rem"
                class="pt-1 mt-2 mr-4 ti-menu"
            ></i>
            <i
                (click)="setShowSmallNav()"
                *ngIf="showSmallNav"
                role="button"
                style="font-size: 2rem"
                class="pt-1 mt-2 mr-4 ti-close"
            ></i>
        </div>
        <ProgressLoader></ProgressLoader>
    </nav>

    <SmallScreenNav
        (onClose)="onClose()"
        [data]="showSmallNav"
        *ngIf="showSmallNav"
    ></SmallScreenNav>
</div>
