<span>{{ data.title }}</span>
<span class="fw-400 c-blue-900 h4">
	<span class="mr-2" *ngIf="data.barangay !== null">
		{{ data.barangay }}
	</span>
<span class="mr-2" *ngIf="data.municipality !== null">
		{{ data.municipality }}
	</span>
<span class="mr-2" *ngIf="data.barangay === null && data.municipality === null">
		Province
	</span>
<span class="mr-2">
		{{ data.year }}
	</span>
</span>
<div class="p-1 mt-3" style="width: 450px">
    <SummaryComponent title="Total Population " icon="ti-user " spanClass="bgc-blue-50 c-blue-500 " [value]="data.population"></SummaryComponent>
</div>

<div class="p-1 mt-3" style="width: 450px">
    <SummaryComponent title="Total Deaths" icon="ti-power-off" spanClass="bgc-red-50 c-red-500" [value]="data.population"></SummaryComponent>
</div>

<div class="p-1 mt-3" style="width: 450px">
    <SummaryWithPercent title="Crude Death Rate " icon="ti-power-off " spanClass="bgc-red-50 c-red-500 " progressClass="bgc-red-500 " [value]="data.crude_death_rate" [percentValue]="data.crude_death_rate"></SummaryWithPercent>
</div>