<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <label for="">Male </label>
            <input
                [(ngModel)]="data.males"
                type="number"
                class="form-control"
            />
        </div>
        <div class="col-md-6">
            <label for="">Female </label>
            <input
                [(ngModel)]="data.females"
                type="number"
                class="form-control"
            />
        </div>
    </div>

    <hr />
    <div class="mr-5 d-flex aic jcc">
        <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
            <span *ngIf="!isLoading"
                ><i class="mr-1 ti-check"></i>Update this Knowledge on Family
                Planning among PMOC Applicants</span
            >
            <Loader *ngIf="isLoading"></Loader>
        </button>
    </div>
</div>
