<div class="card-body">
    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-6">
            <label for="">Males </label>
            <input [(ngModel)]="data.males" type="number" class="form-control" />
        </div>
        <div class="col-md-6">
            <label for="">Females </label>
            <input [(ngModel)]="data.females" type="number" class="form-control" />
        </div>
    </div>

    <hr />
    <div class="d-flex aic jcc mr-5">
        <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
			<span *ngIf="!isLoading"
				><i class="ti-check mr-1"></i>Update this Knowledge on Family
				Planning among PMC Applicants</span
			>
			<Loader *ngIf="isLoading"></Loader>
		</button>
    </div>
</div>