.rounded-sm {
    border-radius: 0.2rem !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.rounded-right {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-lg {
    border-radius: 0.3rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.avatars-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.avatars-list li {
    display: inline;
}

.avatars-list>li+li {
    margin-left: -0.75rem;
}

.avatar-sm {
    width: 32px !important;
}

.avatar-md {
    width: 48px !important;
}

.avatar-lg {
    width: 64px !important;
}

.avatar-xl {
    width: 110px !important;
}