<div class="pt-5 mt-5 card">
    <div class="pt-5 mt-5 card-body">
        <table class="table mT-30">
            <thead class="table-dark bgc-blue-900">
                <tr>
                    <th><i class="ti-user"></i></th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Location</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Latitutde</th>
                    <th scope="col">Longititude</th>
                    <th scope="col">Device</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Date of Activity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody [@listAnimation]="logs.length">
                <tr *ngFor="let log of logs; trackBy: trackByFn">
                    <td>
                        <img
                            [src]="
                                log.user?.profile_picture?.uri ||
                                '/assets/avatars/face-7.jpg'
                            "
                            alt=""
                        />
                    </td>
                    <td>{{ log.user?.fullname || 'Visitor' }}</td>
                    <td>{{ log.info.city }}, {{ log.info.country }}</td>
                    <td>{{ log.ip_address }}</td>
                    <td>{{ log.info.lat }}</td>
                    <td>{{ log.info.lon }}</td>
                    <td>{{ log.user_agent }}</td>
                    <td>{{ log.action }}</td>
                    <td>
                        {{ log.created_at | date: 'MMMM dd, yyyy - hh:mm a' }}
                    </td>
                    <td>
                        <DropDown [buttons]="dropdown"></DropDown>
                        <ng-template #dropdown>
                            <a
                                target="_blank"
                                [href]="
                                    'https://www.google.com/maps/place' +
                                    '/@' +
                                    log.info.lat +
                                    ',' +
                                    log.info.lon
                                "
                                class="dropdown-item"
                                >View coordinates in google maps</a
                            >
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
        <Pagination
            (onPageChange)="onPageChange($event)"
            [data]="data"
        ></Pagination>
    </div>
</div>
