<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="h5">Males</div>
        </div>
        <div class="col-md-4 mt-4">
            <label for="">15-19 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">20-24 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">25-29 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">30-34 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">35-39 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">40-44 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">45 & UP </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-12 mt-5">
            <div class="h5">Females</div>
        </div>
        <div class="col-md-4 mt-4">
            <label for="">15-19 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">20-24 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">25-29 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">30-34 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">35-39 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">40-44 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">45 & UP </label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" class="btn btn-success">
		<i class="ti-check mr-1"></i> Update this PMC Couple Applicants by Age Group
	</button>
</div>