<div class="card">
	<div class="card-header bg-white">
		<div class="card-title d-flex aic">
			<span>Population Profile </span>
		</div>
		<hr />
		<div class="card-body">
			<div *ngIf="data.barangays !== undefined" class="w-100 row">
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h5 fw-300">Coverage</h5>
					<div class="fw-600 h6 c-red-700">
						<span class="fw-600 h6">
							<span class="mr-2" *ngIf="data.barangay !== null">
								{{ data.barangay | titlecase }}
							</span>
							<span
								class="mr-2"
								*ngIf="data.municipality !== null"
							>
								{{ data.municipality | titlecase }}
							</span>
							<span
								class="mr-2"
								*ngIf="
									data.barangay === null &&
									data.municipality === null
								"
							>
								42 Municipalities + 1 Component City
							</span>
							<span class="mr-2">
								{{ data.year }}
							</span>
						</span>
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Total No. of Barangays
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.barangays || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Total Land Area
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.land_area || 0 | number }}
						<small>sq.km</small>
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Total Household Population
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.household_population || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">Male</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.males || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">Female</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.females || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Sex Ratio (males:females)
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.sex_ratio }}
					</div>
				</div>

				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						No. of Households
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.households || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Average Household Size
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.average_household_size || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Population Density
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.density || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Age Dependency Ratio
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.age_dependency_ratio || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Child Dependency Ratio
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.child_dependency_ratio || 0 | number }}
					</div>
				</div>
				<div class="col-md-6 mb-2 bb pt-1">
					<h5 class="text-secondary mb-2 h6 fw-300">
						Old-Age Dependency Ratio
					</h5>
					<div class="fw-600 h4 c-blue-900">
						{{ data.old_age_dependency_ratio || 0 | number }}
					</div>
				</div>
				<div
					*ngIf="data.dowloadable_link !== null"
					class="col-md-12 mt-2"
				>
					<label for=""
						>Download this data Population Profile on this
						link</label
					>
					<a target="_blank" [href]="data.dowloadable_link">{{
						data.dowloadable_link
					}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
