<div class="m-0 bl br">
    <div class="card-header bg-white d-flex aic">
        <div>
            <div class="h1 m-0 card-title dw">Bootstrap Icons</div>
        </div>
    </div>
    <div class="card-header bg-white">
        <span class="m-0 text-info"><i class="ti-alarm-clock"></i> Created : April 04, 2021 - 7:29PM</span>
    </div>
    <div class="card-body bg-white">
        <div class="d-flex">
            <p class="pX-20">
                Free, high quality, open source icon library with over 1,300 icons. Include them anyway you like—SVGs, SVG sprite, or web fonts. Use them with or without Bootstrap in any project.
            </p>
            <div>
                <img class="article-image" src="../../../../assets/ipop/home/1.jpg" alt="" />
            </div>
        </div>
    </div>
</div>