/* You can add global styles to this file, and also import other style files */

@import './assets/styles/index.scss';
html[theme='dark'] {
    @import './assets/dark/dark.style.scss';
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.circle {
    border-radius: 50% !important;
}

.rounded {
    border-radius: 30px !important;
}

.bb {
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
}

.bl {
    border-left: 1px solid rgba(150, 150, 150, 0.2);
}

.br {
    border-right: 1px solid rgba(150, 150, 150, 0.2);
}