<span>{{ data.title }}</span>
<span class="fw-400 c-blue-900 h4">
	<span class="mr-2" *ngIf="data.barangay !== null">
		{{ data.barangay }}
	</span>
<span class="mr-2" *ngIf="data.municipality !== null">
		{{ data.municipality }}
	</span>
<span class="mr-2" *ngIf="data.barangay === null && data.municipality === null">
		Province
	</span>
<span class="mr-2">
		{{ data.year }}
	</span>
</span>
<br />
<div class="mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Total Population" icon="ti-user" spanClass="bgc-blue-50 c-blue-500" [value]="data.total_population"></SummaryComponent>
</div>
<div class="mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Total In Migration" icon="ti-map-alt" spanClass="bgc-blue-50 c-blue-900" [value]="data.total_in_migrations"></SummaryComponent>
</div>
<div class="mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Total Out Migration" icon="ti-map-alt" spanClass="bgc-orange-50 c-orange-800" [value]="data.total_out_migrations"></SummaryComponent>
</div>

<div class="mt-3 p-1" style="width: 450px">
    <SummaryComponent title="Net Migration" icon="ti-map-alt" spanClass="bgc-yellow-50 c-yellow-800" [value]="data.net_migrations"></SummaryComponent>
</div>