<span>{{ data.title }}</span>
<span class="fw-400 text-danger h4">
	<span class="mr-2" *ngIf="data.barangay !== null">
		{{ data.barangay }}
	</span>
<span class="mr-2" *ngIf="data.municipality !== null">
		{{ data.municipality }}
	</span>
<span class="mr-2" *ngIf="data.barangay === null && data.municipality === null">
		Province
	</span>
<span class="mr-2">
		{{ data.year }}
	</span>
</span>
<br />
<div class="card">
    <div class="card-header bg-white d-flex">
        <div class="h5 mr-auto">Local Migration Data</div>
    </div>
    <div class="layer w-100 card-body">
        <small class="fw-600 c-grey-700">In Migrations </small>
        <span class="pull-right c-grey-600 fsz-sm">{{ data?.total_in_migrations || 0 | number }}%</span
		>
		<div class="progress mT-10">
			<div
				class="progress-bar bgc-green-500"
				style="height: 30px"
				role="progressbar"
				aria-valuenow="50"
				aria-valuemin="0"
				aria-valuemax="100"
				[style.width]="data?.total_in_migrations + '%'"
			></div>
		</div>
		<div class="layer w-100 mT-15">
			<small class="fw-600 c-grey-700">Out Migrations </small>
			<span class="pull-right c-grey-600 fsz-sm"
				>{{ data?.total_out_migrations || 0 | number }}%</span
			>
			<div class="progress mT-10">
				<div
					class="progress-bar bgc-orange-500"
					style="height: 30px"
					role="progressbar"
					aria-valuenow="50"
					aria-valuemin="0"
					aria-valuemax="100"
					[style.width]="data?.total_out_migrations + '%'"
				></div>
			</div>
		</div>
		<div class="layer w-100 mT-15">
			<small class="fw-600 c-grey-700">Net Migrations </small>
			<span class="pull-right c-grey-600 fsz-sm"
				>{{ data?.net_migrations || 0 | number }}%</span
			>
			<div class="progress mT-10">
				<div
					class="progress-bar bgc-orange-500"
					style="height: 30px"
					role="progressbar"
					aria-valuenow="50"
					aria-valuemin="0"
					aria-valuemax="100"
					[style.width]="data?.net_migrations + '%'"
				></div>
			</div>
		</div>
	</div>
</div>