<div class="card-body">
    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-12">
            <div class="h5">Males</div>
        </div>
        <div class="col-md-3 mt-4">
            <label for="">No Income </label>
            <input [(ngModel)]="data.no_income_male" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Under ₱5,000 </label>
            <input [(ngModel)]="data.under_5k_male" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱5,000-₱9,999 </label>
            <input [(ngModel)]="data['5k_to_10k_male']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱10,000-₱14,999 </label>
            <input [(ngModel)]="data['10k_to_15k_male']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱15,000-₱19,999 </label>
            <input [(ngModel)]="data['15k_to_20k_male']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱20,000-₱24,999 </label>
            <input [(ngModel)]="data['20k_to_25k_male']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱25,000 Up </label>
            <input [(ngModel)]="data['above_25k_male']" type="text" class="form-control" />
        </div>

        <div class="col-md-12 mt-5">
            <div class="h5">Females</div>
        </div>
        <div class="col-md-3 mt-4">
            <label for="">No Income </label>
            <input [(ngModel)]="data.no_income_female" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Under ₱5,000 </label>
            <input [(ngModel)]="data.under_5k_female" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱5,000-₱9,999 </label>
            <input [(ngModel)]="data['5k_to_10k_female']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱10,000-₱14,999 </label>
            <input [(ngModel)]="data['10k_to_15k_female']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱15,000-₱19,999 </label>
            <input [(ngModel)]="data['15k_to_20k_female']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱20,000-₱24,999 </label>
            <input [(ngModel)]="data['20k_to_25k_female']" type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱25,000 Up </label>
            <input [(ngModel)]="data['above_25k_female']" type="text" class="form-control" />
        </div>
    </div>

    <hr />
    <div class="d-flex aic jcc mr-5">
        <button (click)="save()" [disabled]="isLoading" class="btn btn-success">
			<span *ngIf="!isLoading"
				><i class="ti-check mr-1"></i>Update this PMC Applicants by
				Average Monthly Income and Sex</span
			>
			<Loader *ngIf="isLoading"></Loader>
		</button>
    </div>
</div>