<div class="card-body">
    <AddressPicker (onEmit)="fetch($event)"></AddressPicker>

    <div class="row">
        <div class="col-md-12">
            <div class="h5">Males</div>
        </div>
        <div class="col-md-3 mt-4">
            <label for="">No Income </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Under ₱5,000 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱5,000-₱9,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱10,000-₱14,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱15,000-₱19,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱20,000-₱24,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱25,000 Up </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-12 mt-5">
            <div class="h5">Females</div>
        </div>
        <div class="col-md-3 mt-4">
            <label for="">No Income </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">Under ₱5,000 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱5,000-₱9,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱10,000-₱14,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱15,000-₱19,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱20,000-₱24,999 </label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-3 mt-4">
            <label for="">₱25,000 Up </label>
            <input type="text" class="form-control" />
        </div>
    </div>

    <hr />
    <div class="d-flex aic jcc mr-5">
        <button (click)="save()" class="btn btn-success"><i class="ti-check mr-1"></i> PMC Applicants by Average Monthly Income and Sex</button>
    </div>
</div>