<div class="layers bd bgc-white mt-5 pt-5 mb-0">
    <ul class="nav nav-tabs mt-5">
        <li *ngFor="let nav of navs" class="nav-item">
            <a (click)="handleChangeTab(nav.name)" [routerLink]="nav.route" [class.active]="url.includes(nav.route)" class="nav-link text-muted">
                <i [class]="nav.icon"></i> {{ nav.name }}
                <span class="
						small
						d-ib
						lh-0
						va-m
						fw-600
						bdrs-10em
						p-10
						bgc-blue-50
						c-blue-500
					">0</span
				>
			</a>
		</li>
	</ul>
</div>

<router-outlet></router-outlet>