<ng-template #addProgram>
    <AddProgram [program_area_id]="programArea.id"></AddProgram>
</ng-template>

<div class="card">
    <div class="bg-white card-header">
        <h5 class="m-0 text-center card-title d-flex">
            <span style="align-self: center">{{ programArea.title }}</span>
            <span *ngIf="!isUser" class="ml-auto">
                <DropDown [buttons]="dropdown"></DropDown>
                <ng-template #dropdown>
                    <Modal
                        size="lg"
                        [title]="'Add a Program for ' + programArea.title"
                        btnTitle="Add programs"
                        btnClass="dropdown-item"
                        [template]="addProgram"
                    ></Modal>
                </ng-template>
            </span>
        </h5>
    </div>
    <div class="card-body">
        <h4 class="">
            {{ programArea.description }}
            <Modal
                *ngIf="!isSuperAdmin"
                size="lg"
                [title]="'Edit ' + programArea.title"
                btnTitle="Edit"
                btnClass="btn btn-link"
                [template]="editProgram"
            ></Modal>
        </h4>
        <div [@listAnimation]="programArea.activities.length" class="card-body">
            <NoDataComponent [data]="programArea.activities"></NoDataComponent>
            <div
                class="bl br card"
                *ngFor="let activity of programArea.activities"
            >
                <div class="bg-white card-header d-flex aic">
                    <div>
                        <div class="m-0 h3 card-title c-blue-900 dw">
                            <i class="ti-pin-alt"></i> {{ activity.title }}
                        </div>
                        <span class="m-0 text-muted"
                            >Created :
                            {{
                                activity.created_at
                                    | date: 'MMMM dd, yyy - hh:mm a'
                            }}</span
                        >
                    </div>
                    <div *ngIf="!isSuperAdmin" class="ml-auto">
                        <DropDown [buttons]="dropdown"></DropDown>
                        <ng-template #dropdown>
                            <button
                                (click)="removeActivity(activity.id)"
                                class="dropdown-item"
                            >
                                Remove Activity
                            </button>
                        </ng-template>
                    </div>
                </div>
                <div class="bg-white card-body">
                    <div class="aic">
                        <p class="p-20">
                            {{ activity.description }}
                            <span
                                *ngIf="activity.files.length !== 0"
                                class="mr-auto"
                            >
                                <Modal
                                    size="xl"
                                    [title]="'Images of ' + activity.title"
                                    btnTitle="View Images"
                                    [template]="imageViewer"
                                    btnClass="btn btn-link "
                                    (click)="transformImages(activity.files)"
                                >
                                </Modal>
                            </span>
                        </p>
                        <div class="row">
                            <div
                                *ngIf="activity.RA_links !== null"
                                class="col-md-6"
                            >
                                <ul class="list-group">
                                    <li
                                        class="text-white list-group-item active"
                                    >
                                        Republic Act Links
                                    </li>
                                    <li
                                        *ngFor="
                                            let item of toArray(
                                                activity.RA_links
                                            )
                                        "
                                        class="list-group-item"
                                    >
                                        <a target="_blank" [href]="item">{{
                                            item
                                        }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div
                                *ngIf="activity.MC_links !== null"
                                class="col-md-6"
                            >
                                <ul class="list-group">
                                    <li
                                        class="text-white list-group-item active"
                                    >
                                        Memorandum Circular Links
                                    </li>
                                    <li
                                        *ngFor="
                                            let item of toArray(
                                                activity.MC_links
                                            )
                                        "
                                        class="list-group-item"
                                    >
                                        <a target="_blank" [href]="item">{{
                                            item
                                        }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #imageViewer>
    <ImageViewer [images]="currentImages"></ImageViewer>
</ng-template>

<ng-template #editProgram>
    <app-edit-program [data]="programArea"></app-edit-program>
</ng-template>
