<div class="card-body">
    <div class="row">
        <div class="col-md-4 mt-4">
            <label for=""> Number of Sessions Conducted</label>
            <input [(ngModel)]="data.sessions" type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Number of Couples Orriented</label>
            <input [(ngModel)]="data.oriented_couples" type="text" class="form-control" />
        </div>
        <div class="col-md-4 mt-4">
            <label for="">Number of Individual Interviewed</label>
            <input [(ngModel)]="data.individuals_interviewed" type="text" class="form-control" />
        </div>
    </div>
</div>

<hr />
<div class="d-flex aic jcc mr-5">
    <button (click)="save()" class="btn btn-success"><i class="ti-check mr-1"></i> Update this local PMC data</button>
</div>