<div ngbDropdown class="d-inline-block">
    <button
        class="t-rounded-full t-px-3 t-py-2.5 active:t-bg-gray-50"
        ngbDropdownToggle
        placement="right "
        ngbTooltip="More"
    >
        <i class="bi bi-three-dots t-text-black t-text-2xl"></i>
    </button>

    <div
        ngbDropdownMenu
        id="dropdown-container"
        class="bg-white t-rounded-2xl t-shadow-2xl t-border-none t-shadow-bg-brand/20 t=py-2"
    >
        <ng-template #name [ngTemplateOutlet]="buttons"> </ng-template>
    </div>
</div>
